* {
	
    -color-principal-0: #0e6687;
	-color-principal-1: #0082AA;
	-color-principal-2: #1282AA;
	
	-color-principal-3: #86ABCC;
	-color-base-1: #FFFFFF;
	-color-base-2: #F0F3F6;
	-color-base-3: #E0E0E0;
	
	-color-base-4: #96BBCC;
	
	-color-text: #1282AA;
	
	-fx-disabled-opacity: 0.4;
}

.root {
	-fx-font-family: "DM Sans Medium";
}

.main-izquierda {
   -fx-border-width: 0;
   -fx-background-color: -color-base-1;
}
.main-izquierda .button{
   -fx-border-width: 0;
}
.main-derecha {
   -fx-background-color: -color-base-1;
}
.titulo-ventana {
	-fx-alignment: center;
    -fx-background-color: -color-principal-1;
    -fx-pref-height: 50px;
    -fx-min-height: 50px;
}
.titulo-ventana .label{
	-fx-alignment: center ;
    -fx-text-fill: -color-base-1;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}
.label-stock{
	-fx-text-fill: -color-text;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}
.text-right{
     text-align: right;     
}
.textoResaltado{
    -fx-font-weight: bold;
    -fx-font-size: 20px;  
    -fx-text-fill: -color-text;
}
.texto-negrita{
    -fx-font-weight: bold;
    -fx-text-fill: -color-text; 
}
.etiqueta-titulo2{
    -fx-font-weight: bold;    
}
.nombre-accion {
    -fx-background-color: -color-base-1;
    -fx-font-size: 16px;
    -fx-text-aligment: center;
}
.componente-transparente{
    -fx-background-color: rgba(0, 0, 0, 0);    
}

.text-input:readonly, .text-input:disabled {
  -fx-font-size: 16px;
  -fx-text-fill: -color-text;
  -fx-prompt-text-fill: -color-text;
  -fx-opacity: 0.6;
  -fx-background-color: -color-base-2;
}

.text-input:focused {
	-fx-effect: innershadow(gaussian, -color-principal-1, 5, 0, 0, 0);
}

.background-card-pane {
	-fx-background-color: -color-base-2; /* usado por .lightgrey-background*/
}
.card {
 	-fx-background-color: white;
 	-fx-background-radius: 10 10 10 10;
 	-fx-background-insets: 5 5 5 5;
 	-fx-padding: 15 15 15 15;
 }
 /* GENERIC SCROLLBAR */
.scroll-bar:vertical, .scroll-bar:horizontal,
.scroll-bar:vertical .track, .scroll-bar:horizontal .track,
.scroll-bar:vertical .track-background, .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.scroll-bar:vertical, .scroll-bar:horizontal {
    -fx-pref-width: 30px;
    -fx-padding: 3;
}
.scroll-bar:vertical .increment-button, .scroll-bar:horizontal .increment-button,
.scroll-bar:vertical .decrement-button, .scroll-bar:horizontal .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 0 0 0 0;
}
.scroll-bar:vertical .thumb, .scroll-bar:horizontal .thumb{
    -fx-background-color: -color-base-3;
    -fx-background-radius: 10px;
}

 /* TABLEVIEW */
.table-view,
.table-view:focused {
	-fx-background-color: transparent;
}
.table-view .column-header,
.table-view .column-header-background .filler,
.table-view .corner {
   -fx-background-color: transparent;
   -fx-border-width: 0px;
}
.table-view .column-header-background{
	-fx-background-radius: 15 15 0 0;
    -fx-background-color: transparent;
    -fx-border-color: -color-base-3;
    -fx-border-width: 0 0 1px 0;
    -fx-pref-height : 40px;
}
.table-view .column-header .label{
    -fx-alignment: CENTER_LEFT;
    -fx-text-alignment: left;
    -fx-padding: 0 15px 0 15px;
}
.table-view #tcImporte{ /* identificador temporal */
    -fx-alignment: CENTER_RIGHT;
    -fx-text-alignment: right;
}
.table-view .column-header-background .label{
	-fx-text-fill: -color-text;
}

.table-view .table-cell{
    -fx-border-color: transparent;
}

.table-view .table-row-cell,
.table-view .table-row-cell:even,
.table-view .table-row-cell:odd{
    -fx-background-color: transparent;
    -fx-background-insets: 1 0 0 0;
    -fx-border-color: -color-base-3;
    -fx-border-width: 1px 0 0 0;
    -fx-cell-size: 40px;
    -fx-padding: 2 0 2 2px;
}
.table-view .table-row-cell:hover {
    -fx-background-color: -color-base-3;
	-fx-background-radius: 0 0 0 0;
}
.table-view .table-row-cell:focused {
    -fx-background-color: -color-principal-1;
    -fx-background-radius: 0 0 0 0;
    -fx-text-fill: -color-base-1;
}
.table-view .table-row-cell:empty,
.table-view .table-cell:empty:hover {
	-fx-background-color: transparent;
    -fx-border-width: 0 0 0 0;
}

/* scroll */
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background,
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar:vertical {
    -fx-pref-width: 30px;
    -fx-padding: 3;
}
.table-view .virtual-flow .scroll-bar:horizontal{
	 -fx-pref-height: 30px;
    -fx-padding: 3;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 0 0 0 0;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb,
.table-view .virtual-flow .scroll-bar:horizontal .thumb{
    -fx-background-color: -color-base-3;
    -fx-background-radius: 10px;
}

/* SCROLLPANE */
/* same classes as the scrollbar from tables, unify? */
.scroll-pane .scroll-bar:vertical,
.scroll-pane .scroll-bar:vertical .track,
.scroll-pane .scroll-bar:vertical .track-background {
    -fx-background-color: transparent;
}
.scroll-pane .scroll-bar:vertical {
    -fx-pref-width: 30px;
    -fx-padding: 3;
}
.scroll-pane .scroll-bar:vertical .increment-button,
.scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 0 0 0 0;
}
.scroll-pane .scroll-bar:vertical .thumb{
    -fx-background-color: -color-base-3;
    -fx-background-radius: 10px;
}


.wide-scrollbar .scroll-bar:vertical {
    -fx-pref-width: 80px;
    -fx-padding: 10;
}

/*BOTONERA*/
.botonera GridPane{
	-fx-vgap: 5;
	-fx-hgap: 5;
}
.button-panel-box{
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
}
/*CELDAS*/
.boton-mediopago-botonera {
    -fx-font-size: 8px;   
    -fx-text-fill: -color-text;    
}
.rightCol{
    -fx-alignment: CENTER_RIGHT;
}
.leftCol{
    -fx-alignment: CENTER_LEFT;
}
.centerCol{
    -fx-alignment: CENTER;
}
/*BOTONES*/
#panelCabeceraBotonera .button:hover {
	-fx-background-color: transparent;
}
.button:pressed {
        -fx-background-color: rgba(0,0,0,0.08),
        linear-gradient(#9a9a9a, #909090),
        linear-gradient(white 0%, #ececec 50%, #dcdcdc 51%, #ededed 100%);
}
#btnMostrarOcultar {
    -fx-padding: 0 0 0 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;

}
.btStock {
	-fx-background-image: url("czzpos://skin/resource/menu/stock.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 8px center;
    -fx-background-size: 32px 32px;
    /*-fx-padding: 10 10 10 40;*/
    -fx-label-padding: 0 0 0 25;
	
}
.btAceptar {
   	-fx-background-color: -color-principal-2 !important;
	-fx-text-fill: white !important;
	-fx-font-size: 15px !important;
	-fx-font-weight: bold;
	-fx-min-height: 50px;
	-fx-min-width: 115px;
}

.btRecuento {
    -fx-background-image: url("czzpos://skin/resource/icons/calculator.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position:  center;
}


.btCancelar {
    -fx-font-size: 15px !important;
	-fx-font-weight: bold;
	-fx-min-height: 50px;
	-fx-min-width: 115px;
}
.btAlta {
    -fx-background-image: url("czzpos://skin/resource/icons/add.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
    -fx-padding: 10 10 10 40;
}
.btEditar {
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
    -fx-padding: 10 10 10 40;
}
.btTipoDoc {
    -fx-background-image: url("czzpos://skin/resource/icons/view.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position:  center;
}
.btnBuscarArticulos {
    -fx-background-image: url("czzpos://skin/resource/icons/buscar-articulo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position:  center;
    /*-fx-label-padding: 0 0 0 0;*/
}
.btnImprimir {
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
    -fx-padding: 10 10 10 40;
}

.btBuscar {
    -fx-background-image: url("czzpos://skin/resource/icons/view.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
    -fx-padding: 10 10 10 40;
}
.btInfo {
    -fx-background-image: url("czzpos://skin/resource/icons/view.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btLimpiar {
    -fx-background-image: url("czzpos://skin/resource/icons/garbage-blue.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 10px;
}
.btAdministrar {
    -fx-font-size: 15px !important;
	-fx-font-weight: bold;
	-fx-min-height: 50px;
	-fx-min-width: 115px;
}
.btFactura {
    -fx-background-image: url("czzpos://skin/resource/icons/contract.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
    -fx-padding: 10 10 10 40;
}
.btActualizarClaves {
    -fx-background-image: url("czzpos://skin/resource/icons/magic-wand.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
    -fx-padding: 10 10 10 40;
}
.btValidarDocumento{
    -fx-background-image: url("czzpos://skin/resource/icons/documentook.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
    -fx-padding: 10 10 10 40;
}
#btnMostrarOcultar {
    -fx-background-color:
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        -color-principal-1;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,2;
    -fx-padding: 0 0 0 36px;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 8px 4px;
}

#btnMostrarOcultar.menu-mostrado {
    -fx-background-image: url("czzpos://skin/resource/icons/ocultar-menu.png");
}

#btnMostrarOcultar.menu-oculto {
    -fx-background-image: url("czzpos://skin/resource/icons/mostrar-menu.png");
}
.botonMenu {
    -fx-border-width: 0;
}

.botonMenu:focused{
     -fx-background-color:rgba(0,0,0,0.08),
     linear-gradient(#9a9a9a, #909090),
     linear-gradient(white 0%, #ececec 50%, #dcdcdc 51%, #ededed 100%);
    -fx-effect: innershadow( one-pass-box , rgba(0,0,0,1) , 8, 0, 0, 2); 
}
.botonMenu:pressed {
        -fx-background-color:rgba(0,0,0,0.08),
        linear-gradient(#9a9a9a, #909090),
        linear-gradient(white 0%, #ececec 50%, #dcdcdc 51%, #ededed 100%);
}
.anotar-pago-but {
    -fx-background-image: url("czzpos://skin/resource/icons/anotar-pago.png");
        -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
    -fx-padding: 10 10 10 40;
}
/*FORMULARIOS*/
.input-warn-not-focused {
	/*-fx-background-color:#ff5959;*/
	/*-fx-background-color:-color-principal-1;*/
	-fx-background-color:#c0c0c0;
	-fx-text-fill: -color-text;
}
.input-warn-not-focused:focused {
	-fx-background-color: -color-base-1;
}

/* CHECKBOX */

.check-box > .box {
	-fx-background-color: white;
	-fx-background-radius: 5px;
	-fx-background-insets: 1 1 1 1;
	
	-fx-border-color: -color-principal-1;
    -fx-border-radius: 5px;
    
    -fx-padding: 8px;
}
.check-box:focused > .box {
	-fx-effect: innershadow(gaussian, -color-principal-1, 5, 0, 0, 0)
}
.check-box:selected > .box {
	-fx-background-color: -color-principal-1;
	-fx-border-color: white;
}

.check-box:selected:focused > .box {
	-fx-border-color: -color-principal-1;
	-fx-effect: innershadow(gaussian, -color-base-1, 10, 0.1, 0, 0)
}

.check-box:selected > .box > .mark {
    -fx-background-color: white;
    -fx-padding: 5px;
}


.label, .check-box {
    -fx-font-size: 14px;
    -fx-text-fill: -color-text;  
}
.lbError {
    -fx-text-fill:darkred;    
}
.error-formulario  {
    -fx-background-color: #ffbbbb;  
}

.error-formulario:focused {
    -fx-background-color: #ffbbbb;  
    -fx-border-color: #000000; 
}
/*TOTAL*/
.total {
    -fx-background-color: -color-base-3;
    -fx-font-size: 55px;
    -fx-text-fill: -color-text;
    -fx-font-weight: bold;
    -fx-border-color: #a0a0a0;
    -fx-padding: 0px 8px 0px 0px;
 }
.total .text{  
    -fx-padding: 8px;
}
.label-total {
    -fx-font-size: 18px;
    -fx-text-fill: -color-text;
    -fx-font-weight: bold;
}

.label-bold-big {
    -fx-font-size: 20px;
    -fx-text-fill: -color-text;
    -fx-font-weight: bold;
}

.label-bold-medium {
    -fx-font-size: 18px;
    -fx-text-fill: -color-text;
    -fx-font-weight: bold;
}

.total-sub {
    -fx-background-color: -color-base-3;
    -fx-text-fill: -color-text;
    -fx-font-weight: bold;
    -fx-border-color: #a0a0a0;
    -fx-padding-right: 8px;
 }
 
 .labelTipoRetirada{
     -fx-font-size: 20px;  
     -fx-label-padding: 6 0 6 6; 
     -fx-text-fill: -color-text;
 }
/*DIALOGO*/
#ventanaDialogo{    
    -fx-background-color: -color-base-1;
    -fx-background-radius: 5;
    -fx-padding: 10;
    -fx-border-color: #9c9c9c;
    -fx-border-radius: 5;
}
 .pantalla-detalle {    
    /*-fx-background-color: -color-base-1;
    -fx-background-radius: 6;
    -fx-padding: 0;
    -fx-border-color: #9c9c9c;
    -fx-border-radius: 5;*/
}
.pantalla-modal {    
    -fx-background-color: -color-base-1;
    -fx-background-radius: 5;
    -fx-padding: 10;
    -fx-border-color: #9c9c9c;
    -fx-border-radius: 5;
}


#ventanaCargando {    
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-padding: 10;
}
#ventanaVisorImpreso {    
    -fx-background-color: #dcdcdc;
    -fx-background-radius: 5;
    -fx-padding: 10;
}

/*PESTA�AS*/
.tab-pane .tab-header-background{
    -fx-background-color: -color-base-1;
    -fx-effect: null;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -color-principal-1;
}

.tab-pane .tab-header-area .tab{
    -fx-font-size:18;
    -fx-border-color: -color-principal-2 -color-principal-2 -color-principal-2 -color-principal-2;
    -fx-border-width: 1px;
    -fx-background-color: -color-base-1;
    -fx-border-radius: 8px 8px 0px 0px;
	-fx-background-radius: 8px 8px 0px 0px;
	
	-fx-padding: 10 10 10 10;
    -fx-border-insets: 0 2 0 2;
    -fx-background-insets: 0 2 -1 2;
 }
 
.tab-pane .tab-header-area .tab .tab-label{
	-fx-font-size: 16px;
	-fx-text-fill: -color-text;
	-fx-content-display: top;
}

.tab-pane .tab-content-area{
	-fx-background-color: -color-base-2;
}

.tab-pane .tab-header-area .tab:selected{
    -fx-border-color: -color-principal-2 -color-principal-2 -color-base-1 -color-principal-2;
 }
 
.tab-pane .tab-header-area .tab:selected .tab-label{
    -fx-text-fill: -color-text;
 }

/* Tab focus indicator is removed because it overlaps with assigned tab style */
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

/* Icons on each tab */
.tab-pane .tab-header-area .tab.icon-retrieve .tab-label{
	-fx-graphic: url("czzpos://skin/resource/icons/ticket-retrieve.png");
}
.tab-pane .tab-header-area .tab.icon-park .tab-label{
	-fx-graphic: url("czzpos://skin/resource/icons/ticket-park.png");
}

/*DIVISOR*/
.split-pane-divider {
    -fx-background-color: #f2f2f2;
    -fx-border-width: 0px;
}
/*TITLED-PANE*/
.titled-pane .title {
    -fx-cursor: "hand";
    -fx-font-size: 18px;   
    -fx-font-weight: bold;            
   -fx-text-fill: -color-text;   
    -fx-padding: 10 30 10 10;
}
.titled-pane .button {
    -fx-background-radius: 0;
    -fx-border-width: 0;
}
.titled-pane .content {
    -fx-background-color: -color-base-1;
}
.titled-pane .title {
    -fx-background-color:
    linear-gradient(#cce1fc 0%, #dde7f0 100%);
    -fx-border-color: -color-principal-1;
    -fx-border-width: 1 0 1 0;
}
.titled-pane:expanded .title,
.titled-pane:focused .title,
.titled-pane:expanded:hover .title,
.titled-pane:focused:hover .title {
    -fx-background-color:
    linear-gradient(#398adb 0%, #a9cff7 100%);
}
.titled-pane:hover .title {
    -fx-background-color:
    linear-gradient(#a2b7d2 0%, #dbe5ed 100%);
}
.titled-pane:expanded .title .text,
.titled-pane:pressed .title .text,
.titled-pane:focused .title .text{
    -fx-text-fill: -color-base-1;
}
/*PERMISOS*/
.concedido{ 
    -fx-cursor: "hand";
    -fx-background-image: url("czzpos://skin/resource/icons/check.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;       
}
.denegado{   
    -fx-cursor: "hand";
    -fx-background-image: url("czzpos://skin/resource/icons/forbidden.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center; 
}
.administrar{
    -fx-cursor: "hand";
    -fx-background-image: url("czzpos://skin/resource/icons/businessman.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center; 
}

.noestablecido{
    -fx-cursor: "hand";  
    -fx-background-image: url("czzpos://skin/resource/icons/permiso_ninguno.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;     
}

.lineapermiso-administrar{
    -fx-background-image: url("czzpos://skin/resource/icons/businessman.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center; 
}
.lineapermiso-concedido{
    -fx-background-image: url("czzpos://skin/resource/icons/aceptar.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center; 
}
.lineapermiso-denegado{
    -fx-background-image: url("czzpos://skin/resource/icons/forbidden.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center; 
}
.lineapermiso-noestablecido{
    -fx-background-color:white;
}
/*IMPRIMIR TICKET*/
.impresion-tickets .scroll-pane
    {
     -fx-hbar-policy : never;
     -fx-vbar-policy : never;
    }
    
.impresion-tickets{       
    -fx-font: 14px "monospace";
    -fx-background-color: white;
    -fx-text-fill: blue;
}
/*CLIENTE*/
.label-cliente {
	-fx-background-color: -color-base-1;
}

.label-cliente .panelUsuario {
	-fx-border-color: #949494;
	-fx-border-width: 0 0 0 1px;
	-fx-border-radius: 5;
}

.label-cliente .tituloCodCliente {
	-fx-font-weight: bold;
}

.label-cliente .desCliente {
	-fx-text-fill: #81A800;
}
/*APARCAR TICKET*/
.park-wrap {
	-fx-padding-left: 8px;
	-fx-border-color: -color-base-1;
	-fx-border-width: 0 0 0 1px;
}

.lbTiquesAparcados {
	-fx-background-image: url("czzpos://skin/resource/icons/iconoAviso-24.png");
	-fx-background-repeat: no-repeat;
}

.cell-renderer-cupon{
    -fx-background-color: rgba(255, 248, 33, .4);
}

.cell-renderer-lineaDocAjeno{
    -fx-background-color: rgba(255, 248, 33, .4);
}

.cell-renderer-noEdit{
    -fx-background-color: rgba(255, 248, 33, .4);
}

.cell-renderer-apartadoCancelado{
	-fx-background-color: #ffbbbb;
}

.hbox-apartado-finalizado{
	-fx-background-color: rgba(255, 248, 33, .4);
}

.hbox-apartado-cancelado{
	-fx-background-color: #ffbbbb;
}

.btCambio {
	-fx-background-image: url("czzpos://skin/resource/icons/cambio-pago.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.lb-destacado {
    -fx-font-weight: bold;
	-fx-font-size: 20px;
}

.totalProfesional {
    -fx-font-size: 25px;
    -fx-text-fill: -color-text;
    -fx-font-weight: bold;
}

.desgloseProfesional {
    -fx-font-size: 18px;
    -fx-text-fill: -color-text;
    -fx-font-weight: bold;
}

.label-total-desgloseProfesional {
    -fx-font-size: 15px;
    -fx-text-fill: -color-text;
    -fx-font-weight: bold;
	-fx-background-color: -color-base-3;
    -fx-border-color: #a0a0a0;
    -fx-padding: 0px 8px 0px 0px;
}

/* COMBO BOX */
.combo-box-base:showing{
	-fx-padding: 1px 0px 0px 0px;
    -fx-border-width: 1px 1px 0px 1px;
    -fx-border-color: -color-principal-2 -color-principal-2 transparent -color-principal-2;
	-fx-border-radius: 10px 10px 0px 0px;
	-fx-background-radius: 10px 10px 0px 0px;
}

.combo-box{
    -fx-border-width: 1px;
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
    -fx-background-color: white;
    -fx-text-fill: -color-text;
    -fx-font-size: 16px;
    -fx-min-height: 40px;
    -fx-pref-height: 40px;
	-fx-border-color: -color-principal-2;
}

.combo-box:disabled {
	-fx-opacity: 0.6;
}

.combo-box .list-cell {
	-fx-text-fill: -color-text;
	-fx-opacity: 1.0;
}

/* comboBox arrow */
.combo-box .arrow-button {
	-fx-background-color: transparent;
}
.combo-box .arrow-button .arrow {
	-fx-background-color:-color-principal-2;
}

/* comboBox list */
.combo-box .combo-box-popup .list-view {
	-fx-border-width: 0px 1px 1px 1px;
	-fx-border-radius: 0px 0px 10px 10px;
	-fx-background-radius: 0px 0px 10px 10px;
    -fx-background-color: white;
	-fx-border-color: -color-principal-2;
	-fx-padding: 4; /*prevents .list-cell's corners overlapping .list-view border radius */
	-fx-effect: null; /*undoes shadow effect */
}

/* comboBox list cells */
.combo-box .combo-box-popup .list-view .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: -color-text;
}
.combo-box .combo-box-popup .list-view .list-cell:selected,
.combo-box .combo-box-popup .list-view .list-cell:selected:hover {
    -fx-background-color: -color-principal-1;
    -fx-text-fill: -color-base-1;
}

.combo-box .combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: -color-base-3;
}

/* comboBox listview scrollbar */
/* same classes as the scrollbar from tables, unify? */
.combo-box .combo-box-popup .list-view .scroll-bar:vertical,
.combo-box .combo-box-popup .list-view .scroll-bar:vertical .track,
.combo-box .combo-box-popup .list-view .scroll-bar:vertical .track-background {
    -fx-background-color: transparent;
}
.combo-box .combo-box-popup .list-view .scroll-bar:vertical {
    -fx-pref-width: 30px;
    -fx-padding: 3;
}
.combo-box .combo-box-popup .list-view .scroll-bar:vertical .increment-button,
.combo-box .combo-box-popup .list-view .scroll-bar:vertical .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 0 0 0 0;
}
.combo-box .combo-box-popup .list-view .scroll-bar:vertical .thumb{
    -fx-background-color: -color-base-3;
    -fx-background-radius: 10px;
}



.btNumerosSerie {
    -fx-background-image: url("czzpos://skin/resource/icons/note_edit.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
    -fx-padding: 10 10 10 40;
}

.infoFidelizado {
	-fx-cursor: "hand";
}

.preloader-panel {
    -fx-background-color: transparent;
}

.progress-indicator {
    -fx-background-color: transparent;
}

.progress-indicator .spinner {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0, 0 0 0 0, 0 0 0 0;
}

.total-image {   
    -fx-font-size: 45px;
}

.sinborde {
	-fx-border-width: 0;
	-fx-background-insets: 0, 0;
}

.lb-composite-button {
	-fx-text-fill: white;
    -fx-background-color: -color-principal-1;
	-fx-font-size: 14;
	-fx-text-transform: uppercase;
	-fx-font-weight: bold;
	-fx-background-radius: 5, 5, 0, 0;
}

.composite-button {
	-fx-border-color: #006483;
    -fx-border-width: 1px;
}

.composite-button-disable {
	-fx-opacity: 0.5;
}

.btAtras {
    -fx-background-image: url("czzpos://skin/resource/icons/back.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
    -fx-padding: 10 10 10 40;
    -fx-alignment: center-right;
}

.btVerCupones {
    -fx-background-image: url("czzpos://skin/resource/icons/cupon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
    -fx-padding: 10 10 10 40;
}



/*
 * COMERZZIA V5
 */
 
 .bold{
    -fx-font-weight: bold;
}
 .medium-text{
    -fx-font-size: 18px;
}
.big-text {
	-fx-font-size: 32px;
}
.small-text {
	font-size: 13px;
}
.tiny-text {
	-fx-font-size: 9px;
}

 
 .button, .toggle-button {
    -fx-background-color: #F9F9F9;
    -fx-background-radius: 10px;
	-fx-border-radius: 10px;
    -fx-text-fill: -color-text;
    -fx-padding: 10px;
    -fx-font-size: 16px;
	-fx-cursor: "hand";
}

.button:focused {
    -fx-border-width: 1px;
    -fx-border-color: #ededed;
    -fx-border-insets: -1px -1px -1px -1px;
	-fx-background-insets: -2px -2px -2px -2px;
}

.button:hover, .toggle-button:hover {
    -fx-background-color: #e2e2e2;
}

.toggle-button {
	-fx-border-width: 3px;
	-fx-border-color: transparent;
}

.toggle-button:selected {
    -fx-border-color: -color-principal-2;
}

.bt-language{
	-fx-padding: 0px;
}

.bt-language:hover{
	-fx-opacity:0.5;
}

.blue-btn {
	-fx-background-color: -color-principal-2 !important;
	-fx-text-fill: white !important;
	-fx-font-size: 15px !important;
	-fx-font-weight: bold;
	-fx-min-height: 50px;
	-fx-min-width: 115px;
}

.blue-btn:hover {
	-fx-background-color: -color-base-4 !important;
}

.btn {
	-fx-font-size: 15px !important;
	-fx-font-weight: bold;
	-fx-min-height: 50px;
	-fx-min-width: 115px;
}

.text-field-without-border {
	-fx-border-width: 0px;
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
    -fx-background-color: #F9F9F9;
    -fx-text-fill: -color-text;
    -fx-font-size: 16px;
}

.btn-helper,.button-helper{
	-fx-background-image: url("czzpos://skin/resource/icons/search-white.png");
	-fx-background-position: center;
    -fx-background-repeat: no-repeat;
	-fx-background-color: -color-principal-2;
	-fx-background-radius: 10px;
}


.btn-helper, .button-helper:hover {
	-fx-background-color: -color-base-4 !important;
}

.text-field {
	-fx-border-width: 1px;
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
    -fx-background-color: white;
    -fx-text-fill: -color-text;
    -fx-font-size: 16px;
	-fx-border-color: -color-principal-2;
}

.area-component {
	-fx-border-width: 0px;
	-fx-border-radius: 10px 10px 10px 10px;
	-fx-background-radius: 10px 10px 10px 10px;
    -fx-background-color: #F9F9F9;
}

.button-label {
    -fx-font-size: 13px;
}

.icon-edit {
	-fx-background-image: url("czzpos://skin/resource/icons/edit.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 10 10 10 10;
}

.icon-notification {
	-fx-background-image: url("czzpos://skin/resource/icons/notification.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 10 10 10 10;
}

.button-selected {
	-fx-border-width: 3px;
    -fx-border-color: -color-principal-2;
}

.button-datepicker {
	-fx-background-color: -color-principal-2;
    -fx-background-radius: 10px;
	-fx-border-width: 0px;
}

.button-searchdocument{
	-fx-background-color: -color-principal-2;
	-fx-background-radius: 10px;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size: 21px;
}
.button-searchdocument:hover{
	-fx-background-color: -color-base-4;
}	
.button-calendar{
	-fx-background-image: url("czzpos://skin/resource/icons/calendar-white.png");
	-fx-background-position: center;
    -fx-background-repeat: no-repeat;
	-fx-background-color: -color-principal-2;
	-fx-background-radius: 10px;
}
.button-calendar:hover{
	-fx-background-color: -color-base-4;
}

.text-field-document{
	-fx-font-size: 16px;
	-fx-text-fill: -color-text;
}

.text-label{
	-fx-font-size: 16px;
	-fx-text-fill: -color-text;
}

.cash-info-text{
	-fx-text-fill: #000000;
}

.cash-info{
	-fx-background-color: -color-base-1;
	-fx-background-radius: 10;
}

.lb-title {
	-fx-text-fill: -color-text !important;
	-fx-font-size: 18.0px !important;
}

.modal-title {
	-fx-text-fill: -color-principal-1;
    -fx-font-size: 21px;
}

.centered-modal {
	-fx-background-radius: 10 10 10 10;
}

.tf-amount {
	-fx-background-color: #F9F9F9;
	-fx-background-radius: 10 10 10 10;
	-fx-border-width: 0;
}

.lb-amount {
	-fx-background-color: #F9F9F9;
	-fx-background-radius: 0 10 10 0;
	-fx-border-width: 0;
}

.bottom-pane {
	-fx-background-color: -color-principal-2;
	-fx-background-radius: 10 10 10 10;
	-fx-border-width: 0;
}

.lb-quick-access {
	-fx-font-size: 10px;
    -fx-text-fill: -color-base-4;
}

.lb-total {
	-fx-text-fill: -color-text;
	-fx-font-size: 60px;
}

.lb-bottom-amount {
	-fx-text-fill: white;
	-fx-font-size: 60px;
}

.lightgrey-background {
	-fx-background-color: -color-base-2;
}

.card-blue {
	-fx-background-color: -color-principal-2;
	-fx-background-radius: 10 10 10 10;
	-fx-background-insets: 10 10 10 10;
	-fx-padding: 50;
}
 
.card-blue .label {
	-fx-text-fill: -color-base-1;
}
 
.footer {
	-fx-background-color: -color-principal-2
}
 
.card-blue .blue-btn {
	-fx-background-color: -color-principal-3 !important;
}

.card-blue .blue-btn:hover {
	-fx-background-color: -color-base-4 !important;
}

.btn-notification {
	-fx-background-image: url("../../../pos/gui/images/notifications/bell_little.png");
	 -fx-background-repeat: no-repeat;
    -fx-background-position: center;
	-fx-cursor: hand;
	-fx-padding: 0 0 0 0; 
}

.btn-notification.info {
	-fx-background-image: url("../../../pos/gui/images/notifications/bell_little.png");
}

.btn-notification.warn {
	-fx-background-image: url("../../../pos/gui/images/notifications/bell-warn_little.png");
}

.btn-notification.error {
	-fx-background-image: url("../../../pos/gui/images/notifications/bell-error_little.png");
}

.underline {
	-fx-border-width: 0 0 2 0;
	-fx-border-color: -color-principal-2;
}


/* *********** HEADER STYLES ************ */

.header {
	-fx-background-color: -color-principal-2;
}

.header-gradient {
	-fx-background-color:
        rgba(0,0,0,0.08),
        linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,100) 100%);
}

.header-component {
	-fx-background-color: -color-principal-2;
}

.label-white {
	-fx-text-fill: white;
}

.label-big {
	-fx-font-weight: bold;
	-fx-font-size: 18px;
}

.label-soft {
	-fx-opacity: 0.5;
	-fx-font-size: 15px;
}

.icon-close {
	-fx-background-image: url("czzpos://skin/resource/icons/close.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.bg-base-1 {
	-fx-background-color: -color-base-1;
}
