#doctype
<html>
	#htmlhead("/sales/refund/refund.css")
	<body class="czz-base p-2">
		#environmentData('/sales/refund/refund')
		#if($offlineRecovered)
			<div class="content has-filler">
				<div class="flex-fill">
					<div class="alert alert-danger" role="alert"">
						<h2 class="alert-heading">#i18n("No se pudo recuperar el ticket de central")</h2>
						<hr>
						<p>#i18n("Por favor, valide las líneas del ticket durante la devolución.")</p>			
					</div>
				</div>
			</div>
		#end
		#if($basket.getLines().size() <= 0)
			#parse("sales/refund/refundEmpty.vm")
		#else
			<div class="czz-card content has-filler">
					<table class="table">
						<thead>
							<tr>
								<th>#i18n("Artículo")</th>
								<th class="text-end" width="15%">#i18n("Unid")</th>
								<th class="text-end" width="18%">#i18n("PVP")</th>
								<th class="text-end" width="15%">#i18n("Importe")</th>
							</tr>
						</thead>
						<tbody>
							#set($max = $basket.getLines().size() - 1)
							#if($max >= 0)
								#foreach ($i in [ $max ..  0 ])
									#set($basketItem = $basket.getLines()[$i])
									#set($isVariableWeight = $basketItem.getItemData().getScaleItemType() == "P")
									#set($unit = "un")
									#if($isVariableWeight)
										#set($unit = "kg")
									#end
									<tr data-bs-toggle="collapse" data-bs-target="#artdata${basketItem.getLineId()}">
										<td>${basketItem.getItemDes()}#if(${basketItem.getDiscount()} > 0) <i class="icon-promotion main-text"></i> #end</td>
										<td class="text-end">
											#if($basketItem.getQuantity() != 1)
												#if($isVariableWeight)
													#number($basketItem.getQuantity() 3)${unit}
												#else
													#number($basketItem.getQuantity())
												#end
											#end
										</td>
										<td class="text-end">
											#if($basketItem.getQuantity() != 1)
												#balance($basketItem.getPriceWithTaxes())/${unit}
											#end
										</td>
										<td class="text-end">#balance($basketItem.getExtendedPriceWithTaxes())</td>
									</tr>
									<tr class="collapse" id="artdata${basketItem.getLineId()}" style="transition: 0s;"> 
										<td colspan="5">
											<div class="row">
												<div class="col-2">
												    ${basketItem.getItemCode()}
	## itemimg(${basketItem.getItemCode()} "" "img-fluid")
												</div>
												<div class="col-6">
													#if(${basketItem.getItemData().getComments()})
													<div class="">${basketItem.getItemData().getComments()}</div>
													<div class="horizontal-separator"></div>
													#end
												
													#if($basketItem.getDiscount() > 0)
													<div class="">#i18n("Descuento aplicado"): ${basketItem.getDiscount()}%</div>
													<div class="horizontal-separator"></div>
													#end
													
													#if(${basketItem.getPromotions().size()} > 0)
													   #set($balance = ${basketItem.getQuantity()} * ${basketItem.getRateItem().getSalesPriceWithTaxes()})
													   <div class="">= #balance($balance) (#i18n("Precio inicial"): #if($isVariableWeight) #number(${basketItem.getQuantity()}, 3) #else #number(${basketItem.getQuantity()}) #end * ${basketItem.getRateItem().getSalesPriceWithTaxes()})</div>
													   #foreach($promotion in ${basketItem.getPromotions()})												      
													      #set($totalDiscount = $promotion.getTotalSavingLessProfit() + $promotion.getTotalSavingLessIncome())
													      #if(${promotion.getAppliedPromotionQuantity()} > 0)
													      	#set($promotedQuantity = ${promotion.getAppliedPromotionQuantity()})
													      #else
													        #set($promotedQuantity = ${promotion.getPromotionQuantity()})
													      #end
	 											          #set($unitDiscount = ${totalDiscount} / ${promotedQuantity})
													      #if(${unitDiscount} != 0)
													         <div class="">- ${totalDiscount} (${promotion.getBasketPromotion().getPromotionText()}: #if($isVariableWeight) #number(${promotedQuantity}, 3) #else #number(${promotedQuantity}) #end  x $unitDiscount)</div>
													      #end										      
													   #end
													   <div class="horizontal-separator"></div>
													#end
													
													<div>
														#if($!combination1Code)
															<span class="">$combination1Code</span> <span>$!{basketItem.getCombination1Code()}</span> 
															<br>
														#end
														#if($!combination2Code)
															<span class="">$combination2Code</span> <span>$!{basketItem.getCombination2Code()}</span> 
															<br> 
														#end
														<span class="">#i18n("Vendedor")</span> <span>${basketItem.getCashier().getUserDes()}</span>
														
													</div>
												</div>
												<div class="col-4 text-end">
													#if ($permission_remove_line)
														#icobutton("icon-delete alternative-text" "execute('DeleteItemRefund', [{'name':'line_id', 'value':'${basketItem.getLineId()}'}])")
													#end
													#if ($permission_edit_line)
														#icobutton("icon-edit alternative-text" "execute('EditItemRefund', [{'name':'line_id', 'value':'${basketItem.getLineId()}'}])")
													#end
													#if ($siteItemUrl)
														#icobutton("icon-info alternative-text" "execute('ShowInfoRefund', [{'name':'url', 'value':'#itemurl(${basketItem.getItemCode()})'}])")
													#end
												</div>
											</div>
										</td>
									</tr>
								#end
							#end
						</tbody>
					</table>
				</div>
				
		#end
		##Filler here makes totals stick to bottom
		<div class="filler"></div>
		<div class="czz-card background-split-colors">
			<div class="d-flex flex-wrap fw-bold">
				<div class="me-auto pe-2 ">
					<span class="big-text">#i18n("Artículos a devolver")</span>
				</div>
				<div class="text-end ">
					<span class="big-text fw-bolder">#number($basket.getTotals().getTotalItems())
					</span>
				</div>
			</div>
			<div class="row totals-section fw-bold">
				<div class="col-6">
					<span class="alternative-text bigger-text">#i18n("Devolver")</span>
				</div>
				<div class="col-6 text-end">
					<span class="alternative-text bigger-text fw-bolder">#balance($basket.getTotals().getTotalToPay())
					</span>
				</div>
			</div>
		</div>
		
		#if($basket.getHeader().getLoyalCustomer())
		#set($fidelizado = $basket.getHeader().getLoyalCustomer())
		<div class="czz-card footer">
			<div class="row without-tb-padding">
				<div class="col-8">
					<div class="row bold">
						<div class="col-4">#i18n("Fidelizado")</div>
						<div class="col-4">#i18n("Tarjeta")</div>
						<div class="col-1">#i18n("Saldo")</div>
					</div>
					<div class="row">
						<div class="col-4">
								$!{fidelizado.getName()}
								$!{fidelizado.getLastName()}
						</div>
						<div class="col-4">$!{fidelizado.getCardNumber()}</div>
						<div class="col-1">
							#if($fidelizado.getCardBalance())
								#number($fidelizado.getCardBalance() -1)
							#end
						</div>
					</div>
				</div>
				<div class="col-4 row without-tb-padding">
					#if($fidelizado.getName())
					<div class="col-12 text-end">
					</div>
					#end
				</div>
			</div>
		</div>
		#end
		#set($customer = $basket.getHeader().getCustomer())
		#if(!$sesion.getAplicacion().getStorePosBusinessData().getDefaultCustomer().getCustomerCode().equals($customer.getCustomerCode()))
		<div class="czz-card footer">
			<div class="row">
				<div class="row bold">
					<div class="col-5">#i18n("Cliente")</div>
					<div class="col-2">#i18n("Código")</div>
					<div class="col-2">#i18n("Documento")</div>
					<div class="col-3">#i18n("Nº de documento")</div>
				</div>
				<div class="row secondary-text">
					<div class="col-5">$!{customer.getCustomerDes()}</div>
					<div class="col-2">$!{customer.getCustomerCode()}</div>
					<div class="col-2">
						$!{customer.getIdentificationTypeCode()}
					</div>
					<div class="col-3">
						$!{customer.getVatNumber()}
					</div>
				</div>
			</div>
		</div>
		#end
	</body>
</html>