<link rel="stylesheet" href="czzpos://skin/template/css/bootstrap.css">

<style>
	#include("/css/comerzzia.css")
</style>
		
<script src="czzpos://skin/template/js/jquery-3.5.1.slim.min.js"></script>
<script src="czzpos://skin/template/js/popper.min.js"></script>
<script src="czzpos://skin/template/js/bootstrap.min.js"></script>

<link href="czzpos://skin/template/icons/icons.css" rel="stylesheet">
   
<script>
	#include("/js/pos-common.js")
	#include("/js/czz-bootstrap.js")
</script>
