.keyboard .button {
	-fx-border-color: rgba(200.0, 200.0, 200.0, 0.3);
	-fx-border-radius: 0.0px;
	-fx-background-color: #F9F9F9;
	-fx-background-radius: 0.0px;
	-fx-background-insets: 0.0px;
	-fx-text-fill: #000000;
	-fx-cursor: hand;
	-fx-font-family: 'DM Sans';
}

.keyboard .button:hover {
	-fx-border-color: rgba(200.0, 200.0, 200.0, 0.3);
	-fx-border-radius: 0.0px;
	-fx-background-color: #F9F9F9;
	-fx-background-radius: 0.0px;
	-fx-background-insets: 0.0px;
	-fx-text-fill: #000000;
	-fx-cursor: hand;
	-fx-font-family: 'DM Sans';
}

.emptyRow {
	-fx-border-color: rgba(200.0, 200.0, 200.0, 0.3);
	-fx-border-radius: 0.0px;
	-fx-background-color: #F9F9F9;
	-fx-background-radius: 0.0px;
	-fx-background-insets: 0.0px;
	-fx-text-fill: #000000;
}

.keyboard .button .text {
	-fx-font-weight: bold;
	-fx-text-fill: #000000;
	-fx-font-size: 34.0px;
}

#okButton {
	-fx-text-fill: -color-principal-2;
}

#searchButton {
	-fx-graphic: url('../../../../gui/images/icons/search-black.png');
}

#clearButton .text {
	-fx-font-size: 21.0px;
}

#deleteButton {
	-fx-graphic: url('../../../../gui/images/icons/backspace-black.png');
}

#multiplyButton .text {
	-fx-font-size: 21.0px;
}

.buttonNoPaddingTop .text {
	-fx-font-size: 39.0px;
}

.buttonNoPaddingTop {
	-fx-padding: 0 10 10 10;
}
