.totals-section > div > span:first-child {
	margin-right: 5px;
}

.background-split-colors {
	background: linear-gradient(180deg, rgba(255,255,255,255) 45%, var(--color-principal-2) 0%);
}

.bigger-text {
	font-size: 50px;
}

.customer-section {
	margin-left: 12px;
	margin-right: 12px;
	background-color: var(--color-base-2) !important;
}

.customer-section > div {
	background-color: var(--color-base-1);
	margin-bottom: 10px;
	border-radius: 10px;
}

.customer-section > div > div {
	padding: 10px 12px 10px 12px;
}

.fake-table-header {
	border-bottom: 1px solid var(--color-principal-2);
	padding-bottom: 12px;
	padding-right: 12px;
}

.fake-table-rows {
	max-height: 55vh;
	overflow-y: auto;
}

.fake-table-rows > div {
	padding: 12px;
	cursor: pointer;
}

.fake-table-rows > div.main-item-data {
	border-top: 1px solid var(--color-principal-2);
}

.fake-table-rows > div.other-item-data {
	border-left: 3px solid #F9B233;
}

.fake-table-rows > div.main-item-data[aria-expanded="true"] {
	border-left: 3px solid #F9B233;
}

.fake-table-rows > div {
	margin: 0px;
}

.empty-refund {
	height: 100%;
	background-color: rgba(0, 0, 0, 0) !important;
}

.empty-refund span {
	font-size: 200px !important;
}

.empty-refund span:before {
    color: var(--color-principal-2) !important;
}

.empty-refund .msg-empty-refund {
	font-size: 50px !important;
    color: var(--color-principal-2) !important;
}