.pantalla-contadora {
    /*-fx-background-color: #424a5e;*/
    /*-fx-background-color: #0082aa;*/
}

.titulo {
    -fx-font-size: 30px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.texto-contadora-title {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.texto-contadora-container {
    -fx-padding: 0px 0px 0px 20px;
}

.texto-morado {
    -fx-text-fill: #5a1b73;
}

.texto-dorado {
    -fx-text-fill: #948a00;
}

.texto-verde {
    -fx-text-fill: #176b20;
}

.texto-naranja {
    -fx-text-fill: #843c00;
}

.texto-azul {
    -fx-text-fill: #00959d;
}

.texto-gris {
    -fx-text-fill: #5f6f75;
}

.texto-rojo {
    -fx-text-fill: #a62929;
}

.texto-negro {
    -fx-text-fill: #000;
}

.container {
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-border-color: #0082aa;
    -fx-border-radius: 10px;
}

.dinero-container {
    -fx-padding: 0px 20px 0px 0px;
}

#panelNumberPadBox {
    -fx-padding: 0px 0px 0px 75px;
}

.total {
    -fx-font-size: 1.5rem;
    -fx-font-weight: bold;
}