#doctype
<html>
	#htmlhead("/cash_management/close/close.css")
	<body>
		<div class="czz-base">
			<div class="czz-card content">
				<table class="table">
					<thead>
						<tr>
							<th class="close-paymode">#i18n("Forma de pago")</th>
							<th class="close-col text-end">#i18n("Entradas")</th>
							<th class="close-col text-end">#i18n("Salidas")</th>
							<th class="close-col text-end">#i18n("Total (E-S)")</th>
							<th class="close-col text-end">#i18n("Recuento")</th>
							<th class="close-col text-end">#i18n("Descuadre")</th>
						</tr>
					</thead>
					<tbody>
						#foreach ($line in $closeLines)
							<tr>
								<td class="close-paymode">$!{line.getPaymentMethod()}</td>
								<td class="close-col text-end">#balance($line.getInput())</td>
								<td class="close-col text-end">#balance($line.getOutput())</td>
								<td class="close-col text-end">#balance($line.getTotal())</td>
								<td class="close-col text-end">#balance($line.getCount())</td>
								<td class="close-col text-end">#balance($line.getMismatch())</td>
							</tr>
						#end
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>