#doctype
<html>
	#htmlhead()
	<body>
		<div class="czz-base">
			<div class="czz-card content has-filler">
				<table class="table">
					<thead>
						<tr>
							<th class="text-start">#i18n("ARTÍCULO")</th>
							<th class="text-start">#i18n("DESCRIPCIÓN")</th>
							<th class="text-end">#i18n("UNID")</th>
							<th class="text-end">#i18n("PVP")</th>
							<th class="text-end">#i18n("DEVUELTAS")</th>
							<th class="text-end">#i18n("DEVOLVER")</th>
							<th class="text-center">#i18n("AÑADIR")</th>
						</tr>
					</thead>
					<tbody>
						#set($max = $refunding_lines.size() - 1)
						#foreach ($index in [ $max ..  0 ])
							#set($line = $refunding_lines[$index])
							#set($originalLine = $line.getOriginalLine())
							<tr data-bs-toggle="collapse" data-bs-target="#lineData${index}">
								<td class="text-start">${originalLine.getItemCode()}</td>
								<td class="text-start">${originalLine.getItemDes()}</td>
								<td class="text-end">
									#if($originalLine.getBalanzaTipoArticulo() == "P")
										#number($line.getOriginalQuantity() 3)
									#else
										#number($line.getOriginalQuantity())
									#end
								</td>
								<td class="text-end">
									#balance($line.getRefundSalePrice())
								</td>
								<td class="text-end">
									#if($originalLine.getBalanzaTipoArticulo() == "P")
										#number($line.getRefundedQuantity() 3)
									#else
										#number($line.getRefundedQuantity())
									#end
								</td>
								<td class="text-end">
									#if($originalLine.getArticulo().getBalanzaTipoArticulo() == "P")
										#number($line.getRefundingQuantity() 3)
									#else
										#number($line.getRefundingQuantity())
									#end
								</td>
								<td class="fit avoid-collapse">

									## Checks if buttons will be visible 
									
									#set( $addOneVisibility = "")
									#if($line.getAvailableQuantity() <= 1 || $line.getOriginalQuantity().stripTrailingZeros().scale()>0)
										#set( $addOneVisibility = "visibility:hidden;")
									#end
									
									#set( $addAllVisibility = "")
									#if($line.getAvailableQuantity() <= 0)
										#set( $addAllVisibility = "visibility:hidden;")
									#end
									
									## Prints buttons
									<span style="$addOneVisibility">
										#img("icons/add-one.png" "execute('addOne', [{'name':'line_id', 'value':'${line.getLineId()}'}])")
									</span>
									<span style="$addAllVisibility">
										#img("icons/add.png" "execute('addLine', [{'name':'line_id', 'value':'${line.getLineId()}'}])")
									</span>
								
								</td>
								
							</tr>
							<tr class="collapse" id="lineData${index}" style="transition: 0s;">
								<td colspan="7">
									<div class="row">
										<div class="col-2">
											#itemimg(${originalLine.getItemCode()} "" "img-fluid")
										</div>
										<div class="col-6">
											#if(${originalLine.getExpandedDes()})
											<div class="">${originalLine.getExpandedDes()}</div>
											<div class="horizontal-separator"></div>
											#end
										
											#if($originalLine.getDiscount() > 0)
											<div class="">#i18n("Descuento aplicado"): ${originalLine.getDiscount()}%</div>
											<div class="horizontal-separator"></div>
											#end
										
											<div>
												#if($!combination1)
													<span class="">$combination1</span> <span>$!{originalLine.getCombination1Code()}</span> 
													<br>
												#end
												#if($!combination2)
													<span class="">$combination2</span> <span>$!{originalLine.getCombination2Code()}</span> 
													<br> 
												#end
												<span class="">#i18n("Vendedor")</span> <span>${originalLine.getAuxCashier()}</span>
												
											</div>
										</div>
										<div class="col-4"></div>
									</div>
								</td>
							</tr>
						#end
					</tbody>
				</table>
			</div>
			<div class="filler"></div>
		</div>
	</body>
</html>