.metadata/
.settings/
.classpath
.project
target/
/comerzzia-bimbaylola-pos-resources/configuracion/00comerzzia-pos.xml
/comerzzia-bimbaylola-pos-resources/configuracion/comerzzia-pos.xml
/comerzzia-bimbaylola-pos-resources/configuracion/pos_config.xml
/jc3api-gui/.gitignore
/jc3api-gui/autotest.txt
/jc3api-gui/c3config
/jc3api-gui/d191226.log
/jc3api-gui/d191227.log
/jc3api-gui/logs/jc3api.log
/jc3api-gui/logs/jc3api.log.1
/jc3api-gui/src/gui/ingenico/fr/jc3api/C3AgentSimPruebas.java
/jc3api-gui/ticket1
/jc3api-gui/ticket2
/jc3api-gui/trc_CA.log
/comerzzia-bimbaylola-pos-gui/hs_err_pid10200.log
/comerzzia-bimbaylola-pos-resources/configuracion/pos_config_0.xml
/comerzzia-bimbaylola-pos-services/src/main/java/com/comerzzia/bimbaylola/pos/services/ticket/pagos/tarjeta/.gitignore
JSONCMD10010300
c3CtxGen.10010300
d200211.log
d200212.log
lastNumTerm
ticket.aut
trc_CA.log
c3config_
jc3api-example_.properties
jc3api-gui_.properties
jc3api-log4j_.properties
jc3api.log
jc3api.log.1
jc3api.log.2
jc3api.log.3
pos_config_.xml
