.linea-negativa .table-cell {
    -fx-text-fill: red;
}

.table-view .linea-negativa.table-row-cell:focused .table-cell {
    -fx-text-fill: #ff0000;
}

.cabecera-venta {
	-fx-background-color: #85b037;
	-fx-text-fill: #0082aa;
    -fx-height: 42px;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.cabecera-offline {
	-fx-background-color: #c7290a;
	-fx-text-fill: #ffffff;
    -fx-height: 42px;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}