<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comerzzia.dinosol.pos.persistence.motivos.MotivosCambioPrecioMapper">
  <resultMap id="BaseResultMap" type="com.comerzzia.dinosol.pos.persistence.motivos.MotivosCambioPrecio">
    <id column="UID_ACTIVIDAD" jdbcType="VARCHAR" property="uidActividad" />
    <id column="COD_MOTIVO" jdbcType="VARCHAR" property="codMotivo" />
    <result column="DES_MOTIVO" jdbcType="VARCHAR" property="desMotivo" />
    <result column="VISIBLE_EN_EDICION" jdbcType="CHAR" property="visibleEnEdicion" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    UID_ACTIVIDAD, COD_MOTIVO, DES_MOTIVO, VISIBLE_EN_EDICION
  </sql>
  <select id="selectByExample" parameterType="com.comerzzia.dinosol.pos.persistence.motivos.MotivosCambioPrecioExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from X_MOTIVOS_CAMBIO_PRECIO_TBL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.comerzzia.dinosol.pos.persistence.motivos.MotivosCambioPrecioKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from X_MOTIVOS_CAMBIO_PRECIO_TBL
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and COD_MOTIVO = #{codMotivo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.comerzzia.dinosol.pos.persistence.motivos.MotivosCambioPrecioKey">
    delete from X_MOTIVOS_CAMBIO_PRECIO_TBL
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and COD_MOTIVO = #{codMotivo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.comerzzia.dinosol.pos.persistence.motivos.MotivosCambioPrecioExample">
    delete from X_MOTIVOS_CAMBIO_PRECIO_TBL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.comerzzia.dinosol.pos.persistence.motivos.MotivosCambioPrecio">
    insert into X_MOTIVOS_CAMBIO_PRECIO_TBL (UID_ACTIVIDAD, COD_MOTIVO, DES_MOTIVO, 
      VISIBLE_EN_EDICION)
    values (#{uidActividad,jdbcType=VARCHAR}, #{codMotivo,jdbcType=VARCHAR}, #{desMotivo,jdbcType=VARCHAR}, 
      #{visibleEnEdicion,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.comerzzia.dinosol.pos.persistence.motivos.MotivosCambioPrecio">
    insert into X_MOTIVOS_CAMBIO_PRECIO_TBL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uidActividad != null">
        UID_ACTIVIDAD,
      </if>
      <if test="codMotivo != null">
        COD_MOTIVO,
      </if>
      <if test="desMotivo != null">
        DES_MOTIVO,
      </if>
      <if test="visibleEnEdicion != null">
        VISIBLE_EN_EDICION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uidActividad != null">
        #{uidActividad,jdbcType=VARCHAR},
      </if>
      <if test="codMotivo != null">
        #{codMotivo,jdbcType=VARCHAR},
      </if>
      <if test="desMotivo != null">
        #{desMotivo,jdbcType=VARCHAR},
      </if>
      <if test="visibleEnEdicion != null">
        #{visibleEnEdicion,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.comerzzia.dinosol.pos.persistence.motivos.MotivosCambioPrecioExample" resultType="java.lang.Long">
    select count(*) from X_MOTIVOS_CAMBIO_PRECIO_TBL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update X_MOTIVOS_CAMBIO_PRECIO_TBL
    <set>
      <if test="record.uidActividad != null">
        UID_ACTIVIDAD = #{record.uidActividad,jdbcType=VARCHAR},
      </if>
      <if test="record.codMotivo != null">
        COD_MOTIVO = #{record.codMotivo,jdbcType=VARCHAR},
      </if>
      <if test="record.desMotivo != null">
        DES_MOTIVO = #{record.desMotivo,jdbcType=VARCHAR},
      </if>
      <if test="record.visibleEnEdicion != null">
        VISIBLE_EN_EDICION = #{record.visibleEnEdicion,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update X_MOTIVOS_CAMBIO_PRECIO_TBL
    set UID_ACTIVIDAD = #{record.uidActividad,jdbcType=VARCHAR},
      COD_MOTIVO = #{record.codMotivo,jdbcType=VARCHAR},
      DES_MOTIVO = #{record.desMotivo,jdbcType=VARCHAR},
      VISIBLE_EN_EDICION = #{record.visibleEnEdicion,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.comerzzia.dinosol.pos.persistence.motivos.MotivosCambioPrecio">
    update X_MOTIVOS_CAMBIO_PRECIO_TBL
    <set>
      <if test="desMotivo != null">
        DES_MOTIVO = #{desMotivo,jdbcType=VARCHAR},
      </if>
      <if test="visibleEnEdicion != null">
        VISIBLE_EN_EDICION = #{visibleEnEdicion,jdbcType=CHAR},
      </if>
    </set>
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and COD_MOTIVO = #{codMotivo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.comerzzia.dinosol.pos.persistence.motivos.MotivosCambioPrecio">
    update X_MOTIVOS_CAMBIO_PRECIO_TBL
    set DES_MOTIVO = #{desMotivo,jdbcType=VARCHAR},
      VISIBLE_EN_EDICION = #{visibleEnEdicion,jdbcType=CHAR}
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and COD_MOTIVO = #{codMotivo,jdbcType=VARCHAR}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.comerzzia.dinosol.pos.persistence.motivos.MotivosCambioPrecioExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from X_MOTIVOS_CAMBIO_PRECIO_TBL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>