#doctype
<html>
	#htmlhead("/sales/basket/basket.css")
	<body class="czz-base p-2">
		#if(!$basket)
			#parse("sales/wholesale/basketEmpty.vm")
		#else
			<div class="czz-card content has-filler">
					<table class="table">
						<thead>
							<tr>
								<th>#i18n("Artículo")</th>
								<th class="text-end" width="15%">#i18n("Unid")</th>
								<th class="text-end" width="18%">#i18n("PVP")</th>
								<th class="text-end" width="15%">#i18n("Importe")</th>
							</tr>
						</thead>
						<tbody>
							#set($max = $basket.getLines().size() - 1)
							#if($max >= 0)
							#foreach ($i in [ $max ..  0 ])
								#set($basketItem = $basket.getLines()[$i])
								#set($isVariableWeight = $basketItem.getItemData().getWeightRequired())
								#if($basketItem.getCustomData().get("weight_id"))
									#set($scaleWeightedItem = true)
								#else
									#set($scaleWeightedItem = false)
								#end
								#set($unit = "un")
								#if($isVariableWeight)
									#set($unit = "kg")
								#end
								<tr data-bs-toggle="collapse" data-bs-target="#artdata${basketItem.getLineId()}">
									<td>${basketItem.getItemDes()}#if(${basketItem.getDiscount()} > 0) <i class="icon-promotion main-text"></i> #end</td>
									<td class="text-end">
										#if($basketItem.getQuantity() != 1 || $scaleWeightedItem)
											#if($scaleWeightedItem)
												#if($basketItem.getQuantity() < 0)-#end#number($basketItem.getCustomData().get("weight") 3) ${unit}
											#elseif($isVariableWeight)
												#number($basketItem.getQuantity() 3)${unit}
											#else
												#number($basketItem.getQuantity())
											#end
										#end
									</td>
									<td class="text-end">
										#if($scaleWeightedItem)
											#balance($basketItem.getCustomData().get("price"))/${unit}
										#elseif($basketItem.getQuantity() != 1)
											#balance($basketItem.getPrice())/${unit}
										#end
									</td>
									<td class="text-end">
										#if($scaleWeightedItem && $basketItem.getQuantity() > 0)
											#balance($basketItem.getCustomData().get("amount"))
										#else
											#balance($basketItem.getExtendedPrice())
										#end
									</td>
								</tr>
								<tr class="collapse" id="artdata${basketItem.getLineId()}" style="transition: 0s;"> 
									<td colspan="5">
										<div class="row">
											<div class="col-2">
											    ${basketItem.getItemCode()}
#itemimg(${basketItem.getItemCode()} "" "img-fluid")
											</div>
											<div class="col-6">
												#if($basketItem.getUnitMeasureCode() != "UN" && $basketItem.getUnitMeasureQuantity() != 0)
												    <div class="">#number(${basketItem.getUnitMeasureQuantity()}) ${basketItem.getUnitMeasureCode().toLowerCase()} X #number($basketItem.getUnitMeasureConversionFactor()) = #number($basketItem.getQuantity()) un</div>
													<div class="horizontal-separator"></div>
											    #end
												#if(${basketItem.getItemData().getComments()})
												<div class="">${basketItem.getItemData().getComments()}</div>
												<div class="horizontal-separator"></div>
												#end
											
												#if($basketItem.getDiscount() > 0)
												<div class="">#i18n("Descuento aplicado"): ${basketItem.getDiscount()}%</div>
												<div class="horizontal-separator"></div>
												#end
											
												<div>
													#if($!combination1Code)
														<span class="">$combination1Code</span> <span>$!{basketItem.getCombination1Code()}</span> 
														<br>
													#end
													#if($!combination2Code)
														<span class="">$combination2Code</span> <span>$!{basketItem.getCombination2Code()}</span> 
														<br> 
													#end
													#if(${basketItem.getCashier().getUserCode()} != ${basket.getHeader().getCashier().getUserCode()})
													<span class="">#i18n("Vendedor")</span> <span>${basketItem.getCashier().getUserDes()}</span>
													#end
												</div>
											</div>
											<div class="col-4 text-end">
												#if ($permission_remove_line)
													#icobutton("icon-delete alternative-text" "execute('DeleteItem', [{'name':'line_id', 'value':'${basketItem.getLineId()}'}])")
												#elseif($permission_cancel_line)
													#if(!($basketItem.getCustomData().get("CANCELED_LINE") || $basketItem.getCustomData().get("CANCEL_LINE")))
														#icobutton("icon-delete color-red alternative-text" "execute('CancelItem', [{'name':'line_id', 'value':'${basketItem.getLineId()}'}])")
													#end
												#elseif($permission_negate_line)
													<button type="button" class="btn-circle alternative-text" onclick="execute('NegateItem', [{'name':'line_id', 'value':'${basketItem.getLineId()}'}])">
														+/-
													</button>
												#end
#* 												
												Uncomment to add "+1" button
												#if ($permission_edit_line)
													<button type="button" class="btn-circle alternative-text weight-" onclick="execute('AddQuantityItem', [{'name':'line_id', 'value':'${basketItem.getLineId()}'}, {'name':'quantity', 'value':'1'}])">
														+1
													</button>
												#end
*#
												#if ($permission_edit_line)
													#icobutton("icon-edit alternative-text" "execute('EditItem', [{'name':'line_id', 'value':'${basketItem.getLineId()}'}])")
												#end
												#if($siteItemUrl)
													#icobutton("icon-info alternative-text" "execute('ShowInfoItem', [{'name':'url', 'value':'#itemurl(${basketItem.getItemCode()})'}])")
												#end
											</div>
										</div>
									</td>
								</tr>
							#end
							#end
						</tbody>
					</table>
				</div>
				
				
				##Filler here makes totals stick to bottom
				<div class="filler"></div>
	
				<div class="czz-card footer fw-bold">
					#if(${basket.getTotals().getTotalSavingLessIncome()} > 0)
					<div class="d-flex flex-wrap">
							<div class="flex-fill text-end">
								<span class="tiny-text me-4">#i18n("Total promociones finales")</span>
								<span class="medium-text me-3">#balance($basket.getTotals().getTotalSavingLessIncome())</span>
							</div>
						</div>
						<div class="horizontal-separator"></div>
					#end
					<div class="row d-flex flex-wrap">
						<div class="col me-auto pe-2 secondary-text">
							<span class="medium-text">#i18n("Artículos")</span><span class="big-text">#number($basket.getTotals().getTotalItems())</span>
						</div>
						<div class="col text-end">
							<span class="medium-text">#i18n("Total") </span>
							<span class="big-text">#balance($basket.getTotals().getTotalToPay())</span>
						</div>
					</div>
				</div>
		
		#parse("sales/basket/applyCoupons.vm")
		
		#if($basket.getHeader().getLoyalCustomer())
		#set($fidelizado = $basket.getHeader().getLoyalCustomer())
		<div class="czz-card footer">
			<div class="row without-tb-padding">
				<div class="col-8">
					<div class="row fw-bold">
						<div class="col-4">#i18n("Fidelizado")</div>
						<div class="col-4">#i18n("Tarjeta")</div>
						<div class="col-1">#i18n("Saldo")</div>
					</div>
					<div class="row secondary-text">
						<div class="col-4">
								$!{fidelizado.getName()}
								$!{fidelizado.getLastName()}
						</div>
						<div class="col-4">$!{fidelizado.getCardNumber()}</div>
						<div class="col-1">
							#if($fidelizado.getCardBalance())
								#number($fidelizado.getCardBalance() -1)
							#end
						</div>
					</div>
				</div>
				<div class="col-4 row without-tb-padding">
					#if($fidelizado.getName())
						<div class="col-12 text-end">
							#if(!$fidelizado.getAvailableCoupons().isEmpty())
								#icobutton("icon-coupon flex-fill" "executeOperation('SalesOperations', 'ShowCoupons')")
							#end
							#icobutton("icon-info flex-fill" "executeOperation('SalesOperations', 'ShowLoyaltyInfo')")
						</div>
					#end
				</div>
			</div>
		</div>
		#end
		#set($serviceData = $basket.getHeader().getServiceData())
		#if($serviceData.getServiceTypeCode() && !$serviceData.getServiceTypeCode().equals($defaultServiceType.getServiceTypeCode()))
		<div class="czz-card footer">
			<div class="row secondary-text">
				<div class="row bold">
					<div class="col">
						$!serviceData.getServiceTypeDes()
					</div>
				</div>
			</div>
		<div>
		#end
		#end	
		###set($customer = $basket.getHeader().getCustomer())
		####if(!$basket.getHeader().getStoreCode().equals($customer.getCustomerCode()))
		<div class="czz-card footer">
			<div class="row">
				<div class="row bold">
					<div class="col-5">#i18n("Cliente")</div>
					<div class="col-2">#i18n("Código")</div>
					#if($customer.getIdentificationTypeCode())
					   <div class="col-3">#i18n($!{customer.getIdentificationTypeCode()})</div>
					#else
					   <div class="col-3"></div>
					#end
					<div class="col-2">#i18n("Tarifa")</div>
				</div>
				<div class="row secondary-text">
					<div class="col-5">${customer.getCustomerDes()}</div>
					<div class="col-2">${customer.getCustomerCode()}</div>
					<div class="col-3">$!{customer.getVatNumber()}</div>
					<div class="col-2">
					    #if($basket)
							$!{basket.getHeader().getPriceSettings().getRateCode()}
						#else
						    $!{customer.getRateCode()}
						#end
					</div>
				</div>
			</div>
		</div>
		####end
	</body> 
</html>