<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comerzzia.cardoso.pos.persistence.agente.ClienteAgenteMapper" >
  <resultMap id="BaseResultMap" type="com.comerzzia.cardoso.pos.persistence.agente.ClienteAgenteKey" >
    <id column="CODCLI" property="codcli" jdbcType="VARCHAR" />
    <id column="CODAGE" property="codage" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CODCLI, CODAGE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.comerzzia.cardoso.pos.persistence.agente.ClienteAgenteExample" resultSetType="SCROLL_INSENSITIVE" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from x_cliente_agentes_tbl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.comerzzia.cardoso.pos.persistence.agente.ClienteAgenteKey" >
    delete from x_cliente_agentes_tbl
    where CODCLI = #{codcli,jdbcType=VARCHAR}
      and CODAGE = #{codage,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.comerzzia.cardoso.pos.persistence.agente.ClienteAgenteExample" >
    delete from x_cliente_agentes_tbl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.comerzzia.cardoso.pos.persistence.agente.ClienteAgenteKey" >
    insert into x_cliente_agentes_tbl (CODCLI, CODAGE)
    values (#{codcli,jdbcType=VARCHAR}, #{codage,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.comerzzia.cardoso.pos.persistence.agente.ClienteAgenteKey" >
    insert into x_cliente_agentes_tbl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="codcli != null" >
        CODCLI,
      </if>
      <if test="codage != null" >
        CODAGE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="codcli != null" >
        #{codcli,jdbcType=VARCHAR},
      </if>
      <if test="codage != null" >
        #{codage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.comerzzia.cardoso.pos.persistence.agente.ClienteAgenteExample" resultType="java.lang.Integer" >
    select count(*) from x_cliente_agentes_tbl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update x_cliente_agentes_tbl
    <set >
      <if test="record.codcli != null" >
        CODCLI = #{record.codcli,jdbcType=VARCHAR},
      </if>
      <if test="record.codage != null" >
        CODAGE = #{record.codage,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update x_cliente_agentes_tbl
    set CODCLI = #{record.codcli,jdbcType=VARCHAR},
      CODAGE = #{record.codage,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select resultMap="BaseResultMap" parameterType="com.comerzzia.cardoso.pos.persistence.agente.ClienteAgenteExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from x_cliente_agentes_tbl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>