<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.comerzzia.iskaypet.pos.persistence.ticket.contrato.laws.ContractLawMapper">

    <resultMap id="ContractLawResultMap" type="com.comerzzia.iskaypet.pos.persistence.ticket.contrato.laws.ContractLaw">
        <result property="activityId" column="ACTIVITY_ID"/>
        <result property="codCountry" column="COD_COUNTRY"/>
        <result property="orden" column="ORDEN"/>
        <result property="law" column="LAW"/>
    </resultMap>

    <select id="selectLaws" parameterType="string" resultMap="ContractLawResultMap">
        SELECT ACTIVITY_ID, COD_LANGUAGE, ORDEN, LAW
        FROM X_CONTRACT_LAWS_TBL
        WHERE ACTIVITY_ID = #{activityId}
        AND COD_LANGUAGE = #{codLanguaje}
        ORDER by ORDEN
    </select>

</mapper>
