#if($offline)
<div class="flex-fill">
	<div class="alert alert-danger" role="alert"">
		<h2 class="alert-heading">#i18n("No se pudo recuperar la información de central")</h2>
		<hr>
		<p>#i18n("Por favor, valide que los datos de cliente estén actualizados.")</p>			
	</div>
</div>
#end
<div class="czz-card content has-filler">
	<table class="table">
		<thead>
			<tr>
				<th scope="col" class="col-4">#i18n("Documento")</th>
				<th>#i18n("Nombre")</th>
			</tr>
		</thead>
		<tbody>
			#set($max = $customers.size() - 1)
			#foreach ($i in [ 0 ..  $max ])
				#set($customer = $customers[$i])
				###set($id = "customer${customer.getCustomerCode()}")
				#set($id = "customer${i}")
				<tr data-bs-toggle="collapse" data-bs-target="#${id}">
					<td>#if(${customer.identificationTypeCode})<span class="fw-bold">(${customer.identificationTypeCode}) </span>#end${customer.vatNumber}</td>
					<td>${customer.customerDes}</td>
				</tr>
				<tr #if($customers.size()!=1 || $i != 0) class="collapse" #end id="${id}" style="transition: 0s;"> 
					<td colspan="2">
						<div class="row">
							<div class="col-6">
								<div class="fw-bold">#i18n("Dirección"): </div>
								<div>
									$!{customer.address} ($!{customer.postalCode})
									#if(${customer.city})<br>$!{customer.city},#end $!{customer.province}
									#if(${customer.countryDes}) - $!{customer.countryDes}#else - $!{customer.countryCode}#end
								</div>
							</div>
							<div class="col-6">
								<div class="fw-bold">#i18n("Contacto"): </div>
								<div>
									#if(${customer.email})$!{customer.email} </br>#end
									#if(${customer.phone1})$!{customer.phone1} </br>#end
									$!{customer.phone2}
								</div>
							 ##${$customers.tradeName}
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								<div class="fw-bold">#i18n("Tarifa"): </div>
								<div>
									$!{customer.taxTreatmentDes}
								</div>
							</div>
							<div class="col-6">
								#if(${customer.comments})
									<div class="fw-bold">#i18n("Observaciones"): </div>
									<div>
										${customer.comments}
									</div>
								#end
							 ##${$customers.tradeName}
							</div>
						</div>
						<div class="row">
							<div class="col text-end">
								#icobutton("icon-edit alternative-text" "execute('EditCustomer', [{'name':'index', 'value':'${i}'}])")
								#icobutton("icon-bag alternative-text" "execute('SellToCustomer', [{'name':'index', 'value':'${i}'}])")
							</div>
						</div>
					</td>
				</tr>
			#end
		</tbody>
	</table>
</div>