#doctype
<html>
	#htmlhead()
	<body class="czz-base p-2">
			#if(!$customers)
				#parse("sales/identified/retailidentificationEmpty.vm")
			#else
				#parse("sales/identified/customertable.vm")
			#end
		##Filler here makes totals stick to bottom
		<div class="filler"></div>
	</body> 
</html>