<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comerzzia.iskaypet.pos.persistence.articulos.lotes.LoteArticuloMapper">
  <resultMap id="BaseResultMap" type="com.comerzzia.iskaypet.pos.persistence.articulos.lotes.LoteArticulo">
    <id column="ACTIVITY_UID" jdbcType="VARCHAR" property="activityUid" />
    <id column="WH_CODE" jdbcType="VARCHAR" property="whCode" />
    <id column="ITEM_CODE" jdbcType="VARCHAR" property="itemCode" />
    <id column="COMBINATION1_CODE" jdbcType="VARCHAR" property="combination1Code" />
    <id column="COMBINATION2_CODE" jdbcType="VARCHAR" property="combination2Code" />
    <id column="BATCH_NUMBER_S4" jdbcType="VARCHAR" property="batchNumberS4" />
    <result column="BATCH" jdbcType="VARCHAR" property="batch" />
    <result column="EXPIRATION_DATE" jdbcType="TIMESTAMP" property="expirationDate" />
    <result column="STOCK" jdbcType="DECIMAL" property="stock" />
    <result column="VERSION" jdbcType="BIGINT" property="version" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ACTIVITY_UID, WH_CODE, ITEM_CODE, COMBINATION1_CODE, COMBINATION2_CODE, BATCH_NUMBER_S4, 
    BATCH, EXPIRATION_DATE, STOCK, VERSION
  </sql>
  <select id="selectByExample" parameterType="com.comerzzia.iskaypet.pos.persistence.articulos.lotes.LoteArticuloExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from x_items_batch_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.comerzzia.iskaypet.pos.persistence.articulos.lotes.LoteArticuloKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from x_items_batch_tbl
    where ACTIVITY_UID = #{activityUid,jdbcType=VARCHAR}
      and WH_CODE = #{whCode,jdbcType=VARCHAR}
      and ITEM_CODE = #{itemCode,jdbcType=VARCHAR}
      and COMBINATION1_CODE = #{combination1Code,jdbcType=VARCHAR}
      and COMBINATION2_CODE = #{combination2Code,jdbcType=VARCHAR}
      and BATCH_NUMBER_S4 = #{batchNumberS4,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.comerzzia.iskaypet.pos.persistence.articulos.lotes.LoteArticuloKey">
    delete from x_items_batch_tbl
    where ACTIVITY_UID = #{activityUid,jdbcType=VARCHAR}
      and WH_CODE = #{whCode,jdbcType=VARCHAR}
      and ITEM_CODE = #{itemCode,jdbcType=VARCHAR}
      and COMBINATION1_CODE = #{combination1Code,jdbcType=VARCHAR}
      and COMBINATION2_CODE = #{combination2Code,jdbcType=VARCHAR}
      and BATCH_NUMBER_S4 = #{batchNumberS4,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.comerzzia.iskaypet.pos.persistence.articulos.lotes.LoteArticuloExample">
    delete from x_items_batch_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.comerzzia.iskaypet.pos.persistence.articulos.lotes.LoteArticulo">
    insert into x_items_batch_tbl (ACTIVITY_UID, WH_CODE, ITEM_CODE, 
      COMBINATION1_CODE, COMBINATION2_CODE, BATCH_NUMBER_S4, 
      BATCH, EXPIRATION_DATE, STOCK, 
      VERSION)
    values (#{activityUid,jdbcType=VARCHAR}, #{whCode,jdbcType=VARCHAR}, #{itemCode,jdbcType=VARCHAR}, 
      #{combination1Code,jdbcType=VARCHAR}, #{combination2Code,jdbcType=VARCHAR}, #{batchNumberS4,jdbcType=VARCHAR}, 
      #{batch,jdbcType=VARCHAR}, #{expirationDate,jdbcType=TIMESTAMP}, #{stock,jdbcType=DECIMAL}, 
      #{version,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.comerzzia.iskaypet.pos.persistence.articulos.lotes.LoteArticulo">
    insert into x_items_batch_tbl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="activityUid != null">
        ACTIVITY_UID,
      </if>
      <if test="whCode != null">
        WH_CODE,
      </if>
      <if test="itemCode != null">
        ITEM_CODE,
      </if>
      <if test="combination1Code != null">
        COMBINATION1_CODE,
      </if>
      <if test="combination2Code != null">
        COMBINATION2_CODE,
      </if>
      <if test="batchNumberS4 != null">
        BATCH_NUMBER_S4,
      </if>
      <if test="batch != null">
        BATCH,
      </if>
      <if test="expirationDate != null">
        EXPIRATION_DATE,
      </if>
      <if test="stock != null">
        STOCK,
      </if>
      <if test="version != null">
        VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="activityUid != null">
        #{activityUid,jdbcType=VARCHAR},
      </if>
      <if test="whCode != null">
        #{whCode,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null">
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="combination1Code != null">
        #{combination1Code,jdbcType=VARCHAR},
      </if>
      <if test="combination2Code != null">
        #{combination2Code,jdbcType=VARCHAR},
      </if>
      <if test="batchNumberS4 != null">
        #{batchNumberS4,jdbcType=VARCHAR},
      </if>
      <if test="batch != null">
        #{batch,jdbcType=VARCHAR},
      </if>
      <if test="expirationDate != null">
        #{expirationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        #{version,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.comerzzia.iskaypet.pos.persistence.articulos.lotes.LoteArticuloExample" resultType="java.lang.Long">
    select count(*) from x_items_batch_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update x_items_batch_tbl
    <set>
      <if test="row.activityUid != null">
        ACTIVITY_UID = #{row.activityUid,jdbcType=VARCHAR},
      </if>
      <if test="row.whCode != null">
        WH_CODE = #{row.whCode,jdbcType=VARCHAR},
      </if>
      <if test="row.itemCode != null">
        ITEM_CODE = #{row.itemCode,jdbcType=VARCHAR},
      </if>
      <if test="row.combination1Code != null">
        COMBINATION1_CODE = #{row.combination1Code,jdbcType=VARCHAR},
      </if>
      <if test="row.combination2Code != null">
        COMBINATION2_CODE = #{row.combination2Code,jdbcType=VARCHAR},
      </if>
      <if test="row.batchNumberS4 != null">
        BATCH_NUMBER_S4 = #{row.batchNumberS4,jdbcType=VARCHAR},
      </if>
      <if test="row.batch != null">
        BATCH = #{row.batch,jdbcType=VARCHAR},
      </if>
      <if test="row.expirationDate != null">
        EXPIRATION_DATE = #{row.expirationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="row.stock != null">
        STOCK = #{row.stock,jdbcType=DECIMAL},
      </if>
      <if test="row.version != null">
        VERSION = #{row.version,jdbcType=BIGINT},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update x_items_batch_tbl
    set ACTIVITY_UID = #{row.activityUid,jdbcType=VARCHAR},
      WH_CODE = #{row.whCode,jdbcType=VARCHAR},
      ITEM_CODE = #{row.itemCode,jdbcType=VARCHAR},
      COMBINATION1_CODE = #{row.combination1Code,jdbcType=VARCHAR},
      COMBINATION2_CODE = #{row.combination2Code,jdbcType=VARCHAR},
      BATCH_NUMBER_S4 = #{row.batchNumberS4,jdbcType=VARCHAR},
      BATCH = #{row.batch,jdbcType=VARCHAR},
      EXPIRATION_DATE = #{row.expirationDate,jdbcType=TIMESTAMP},
      STOCK = #{row.stock,jdbcType=DECIMAL},
      VERSION = #{row.version,jdbcType=BIGINT}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.comerzzia.iskaypet.pos.persistence.articulos.lotes.LoteArticulo">
    update x_items_batch_tbl
    <set>
      <if test="batch != null">
        BATCH = #{batch,jdbcType=VARCHAR},
      </if>
      <if test="expirationDate != null">
        EXPIRATION_DATE = #{expirationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="stock != null">
        STOCK = #{stock,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=BIGINT},
      </if>
    </set>
    where ACTIVITY_UID = #{activityUid,jdbcType=VARCHAR}
      and WH_CODE = #{whCode,jdbcType=VARCHAR}
      and ITEM_CODE = #{itemCode,jdbcType=VARCHAR}
      and COMBINATION1_CODE = #{combination1Code,jdbcType=VARCHAR}
      and COMBINATION2_CODE = #{combination2Code,jdbcType=VARCHAR}
      and BATCH_NUMBER_S4 = #{batchNumberS4,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.comerzzia.iskaypet.pos.persistence.articulos.lotes.LoteArticulo">
    update x_items_batch_tbl
    set BATCH = #{batch,jdbcType=VARCHAR},
      EXPIRATION_DATE = #{expirationDate,jdbcType=TIMESTAMP},
      STOCK = #{stock,jdbcType=DECIMAL},
      VERSION = #{version,jdbcType=BIGINT}
    where ACTIVITY_UID = #{activityUid,jdbcType=VARCHAR}
      and WH_CODE = #{whCode,jdbcType=VARCHAR}
      and ITEM_CODE = #{itemCode,jdbcType=VARCHAR}
      and COMBINATION1_CODE = #{combination1Code,jdbcType=VARCHAR}
      and COMBINATION2_CODE = #{combination2Code,jdbcType=VARCHAR}
      and BATCH_NUMBER_S4 = #{batchNumberS4,jdbcType=VARCHAR}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.comerzzia.iskaypet.pos.persistence.articulos.lotes.LoteArticuloExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from x_items_batch_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>