.info {
    -fx-background-image: url("../../imagenes/dialog/iconoInformacion.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
    -fx-padding: 10 10 10 70;
}

.error {
    -fx-background-image: url("../../imagenes/dialog/iconoError.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
    -fx-padding: 10 10 10 70;
}

.warning {
    -fx-background-image: url("../../imagenes/dialog/iconoAviso.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
    -fx-padding: 10 10 10 70;
}

.question {
    -fx-background-image: url("../../imagenes/dialog/iconoConfirmacion.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
    -fx-padding: 10 10 10 70;
}
