<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comerzzia.iskaypet.pos.persistence.fidelizacion.colectivos.LocalFidelizadosColectivosMapper">
  <resultMap id="BaseResultMap" type="com.comerzzia.iskaypet.pos.persistence.fidelizacion.colectivos.LocalFidelizadosColectivosKey">
    <id column="UID_INSTANCIA" jdbcType="VARCHAR" property="uidInstancia" />
    <id column="ID_FIDELIZADO" jdbcType="BIGINT" property="idFidelizado" />
    <id column="COD_COLECTIVO" jdbcType="VARCHAR" property="codColectivo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    UID_INSTANCIA, ID_FIDELIZADO, COD_COLECTIVO
  </sql>
  <select id="selectByExample" parameterType="com.comerzzia.iskaypet.pos.persistence.fidelizacion.colectivos.LocalFidelizadosColectivosExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from x_local_fidelizados_colectivos_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.comerzzia.iskaypet.pos.persistence.fidelizacion.colectivos.LocalFidelizadosColectivosKey">
    delete from x_local_fidelizados_colectivos_tbl
    where UID_INSTANCIA = #{uidInstancia,jdbcType=VARCHAR}
      and ID_FIDELIZADO = #{idFidelizado,jdbcType=BIGINT}
      and COD_COLECTIVO = #{codColectivo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.comerzzia.iskaypet.pos.persistence.fidelizacion.colectivos.LocalFidelizadosColectivosExample">
    delete from x_local_fidelizados_colectivos_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.comerzzia.iskaypet.pos.persistence.fidelizacion.colectivos.LocalFidelizadosColectivosKey">
    insert into x_local_fidelizados_colectivos_tbl (UID_INSTANCIA, ID_FIDELIZADO, COD_COLECTIVO
      )
    values (#{uidInstancia,jdbcType=VARCHAR}, #{idFidelizado,jdbcType=BIGINT}, #{codColectivo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.comerzzia.iskaypet.pos.persistence.fidelizacion.colectivos.LocalFidelizadosColectivosKey">
    insert into x_local_fidelizados_colectivos_tbl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uidInstancia != null">
        UID_INSTANCIA,
      </if>
      <if test="idFidelizado != null">
        ID_FIDELIZADO,
      </if>
      <if test="codColectivo != null">
        COD_COLECTIVO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uidInstancia != null">
        #{uidInstancia,jdbcType=VARCHAR},
      </if>
      <if test="idFidelizado != null">
        #{idFidelizado,jdbcType=BIGINT},
      </if>
      <if test="codColectivo != null">
        #{codColectivo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.comerzzia.iskaypet.pos.persistence.fidelizacion.colectivos.LocalFidelizadosColectivosExample" resultType="java.lang.Long">
    select count(*) from x_local_fidelizados_colectivos_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update x_local_fidelizados_colectivos_tbl
    <set>
      <if test="row.uidInstancia != null">
        UID_INSTANCIA = #{row.uidInstancia,jdbcType=VARCHAR},
      </if>
      <if test="row.idFidelizado != null">
        ID_FIDELIZADO = #{row.idFidelizado,jdbcType=BIGINT},
      </if>
      <if test="row.codColectivo != null">
        COD_COLECTIVO = #{row.codColectivo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update x_local_fidelizados_colectivos_tbl
    set UID_INSTANCIA = #{row.uidInstancia,jdbcType=VARCHAR},
      ID_FIDELIZADO = #{row.idFidelizado,jdbcType=BIGINT},
      COD_COLECTIVO = #{row.codColectivo,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.comerzzia.iskaypet.pos.persistence.fidelizacion.colectivos.LocalFidelizadosColectivosExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from x_local_fidelizados_colectivos_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>