.operation-ERROR {
    display: inline;
    color: #dc3545;
}

.operation-PENDING {
    display: inline;
    color: #007bff;
}

.operation-OK{
    display: inline;
    color: #17a2b8;
}

.operation-WARN{
    display: inline;
    color: #ffc107;
}
