#doctype
<html>
	#htmlhead("/core/initializer.css")
	<body class="czz-base p-2">
		<div class="content has-filler">
			#set($resultClass = "info")
			#foreach($operation in $operations)
				#if($operation.getOperationResult() eq 'WARN' && $resultClass ne "danger")
					#set($resultClass = "warning")
				#elseif($operation.getOperationResult() eq 'ERROR')
					#set($resultClass = "danger")
				#end
			#end
			<div class="alert alert-$resultClass" role="alert">
			#foreach($operation in $operations)
					<div class="row d-flex justify-content-between align-items-center">
						<div class="col-11">$operation.operationDesc <div class="operation-${operation.operationResult}">$operation.operationResult</div>
							#foreach($msg in $operation.getOperationMsgs())
								#if($msg)
								<div class="">
									&emsp;$msg
								</div>
								#end
							#end
						</div>
					</div>
			#end
			</div>
		<div>
		
	</body> 
</html>