.cabecera {
	-fx-background-color: -color-base-1;
}
.cabecera .label{
	-fx-text-fill: -color-principal-1;
	-fx-font-size: 31px;
	-fx-border-color: red, yellow, blue, -color-principal-1;
	-fx-border-width: 0 0 1 0;
}
.wrap-totales{
	-fx-background-color: -color-base-1;
	-fx-border-color: red, yellow, blue, -color-principal-1;
	-fx-border-width: 0 0 1 0;
}
.wrap-totales .label{
	-fx-font-size: 40px;
}
.wrap-importe-estado .label{
	-fx-font-size: 40px;
}
.wrap-table-formas{
	-fx-padding: 30px 0 0 0;
}
.tbPagos .column-header-background {
	visibility: hidden;
	-fx-padding: -1em;
}
.tbPagos {
	-fx-control-inner-background: -color-base-1; /* Color Tabla Activa*/
    -fx-background-color: -color-base-1; /* Color Tabla Desactivada*/
    -fx-border-color: -color-base-1; /* Bordes tabla */
	-fx-table-cell-border-color: -color-base-1; /* Bordes tabla */
	-fx-base: yellow; /* Pulsar encima */
}
.table-row-cell:selected .text {
	-fx-fill: -color-base-1;
}
.tbPagos .table-row-cell:selected  {
   -fx-background-color: -color-principal-1;
}
.tbPagos .table-row-cell:odd {
	-fx-background-color: -color-base-3;
}
.tbPagos .table-row-cell:odd .text{
	-fx-fill: #000000;
}
.titular-formasPago .label{
	-fx-font-size: 20px;
}
.importe-entregado {
	-fx-text-fill: #B0B0B0;
}
.importe-total {
	-fx-text-fill: -color-principal-1;
}
.importe-pendiente {
	-fx-text-fill: -color-principal-1;
}
.importe-cambio {
	-fx-text-fill: #000000;
}
.formaPago .label{
	-fx-text-fill: #000000;
}