.btn-row {
	font-size: 35px;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.btn-td {
	text-align: right;
}

.btn-row button {
	height: 60px;
	width: 100%;
	display: flex;
	border-radius: 0px;
	background-color: rgba(0,0,0,0);
	border-width: 0px;
}

.btn-row button:hover {
	background-color: var(--color-base-4);
	text-align: center;
}

.btn-row button:hover span:before {
	color: var(--color-base-1);
}

.empty-basket {
	height: 100%;
	background-color: rgba(0, 0, 0, 0) !important;
}

.empty-basket span {
	font-size: 200px !important;
}

.empty-basket span:before {
    color: var(--color-base-4) !important;
}

.empty-basket .msg-empty-basket {
	font-size: 50px !important;
    color: var(--color-principal-2) !important;
}
