<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
  
<generatorConfiguration>
	<classPathEntry location="D:\Instaladores\Eclipse Luna\libs\jdbc\mysql-connector-java-5.1.6.jar" />
	<context id="Comerzzia" targetRuntime="MyBatis3">
	
		<plugin type="org.mybatis.generator.plugins.CaseInsensitiveLikePlugin"/>
		<plugin type="org.mybatis.generator.plugins.RowBoundsPlugin"/>
		<plugin type="org.mybatis.generator.plugins.ScrollInsensitivePlugin"/>
		<plugin type="org.mybatis.generator.plugins.ViewPlugin"/>
	
		<commentGenerator>
			<property name="suppressAllComments" value="true"/>
		</commentGenerator>	
	    
	    <jdbcConnection driverClass="com.mysql.jdbc.Driver"
	        connectionURL="jdbc:mysql://vm-desarrollo1.tier.es:3306/czzpos_byl"
	        userId="root"
	        password="fuego">
	    </jdbcConnection>
	    
	    <javaModelGenerator targetPackage="com.comerzzia.bimbaylola.pos.persistence.reservas" targetProject="comerzzia-bimbaylola-pos-persistence/src/main/java">
	      <property name="enableSubPackages" value="false" />
	      <property name="trimStrings" value="true" />
	     </javaModelGenerator>
	    
	    <sqlMapGenerator targetPackage="com.comerzzia.bimbaylola.pos.persistence.reservas"  targetProject="comerzzia-bimbaylola-pos-persistence/src/main/java">
	      <property name="enableSubPackages" value="false" />
	    </sqlMapGenerator>
	
	    <javaClientGenerator type="XMLMAPPER" targetPackage="com.comerzzia.bimbaylola.pos.persistence.reservas" targetProject="comerzzia-bimbaylola-pos-persistence/src/main/java">
	      <property name="enableSubPackages" value="false" />
	    </javaClientGenerator>
	
	    <table tableName="X_CLIE_ALBARANES_GIFTCARD_PAG_TBL" domainObjectName="ReservasPagoGiftCard" />
	</context>
</generatorConfiguration>