#doctype
<html class="h-100">

	## Visor widht variable
	#set($itemVisorWidth = "300px")
	
	##Visor and card width logic. Do not touch
	#if(!$isVisorActive)
		#set($itemVisorWidth = "0px")
	#end
	#set($cardStyle = "height:calc((100vw - $itemVisorWidth) / $itemRow.size());")
	#set($itemVisorWidthStyle = "min-width:"+$itemVisorWidth+";width:"+$itemVisorWidth+";max-width:"+$itemVisorWidth+";")
	## End of visor and card logic
	
	#htmlhead("/sales/picklist/picklist.css")
	<body class="d-flex flex-column h-100">
		#environmentData('/sales/picklist/picklist')
		
		<nav class="breadcrumb-base p-3 m-0">
			<ol class="breadcrumb" style="margin-bottom:0;">
				#foreach($crumb in $pickListPage.getBreadcrumbs())
					#if($foreach.last)
						<li class="breadcrumb-item active" aria-current="page">$crumb</li>
					#else
						<li class="breadcrumb-item">
							<span onclick="execute('gotoBreadcrumb', [{'name':'index', 'value':'${foreach.index}'}]);">$crumb</span>
						</li>
					#end
				#end
			</ol>
		</nav>
	
		
		<div class="d-flex flex-fill flex-row align-items-stretch">
			#if($isVisorActive)
				<div class="p-2 overflow-auto selected-items-base" style="$itemVisorWidthStyle">
					<table class="table" style="table-layout: fixed;">
						<thead>
							<tr>
								<th>#i18n("Artículos")</th>
							</tr>
						</thead>
						<tbody>
							#foreach($item in $selectedItems)
								<tr>
									<td class="d-flex flex-row selected-item" onclick="execute('removeSelected', [{'name':'index', 'value':'${foreach.index}'}]);">
										<span class="flex-fill text-truncate">$item.getItemDes()</span>
										<img src="czzpos://skin/resource/icons/close_blue.png" style="width:24px;height:24px;" />
									</td>
								</tr>
							#end
						</tbody>
					</table>
				</div>
			#end
			
			<div class="flex-fill overflow-auto items-base">
				#foreach($itemRow in $pickListPage.getItemsMatrix())
					<div class="row m-2">
						#foreach($item in $itemRow)
							#if(!$item || $item.getType() eq "HUECO")
								<div class="col m-2 item-element" style="#evaluate($cardStyle)">
									&nbsp;
								</div>
							#else
								#set($itemType = $item.getType().toLowerCase())
								<div style="#evaluate($cardStyle)" class="d-flex flex-column czz-card col m-2 item-element ${itemType}" onclick="execute('gotoBehaviour', [{'name':'code', 'value':'${item.getCode()}'}, {'name':'type', 'value':'${item.getType()}'}, {'name':'behaviour', 'value':'${item.getBehaviour()}'}]);">
									<div class="d-flex flex-fill align-content-center justify-content-center p-0">
										<object style="#evaluate($cardStyle)" class="item-img" data="czzpos://images/resource/${item.getPhoto()}" type="image/jpeg">
											<img class="item-img" src="czzpos://skin/resource/icons/no-image.png" style="#evaluate($cardStyle)"/>
										</object>
									</div>
									<div class="item-text item-text-background"></div>
									<div class="text-center align-middle text-truncate text-wrap item-text item-text-card">
										$item.getDescription()
									</div>
								</div>
							#end
						#end
					</div>
				#end
			</div>
		</div>
		
	</body>
</html>