.count-paymode {
	width: 31%;
}

.count-col {
	width: 23%;
}

.lightgrey-bg {
	background-color: var(--color-base-2);
	height: 100vh;
    display: flex;
    flex-direction: column;
}

.lightgrey-bg .content {
    overflow-y: auto;
}