<html>
	#htmlhead("/secondary_screen/sales/payments/secondarypayments_min.css")
	<body class="lightgrey-bg">
		#environmentData('/secondary_screen/sales/payments/secondarypayments_min')
		<div class="payments-top"></div>
		<div class="czz-base payments-content">
			#set($payments = $basketTransaction.getPayments().getPaymentsList())
			#set($lessIncome = $basketTransaction.getPayments().getLessIncomePayments().values())
			#set($prepayments = $basketTransaction.getPayments().getPrepayments().getPaymentsList())
			#if($MathUtils.compare($basketTransaction.getTotals().getBalanceDue(), 0) == 0 && $MathUtils.compare($basketTransaction.getTotals().getChangeDue().getAmount(), 0) == 0)	
				<div class="czz-card fw-bold">
					<div class="row blue-text label-total">
						<div class="col-4 fw-normal">#i18n("Total")</div>
						<div class="col-8 text-end">#balance($basketTransaction.getTotals().getTotalWithTaxes()) #monetarySimbol()</div>
					</div>
				</div>
			#else
				<div class="czz-card fw-bold content has-filler">
					<div class="row blue-text label-total">
						<div class="col-4 fw-normal payment-label">#i18n("Total")</div>
						<div class="col-8 text-end">#balance($basketTransaction.getTotals().getTotalWithTaxes()) #monetarySimbol()</div>
					</div>
					#if($basketTransaction.getTotals().getTotalPayments() != 0)
					<div class="row blue-text label-total">
						<div class="col-4 fw-normal payment-label">#i18n("Entregado")</div>
						<div class="col-8 text-end">#balance($basketTransaction.getTotals().getTotalPayments()) #monetarySimbol()</div>
					</div>
					#end
				</div>	
			#end
				<div class="filler"></div>
				<div class="czz-card main-color-bg white-text">
					#if($MathUtils.compare($basketTransaction.getTotals().getBalanceDue(), 0) > 0)
					<div class="row d-flex align-items-center">
						<div class="fw-normal payment-label col-4">#i18n("Pendiente")</div>
						<div class="text-end label-pending col">#balance($basketTransaction.getTotals().getBalanceDue()) #monetarySimbol()</div>
					</div>
					#else
					#if($MathUtils.compare($basketTransaction.getTotals().getBalanceDue(), 0) == 0)
					<div class="row pending-area d-flex align-items-center">
						<div class="col">
							<div class="fw-normal payment-label">#i18n("Cambio")</div>
							<div class="big-text">$basketTransaction.getTotals().getChangeDue().getChangePaymentMethod().getPaymentMethodDes()</div>
						</div>
						<div class="col-7">
							<div class="label-pending text-end">#balance($basketTransaction.getTotals().getChangeDue().getAmount()) #monetarySimbol()</div>
						</div>
					</div>
					#end
					#end
				</div>
				
		</div>
	</body> 
</html>