/* Main Structure */
body {
	font-size: 1.2em;
}
.payments-base {
	padding: 15px;
}

/* Top info */

.payments-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1020;
  min-height: 15px;
  background-color: var(--color-base-2);
}

.payments-content {
  position: -webkit-sticky;
  position: sticky;
  top: 15;
  z-index: 1020;
  padding: 0px 15px 1px 15px;
  background-color: var(--color-base-2);
}

.payments-details {
	max-height: 30vh;
	overflow-y: auto; 
}

.payments-details > div.row {
	margin-right: 0px !important;
	font-size: 1.5em;
	height: 40px;
}

.payments-details > div.row > div > i {
	font-size: 30px;
	margin-top: auto;
	margin-bottom: auto;
}

.label-total {
	font-size: 35px;
}

.pending-area {
	background-color: var(--color-principal-0);
	color: white;
	font-size: 55px;
}

.background-split-colors {
	background: linear-gradient(180deg, rgba(255,255,255,255) 60%, var(--color-principal-0) 62%);
}

/* Promotions */
.promotion-row {
	min-height: 35px;
}

.promotion-icon {
	font-size: 24px;
	color: var(--color-principal-2);
}

/* Other info */

.header-area {
	border-bottom: 1px solid var(--color-principal-2);
	padding-bottom: 5px;
}

.delivered-area {
	font-size: 30px;
	margin-bottom: 20px;
}

.delivered-area div:first-child {
	font-size: 16px;
	margin-top: auto;
	margin-bottom: auto;
}

/* Icons */

.icon-payment {
	font-size: 24px;
	color: var(--color-principal-2);
}

.btn-delete {
	background-color: var(--color-principal-2);
	color: white;
	border-radius: 50px;
	width: 50px;
	height: 28px;
	font-size: 20px;
	margin-left: 5px;
	border-width: 0px;
}

.icon-prepayment {
    background-color: transparent;
    color: var(--color-principal-2);
    border-radius: 0px;
    width: 50px;
    height: 28px;
    font-size: 24px;
    margin-left: 5px;
    border-width: 0px;
}
