
NotificationsPopup, #NotificationsPopup{
	-fx-background-image:url("../../../gui/images/notifications/top.png");
	-fx-background-position: left top;
	-fx-background-repeat: no-repeat;
	-fx-font-family: Dosis;
	-fx-font-size: 14px;
}
vBox, #vBox {
	-fx-background-color: transparent;
}
#scrollPane{
	-fx-background-color: transparent;
	-fx-border-width: 0 2 2 2;
	-fx-border-color: #5fb2cc;
	-fx-padding: 0;
}
#container{
	-fx-background-color: #fcfcf7;
	-fx-padding: 0;
}
#btnClearAll{
	-fx-background-color: transparent;
    -fx-background-image: url("../../../gui/images/notifications/removeall.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 0px center;
    -fx-cursor: hand;
    -fx-font-size: 14px;
	-fx-font-weight: bold;
    -fx-padding: 10 10 10 30;
}
#btnClose{
	-fx-background-color: transparent;
    -fx-background-image: url("../../../gui/images/notifications/close.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
    -fx-cursor: hand;
    -fx-font-size: 14px;
	-fx-font-weight: bold;
    -fx-padding: 10 10 10 30;
}

NotificationsPopup .scroll-bar:vertical,
NotificationsPopup .scroll-bar:vertical .track,
NotificationsPopup .scroll-bar:vertical .track-background {
    /*-fx-background-color: transparent;*/
    -fx-background-color: white;
}
NotificationsPopup .scroll-bar:vertical {
    -fx-pref-width: 30px;
    -fx-padding: 3;
}

NotificationsPopup .scroll-bar:vertical .increment-button,
NotificationsPopup .scroll-bar:vertical .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 0 0 0 0;
}
NotificationsPopup .scroll-bar:vertical .thumb{
    -fx-background-color: -color-principal-2;
    -fx-background-radius: 10px;
}