
NotificationRow{
	-fx-background-color: transparent;
	-fx-border-color: #8fc7d6;
	-fx-border-width: 0 0 1 0;
	-fx-padding: 7 8 12 8;
}
.notif-empty-row #imageView{
	-fx-opacity: 0.0;
	-fx-text-alignment: center;
}
.notif-empty-row #btnRemove{
	-fx-opacity: 0.0;
}
.notif-empty-row #lblDate{
	-fx-opacity: 0.0;
}
#btnRemove{
	-fx-background-color: transparent;
	-fx-background-image: url("../../../gui/images/notifications/check.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-border-color: #8fc7d6;
	-fx-border-width: 0 0 0 1; 
	-fx-cursor: hand;
	-fx-padding: 0;
}  
#lblDate{
	-fx-font-size: 11px;
	-fx-text-fill: #9f9f9f;
}