<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comerzzia.iskaypet.pos.persistence.closingday.HeaderClosingEndDayMapper">
  <resultMap id="BaseResultMap" type="com.comerzzia.iskaypet.pos.persistence.closingday.HeaderClosingEndDay">
    <id column="ACTIVITY_UID" jdbcType="VARCHAR" property="activityUid" />
    <id column="END_DAY_UID" jdbcType="VARCHAR" property="endDayUid" />
    <result column="END_DAY_WH_CODE" jdbcType="VARCHAR" property="endDayWhCode" />
    <result column="END_DAY_DATE" jdbcType="TIMESTAMP" property="endDayDate" />
    <result column="CREATION_DATE" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="CREATION_USER" jdbcType="VARCHAR" property="creationUser" />
    <result column="CONFIRMATION_DATE" jdbcType="TIMESTAMP" property="confirmationDate" />
    <result column="CONFIRMATION_USER" jdbcType="VARCHAR" property="confirmationUser" />
    <result column="STORE_COUNT" jdbcType="DECIMAL" property="storeCount" />
    <result column="MANAGER_COUNT" jdbcType="DECIMAL" property="managerCount" />
    <result column="STATUS_ID" jdbcType="INTEGER" property="statusId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ACTIVITY_UID, END_DAY_UID, END_DAY_WH_CODE, END_DAY_DATE, CREATION_DATE, CREATION_USER, 
    CONFIRMATION_DATE, CONFIRMATION_USER, STORE_COUNT, MANAGER_COUNT, STATUS_ID
  </sql>
  <select id="selectByExample" parameterType="com.comerzzia.iskaypet.pos.persistence.closingday.HeaderClosingEndDayExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from x_end_day_hdr_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.comerzzia.iskaypet.pos.persistence.closingday.HeaderClosingEndDayKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from x_end_day_hdr_tbl
    where ACTIVITY_UID = #{activityUid,jdbcType=VARCHAR}
      and END_DAY_UID = #{endDayUid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.comerzzia.iskaypet.pos.persistence.closingday.HeaderClosingEndDayKey">
    delete from x_end_day_hdr_tbl
    where ACTIVITY_UID = #{activityUid,jdbcType=VARCHAR}
      and END_DAY_UID = #{endDayUid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.comerzzia.iskaypet.pos.persistence.closingday.HeaderClosingEndDayExample">
    delete from x_end_day_hdr_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.comerzzia.iskaypet.pos.persistence.closingday.HeaderClosingEndDay">
    insert into x_end_day_hdr_tbl (ACTIVITY_UID, END_DAY_UID, END_DAY_WH_CODE, 
      END_DAY_DATE, CREATION_DATE, CREATION_USER, 
      CONFIRMATION_DATE, CONFIRMATION_USER, STORE_COUNT, 
      MANAGER_COUNT, STATUS_ID)
    values (#{activityUid,jdbcType=VARCHAR}, #{endDayUid,jdbcType=VARCHAR}, #{endDayWhCode,jdbcType=VARCHAR}, 
      #{endDayDate,jdbcType=TIMESTAMP}, #{creationDate,jdbcType=TIMESTAMP}, #{creationUser,jdbcType=VARCHAR}, 
      #{confirmationDate,jdbcType=TIMESTAMP}, #{confirmationUser,jdbcType=VARCHAR}, #{storeCount,jdbcType=DECIMAL}, 
      #{managerCount,jdbcType=DECIMAL}, #{statusId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.comerzzia.iskaypet.pos.persistence.closingday.HeaderClosingEndDay">
    insert into x_end_day_hdr_tbl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="activityUid != null">
        ACTIVITY_UID,
      </if>
      <if test="endDayUid != null">
        END_DAY_UID,
      </if>
      <if test="endDayWhCode != null">
        END_DAY_WH_CODE,
      </if>
      <if test="endDayDate != null">
        END_DAY_DATE,
      </if>
      <if test="creationDate != null">
        CREATION_DATE,
      </if>
      <if test="creationUser != null">
        CREATION_USER,
      </if>
      <if test="confirmationDate != null">
        CONFIRMATION_DATE,
      </if>
      <if test="confirmationUser != null">
        CONFIRMATION_USER,
      </if>
      <if test="storeCount != null">
        STORE_COUNT,
      </if>
      <if test="managerCount != null">
        MANAGER_COUNT,
      </if>
      <if test="statusId != null">
        STATUS_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="activityUid != null">
        #{activityUid,jdbcType=VARCHAR},
      </if>
      <if test="endDayUid != null">
        #{endDayUid,jdbcType=VARCHAR},
      </if>
      <if test="endDayWhCode != null">
        #{endDayWhCode,jdbcType=VARCHAR},
      </if>
      <if test="endDayDate != null">
        #{endDayDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creationUser != null">
        #{creationUser,jdbcType=VARCHAR},
      </if>
      <if test="confirmationDate != null">
        #{confirmationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmationUser != null">
        #{confirmationUser,jdbcType=VARCHAR},
      </if>
      <if test="storeCount != null">
        #{storeCount,jdbcType=DECIMAL},
      </if>
      <if test="managerCount != null">
        #{managerCount,jdbcType=DECIMAL},
      </if>
      <if test="statusId != null">
        #{statusId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.comerzzia.iskaypet.pos.persistence.closingday.HeaderClosingEndDayExample" resultType="java.lang.Long">
    select count(*) from x_end_day_hdr_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update x_end_day_hdr_tbl
    <set>
      <if test="record.activityUid != null">
        ACTIVITY_UID = #{record.activityUid,jdbcType=VARCHAR},
      </if>
      <if test="record.endDayUid != null">
        END_DAY_UID = #{record.endDayUid,jdbcType=VARCHAR},
      </if>
      <if test="record.endDayWhCode != null">
        END_DAY_WH_CODE = #{record.endDayWhCode,jdbcType=VARCHAR},
      </if>
      <if test="record.endDayDate != null">
        END_DAY_DATE = #{record.endDayDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creationDate != null">
        CREATION_DATE = #{record.creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creationUser != null">
        CREATION_USER = #{record.creationUser,jdbcType=VARCHAR},
      </if>
      <if test="record.confirmationDate != null">
        CONFIRMATION_DATE = #{record.confirmationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.confirmationUser != null">
        CONFIRMATION_USER = #{record.confirmationUser,jdbcType=VARCHAR},
      </if>
      <if test="record.storeCount != null">
        STORE_COUNT = #{record.storeCount,jdbcType=DECIMAL},
      </if>
      <if test="record.managerCount != null">
        MANAGER_COUNT = #{record.managerCount,jdbcType=DECIMAL},
      </if>
      <if test="record.statusId != null">
        STATUS_ID = #{record.statusId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update x_end_day_hdr_tbl
    set ACTIVITY_UID = #{record.activityUid,jdbcType=VARCHAR},
      END_DAY_UID = #{record.endDayUid,jdbcType=VARCHAR},
      END_DAY_WH_CODE = #{record.endDayWhCode,jdbcType=VARCHAR},
      END_DAY_DATE = #{record.endDayDate,jdbcType=TIMESTAMP},
      CREATION_DATE = #{record.creationDate,jdbcType=TIMESTAMP},
      CREATION_USER = #{record.creationUser,jdbcType=VARCHAR},
      CONFIRMATION_DATE = #{record.confirmationDate,jdbcType=TIMESTAMP},
      CONFIRMATION_USER = #{record.confirmationUser,jdbcType=VARCHAR},
      STORE_COUNT = #{record.storeCount,jdbcType=DECIMAL},
      MANAGER_COUNT = #{record.managerCount,jdbcType=DECIMAL},
      STATUS_ID = #{record.statusId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.comerzzia.iskaypet.pos.persistence.closingday.HeaderClosingEndDay">
    update x_end_day_hdr_tbl
    <set>
      <if test="endDayWhCode != null">
        END_DAY_WH_CODE = #{endDayWhCode,jdbcType=VARCHAR},
      </if>
      <if test="endDayDate != null">
        END_DAY_DATE = #{endDayDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creationDate != null">
        CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creationUser != null">
        CREATION_USER = #{creationUser,jdbcType=VARCHAR},
      </if>
      <if test="confirmationDate != null">
        CONFIRMATION_DATE = #{confirmationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmationUser != null">
        CONFIRMATION_USER = #{confirmationUser,jdbcType=VARCHAR},
      </if>
      <if test="storeCount != null">
        STORE_COUNT = #{storeCount,jdbcType=DECIMAL},
      </if>
      <if test="managerCount != null">
        MANAGER_COUNT = #{managerCount,jdbcType=DECIMAL},
      </if>
      <if test="statusId != null">
        STATUS_ID = #{statusId,jdbcType=INTEGER},
      </if>
    </set>
    where ACTIVITY_UID = #{activityUid,jdbcType=VARCHAR}
      and END_DAY_UID = #{endDayUid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.comerzzia.iskaypet.pos.persistence.closingday.HeaderClosingEndDay">
    update x_end_day_hdr_tbl
    set END_DAY_WH_CODE = #{endDayWhCode,jdbcType=VARCHAR},
      END_DAY_DATE = #{endDayDate,jdbcType=TIMESTAMP},
      CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      CREATION_USER = #{creationUser,jdbcType=VARCHAR},
      CONFIRMATION_DATE = #{confirmationDate,jdbcType=TIMESTAMP},
      CONFIRMATION_USER = #{confirmationUser,jdbcType=VARCHAR},
      STORE_COUNT = #{storeCount,jdbcType=DECIMAL},
      MANAGER_COUNT = #{managerCount,jdbcType=DECIMAL},
      STATUS_ID = #{statusId,jdbcType=INTEGER}
    where ACTIVITY_UID = #{activityUid,jdbcType=VARCHAR}
      and END_DAY_UID = #{endDayUid,jdbcType=VARCHAR}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.comerzzia.iskaypet.pos.persistence.closingday.HeaderClosingEndDayExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from x_end_day_hdr_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>