<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
  
<generatorConfiguration>
	<classPathEntry location=".\libs\jdbc\ojdbc6.jar" />
	<context id="Comerzzia" targetRuntime="MyBatis3">
	
		<plugin type="org.mybatis.generator.plugins.CaseInsensitiveLikePlugin"/>
		<plugin type="org.mybatis.generator.plugins.RowBoundsPlugin"/>
	
		<commentGenerator>
			<property name="suppressAllComments" value="true"/>
		</commentGenerator>	
	    
	    <jdbcConnection driverClass="com.mysql.jdbc.Driver"
	        connectionURL="jdbc:mysql://127.0.0.1:3306/czzpos_kiw"
	        userId="czzpos_kiw"
	        password="czzpos_kiw">
	    </jdbcConnection>
	    
		<javaModelGenerator targetPackage="com.comerzzia.iskaypet.pos.persistence.closingday" targetProject="comerzzia-iskaypet-pos-gui/src/main/java">
	      <property name="enableSubPackages" value="false" />
	      <property name="trimStrings" value="true" />
	    </javaModelGenerator>
	    																											
	    <sqlMapGenerator targetPackage="com.comerzzia.iskaypet.pos.persistence.closingday"  targetProject="comerzzia-iskaypet-pos-gui/src/main/java">
	      <property name="enableSubPackages" value="false" />
	    </sqlMapGenerator>
	
	    <javaClientGenerator type="XMLMAPPER" targetPackage="com.comerzzia.iskaypet.pos.persistence.closingday"  targetProject="comerzzia-iskaypet-pos-gui/src/main/java">
	      <property name="enableSubPackages" value="false" />
	    </javaClientGenerator>
	
	    <table tableName="X_END_DAY_HDR_TBL" domainObjectName="HeaderClosingEndDay">  	
	    </table>
	</context>
</generatorConfiguration>
