<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.comerzzia.iskaypet.pos.persistence.tickets.articulos.promociones.tipos.combinado.IskaypetGetArticulosPromoMapper">

  <resultMap id="promocionResultMap" type="com.comerzzia.iskaypet.pos.persistence.tickets.articulos.promociones.tipos.combinado.IskaypetArticulosPromo">
    <id property="idPromocion" column="id_promocion"/>
    <result property="descripcion" column="descripcion"/>
    <result property="codart" column="codart"/>
    <result property="codartCondition" column="codartCondition"/>
    <result property="precioPack" column="precioPack"/>
    <result property="textoPromocion" column="TEXTO_PROMOCION"/>
    <result property="promoFidelizado" column="SOLO_FIDELIZACION"/>
  </resultMap>

  <select id="getArticulosIdPromoAplicacionPack" resultMap="promocionResultMap">
    SELECT
      id_promocion,
      descripcion,
      convert(extractvalue(datos_promocion,'promocion/aplicacion/rules/rule/value') USING utf8) as codart,
      extractvalue(DATOS_PROMOCION,  'promocion/precioPack') as precioPack,
      convert(extractvalue(DATOS_PROMOCION,'promocion/textoPromocion') USING utf8) as TEXTO_PROMOCION,
      SOLO_FIDELIZACION
    FROM
      d_promociones_activas
    WHERE
      uid_actividad = #{uidActividad}
      AND id_tipo_promocion = #{idTipoPromo}
      AND DATE(NOW()) >= FECHA_INICIO
  </select>
  
   <select id="getArticulosIdPromoCondicionesCombi" resultMap="promocionResultMap">
    SELECT
      id_promocion,
      descripcion,
      convert(extractvalue(datos_promocion,'promocion/condicionLineas/rules/rule/value') USING utf8) as codart,
      extractvalue(datos_promocion,'promocion/condicionLineas/rules/rule/rules/rule/value') as codartCondition,
      extractvalue(DATOS_PROMOCION,  'promocion/precioPack') as precioPack,
      convert(extractvalue(DATOS_PROMOCION,'promocion/textoPromocion') USING utf8) as TEXTO_PROMOCION,
      SOLO_FIDELIZACION
    FROM
      d_promociones_activas
    WHERE
      uid_actividad = #{uidActividad}
      AND id_tipo_promocion = #{idTipoPromo}
      AND DATE(NOW()) >= FECHA_INICIO
 </select>

</mapper>
