.cabecera {
	-fx-background-color: -color-base-1;
}
.cabecera .label{
	-fx-text-fill: -color-principal-1;
	-fx-font-size: 31px;
	-fx-border-color: red, yellow, blue, -color-principal-1;
	-fx-border-width: 0 0 1 0;
}
.pie {
	-fx-background-color: -color-principal-1;
}
.pie .label{
	-fx-text-fill: -color-base-1;
	-fx-font-size: 20px;
}
.txt-total {
	-fx-padding: 10px 12px 0px 0px;
}
.total-listado .label{
	-fx-text-fill: -color-base-1;
	-fx-font-size: 60px;
	-fx-padding-left: 7px;
}
.wrap-unidades-totales .label{
	-fx-padding: 10px 0 0 30px;
}