<html>
	#htmlhead("/sales/payments/payments.css")
	<body class="background-card-pane czz-base">
		#if($basketTransaction.getRecoveryMode())
		<div class="content has-filler">
			<div class="flex-fill alert alert-danger d-flex justify-content-between align-items-left medium-text" role="alert">
			    <p>
			    <span>#i18n("La trasacción se encuentra en modo recuperación ya que los precios o promociones vigentes han cambiado.")</span>
			    <br/>
				<span>#i18n("Deberá finalizar la venta ya que no es posible cancelarla.")</span>
				</p>
			</div>
		</div>				
		#end
		<div class="sticky-top">
			#set($payments = $basketTransaction.getPayments().getPaymentsList())
			#set($lessIncome = $basketTransaction.getPayments().getLessIncomePayments().values())
			#set($prepayments = $basketTransaction.getPayments().getPrepayments().getPaymentsList())
			#if($MathUtils.compare($basketTransaction.getTotals().getBalanceDue(), 0) == 0 && $MathUtils.compare($basketTransaction.getTotals().getChangeDue().getAmount(), 0) == 0)
				<div class="czz-card bold">
					<div class="row big-text">
						<div class="col-4 fw-normal">#i18n("Total")</div>
						<div class="col-8 text-end">#balance($basketTransaction.getTotals().getTotalWithTaxes())</div>
					</div>
				</div>
			#else
				<div class="czz-card background-split-colors bold">
					<div class="row big-text">
						<div class="col-4 fw-normal">#i18n("Total")</div>
						<div class="col-8 text-end">#balance($basketTransaction.getTotals().getTotalWithTaxes())</div>
					</div>
					#if($MathUtils.compare($basketTransaction.getTotals().getBalanceDue(), 0) > 0)
					<div class="row pending-area">
						<div class="fw-normal col">#i18n("Pendiente")</div>
						<div class="text-end col">#balance($basketTransaction.getTotals().getBalanceDue())</div>
					</div>
					#else
					<div class="row pending-area d-flex align-items-center">
						<div class="col">
							<div class="fw-normal big-text">#i18n("Cambio")</div>
							<div class="big-text">$basketTransaction.getTotals().getChangeDue().getChangePaymentMethod().getPaymentMethodDes()</div>
						</div>
						<div class="col-6">
							<div class="text-end">#balance($basketTransaction.getTotals().getChangeDue().getAmount()) </div>
						</div>
					</div>
					#end
				</div>
			#end
			
			#if($basketTransaction.getTotals().getTotalPayments() != 0)
			<div class="czz-card payments-actions">
				<div class="row delivered-area bold">
					<div class="col-4">#i18n("ENTREGADO")</div>
					<div class="col-8 text-end">#balance($basketTransaction.getTotals().getTotalPayments())</div>
				</div>
				<div class="secondary-text">
					#foreach($payment in $payments)
					<div class="row payment-row">
						<div class="col">
							#if($payment.getCanBeDeleted())
								<button class="btn-oval" onClick="execute('DeletePayment', [{'name':'line_id', 'value':'${payment.getPaymentId()}'}])">
									<div> <i class="icon-delete alternative-text"></i></div>
								</button>
							#end
						</div>
						<div class="col-5">${payment.getPaymentMethod().getPaymentMethodDes()}</div>
						<div class="col-5 text-end medium-text">#balance($payment.getAmount()) </div>
					</div>
					#end
					#foreach($payment in $lessIncome)
					<div class="row payment-row">
						<div class="col">
							<div class="text-center icon-payment-row"><i class="icon-coupon"></i></div>
						</div>
						<div class="col-5">${payment.getPaymentMethod().getPaymentMethodDes()}</div>
						<div class="col-5 text-end medium-text">#balance($payment.getAmount()) </div>
					</div>
					#end
					#foreach($payment in $prepayments)
					<div class="row payment-row">
						<div class="col">
							<div class="text-center icon-payment-row"><i class="icon-coupon"></i></div>
						</div>
						<div class="col-5">${payment.getPaymentMethod().getPaymentMethodDes()}</div>
						<div class="col-5 text-end medium-text">#balance($payment.getAmount()) </div>
					</div>
					#end
				</div>
			</div>
			#end
		</div>
		<div class="payments-base background-card-pane">
			<div class="czz-card">
				<table class="table">
					<thead>
						<tr>
							<th>#i18n("Impuestos")</th>
							<th class="text-end">#i18n("Base")</th>
							<th class="text-end">#i18n("Cuota")</th>
							<th class="text-end">#i18n("Total")</th>
						</tr>
					</thead>
					<tbody>
						#foreach($subtotalIva in $basketTransaction.getTotals().getTaxTotals())
							<tr>
								<td>#number($subtotalIva.getTaxPercentage() 2) %</td>
								<td class="text-end">#balance($subtotalIva.getBaseAmount())</td>
								<td class="text-end">#balance($subtotalIva.getTaxAmount())</td>
								<td class="text-end">#balance($subtotalIva.getTotalWithTaxes())</td>
							</tr>
						#end
					</tbody>
				</table>
			</div>
			
			#set($textPromotions = [])
			#set($pointsPromotions = [])
			#foreach($promotion in $basketTransaction.getPromotions())
				#if($promotion.getPromotionTypeId() eq 13)
					#set($swallow = $textPromotions.add($promotion))
				#elseif($promotion.getPoints()>0)
					#set($swallow = $pointsPromotions.add($promotion))
				#end
			#end
			#if(!$textPromotions.isEmpty())
				<div class="czz-card">
					<div class="row header-area delivered-area bold">
						<div class="col">#i18n("MENSAJES PROMOCIONALES")</div>
					</div>
					<div>
						#foreach($promotion in $textPromotions)
							<div class="row secondary-text">
								<div class="col">
									<div class="text-center icon-payment-row"><i class="icon-promotion"></i></div>
								</div>
								<div class="col-10">${promotion.getPromotionText()}</div>
							</div>
						#end
					</div>
				</div>
			#end
			
			
			#if($basketTransaction.getTotals().getTotalSavingLessProfit() > 0)
			<div class="czz-card">
				<div class="row header-area delivered-area bold">
					<div class="col-6">#i18n("DESCUENTOS APLICADOS")</div>
					<div class="col-6 text-end">#balance($basketTransaction.getTotals().getTotalSavingLessProfit())</div>
				</div>
				<div>
					#foreach($promotion in $basketTransaction.getPromotions())
						#if($promotion.isLessProfitDiscount() && $promotion.getTotalSaving() > 0)
						<div class="row payment-row secondary-text">
							<div class="col">
								<div class="text-center icon-payment-row"><i class="icon-promotion"></i></div>
							</div>
							<div class="col-6">${promotion.getPromotionText()}</div>
							<div class="col-2 text-end">${promotion.getPromotionId()}</div>
							<div class="col-2 text-end">#balance($promotion.getTotalSaving())</div>
						</div>
						#end
					#end
				</div>
			</div>
			#end
			
			#if($basketTransaction.getCardPromotionTransactions().size() > 0)
			<div class="czz-card">
				<div class="row header-area delivered-area bold">
					<div class="col-12">#i18n("SALDO A ACUMULAR")</div>
				</div>
				<div>
					#foreach($promotionTransaction in $basketTransaction.getCardPromotionTransactions())
					<div class="row secondary-text">
						<div class="col">
							<div class="text-center icon-payment-row"><i class="icon-coupon"></i></div>
						</div>
						<div class="col-4">$!{promotionTransaction.getConcept()}</div>
						<div class="col-4 text-end">$!{promotionTransaction.getCardCode()}</div>
						<div class="col-2 text-end">#if($promotionTransaction.getAmount()) #balance($promotionTransaction.getAmount()) #end</div>
					</div>
					#end
				</div>
			</div>
			#end
			
			#if(!$pointsPromotions.isEmpty() && $basketTransaction.getHeader().getLoyalCustomer())
				<div class="czz-card">
					<div class="row header-area delivered-area bold">
						<div class="col">#i18n("PUNTOS")</div>
					</div>
					<div>
						#foreach($promotion in $pointsPromotions)
							<div class="row payment-row secondary-text">
								<div class="col">
									<div class="text-center icon-payment-row"><i class="icon-promotion"></i></div>
								</div>
								<div class="col-6">${promotion.getPromotionText()}</div>
								<div class="col-2 text-end">${promotion.getPromotionId()}</div>
								<div class="col-2 text-end">#balance($promotion.getPoints())</div>
							</div>
						#end
					</div>
				</div>
			#end
			
			#if($basketTransaction.getCouponsToIssue().size() > 0)
			<div class="czz-card">
				<div class="row header-area delivered-area bold">
					<div class="col-12">#i18n("CUPONES A EMITIR")</div>
				</div>
				<div>
					#foreach($coupon in $basketTransaction.getCouponsToIssue())
					<div class="row secondary-text">
						<div class="col ">
							<div class="text-center icon-payment-row"><i class="icon-coupon"></i></div>
						</div>
						<div class="col-4">$!{coupon.getCouponName()}</div>
						<div class="col-4 text-end">${coupon.getPromotionId()}</div>
						<div class="col-2 text-end">#if($coupon.getBalance()) #balance($coupon.getBalance())  #end</div>
					</div>
					#end
				</div>
			</div>
			#end
		</div>
	</body> 
</html>