<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comerzzia.iskaypet.pos.persistence.proformas.ProformaBeanMapper">
  <resultMap id="BaseResultMap" type="com.comerzzia.iskaypet.pos.persistence.proformas.ProformaBean">
    <id column="UID_ACTIVIDAD" jdbcType="VARCHAR" property="uidActividad" />
    <id column="ID_PROFORMA" jdbcType="VARCHAR" property="idProforma" />
    <result column="SISTEMA_ORIGEN" jdbcType="VARCHAR" property="sistemaOrigen" />
    <result column="FECHA" jdbcType="TIMESTAMP" property="fecha" />
    <result column="ID_TIPO_DOCUMENTO" jdbcType="BIGINT" property="idTipoDocumento" />
    <result column="AUTOMATICA" jdbcType="BIT" property="automatica" />
    <result column="CODALM" jdbcType="VARCHAR" property="codalm" />
    <result column="ESTADO_ACTUAL" jdbcType="VARCHAR" property="estadoActual" />
    <result column="UID_TICKET_ORIGEN" jdbcType="VARCHAR" property="uidTicketOrigen" />
    <result column="SERIE_ORIGEN" jdbcType="VARCHAR" property="serieOrigen" />
    <result column="NUMALB_ORIGEN" jdbcType="BIGINT" property="numalbOrigen" />
    <result column="CODALM_ORIGEN" jdbcType="VARCHAR" property="codalmOrigen" />
    <result column="CAJA_ORIGEN" jdbcType="VARCHAR" property="cajaOrigen" />
    <result column="TIPO_DOCUMENTO_ORIGEN" jdbcType="BIGINT" property="tipoDocumentoOrigen" />
    <result column="CODIGO_FACTURA_ORIGEN" jdbcType="VARCHAR" property="codigoFacturaOrigen" />
    <result column="FECHA_CREACION" jdbcType="TIMESTAMP" property="fechaCreacion" />
    <result column="FECHA_MODIFICACION" jdbcType="TIMESTAMP" property="fechaModificacion" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    UID_ACTIVIDAD, ID_PROFORMA, SISTEMA_ORIGEN, FECHA, ID_TIPO_DOCUMENTO, AUTOMATICA, 
    CODALM, ESTADO_ACTUAL, UID_TICKET_ORIGEN, SERIE_ORIGEN, NUMALB_ORIGEN, CODALM_ORIGEN, 
    CAJA_ORIGEN, TIPO_DOCUMENTO_ORIGEN, CODIGO_FACTURA_ORIGEN, FECHA_CREACION, FECHA_MODIFICACION
  </sql>
  <select id="selectByExample" parameterType="com.comerzzia.iskaypet.pos.persistence.proformas.ProformaBeanExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from x_proformas_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.comerzzia.iskaypet.pos.persistence.proformas.ProformaBeanKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from x_proformas_tbl
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and ID_PROFORMA = #{idProforma,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.comerzzia.iskaypet.pos.persistence.proformas.ProformaBeanKey">
    delete from x_proformas_tbl
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and ID_PROFORMA = #{idProforma,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.comerzzia.iskaypet.pos.persistence.proformas.ProformaBeanExample">
    delete from x_proformas_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.comerzzia.iskaypet.pos.persistence.proformas.ProformaBean">
    insert into x_proformas_tbl (UID_ACTIVIDAD, ID_PROFORMA, SISTEMA_ORIGEN, 
      FECHA, ID_TIPO_DOCUMENTO, AUTOMATICA, 
      CODALM, ESTADO_ACTUAL, UID_TICKET_ORIGEN, 
      SERIE_ORIGEN, NUMALB_ORIGEN, CODALM_ORIGEN, 
      CAJA_ORIGEN, TIPO_DOCUMENTO_ORIGEN, CODIGO_FACTURA_ORIGEN, 
      FECHA_CREACION, FECHA_MODIFICACION)
    values (#{uidActividad,jdbcType=VARCHAR}, #{idProforma,jdbcType=VARCHAR}, #{sistemaOrigen,jdbcType=VARCHAR}, 
      #{fecha,jdbcType=TIMESTAMP}, #{idTipoDocumento,jdbcType=BIGINT}, #{automatica,jdbcType=BIT}, 
      #{codalm,jdbcType=VARCHAR}, #{estadoActual,jdbcType=VARCHAR}, #{uidTicketOrigen,jdbcType=VARCHAR}, 
      #{serieOrigen,jdbcType=VARCHAR}, #{numalbOrigen,jdbcType=BIGINT}, #{codalmOrigen,jdbcType=VARCHAR}, 
      #{cajaOrigen,jdbcType=VARCHAR}, #{tipoDocumentoOrigen,jdbcType=BIGINT}, #{codigoFacturaOrigen,jdbcType=VARCHAR}, 
      #{fechaCreacion,jdbcType=TIMESTAMP}, #{fechaModificacion,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.comerzzia.iskaypet.pos.persistence.proformas.ProformaBean">
    insert into x_proformas_tbl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uidActividad != null">
        UID_ACTIVIDAD,
      </if>
      <if test="idProforma != null">
        ID_PROFORMA,
      </if>
      <if test="sistemaOrigen != null">
        SISTEMA_ORIGEN,
      </if>
      <if test="fecha != null">
        FECHA,
      </if>
      <if test="idTipoDocumento != null">
        ID_TIPO_DOCUMENTO,
      </if>
      <if test="automatica != null">
        AUTOMATICA,
      </if>
      <if test="codalm != null">
        CODALM,
      </if>
      <if test="estadoActual != null">
        ESTADO_ACTUAL,
      </if>
      <if test="uidTicketOrigen != null">
        UID_TICKET_ORIGEN,
      </if>
      <if test="serieOrigen != null">
        SERIE_ORIGEN,
      </if>
      <if test="numalbOrigen != null">
        NUMALB_ORIGEN,
      </if>
      <if test="codalmOrigen != null">
        CODALM_ORIGEN,
      </if>
      <if test="cajaOrigen != null">
        CAJA_ORIGEN,
      </if>
      <if test="tipoDocumentoOrigen != null">
        TIPO_DOCUMENTO_ORIGEN,
      </if>
      <if test="codigoFacturaOrigen != null">
        CODIGO_FACTURA_ORIGEN,
      </if>
      <if test="fechaCreacion != null">
        FECHA_CREACION,
      </if>
      <if test="fechaModificacion != null">
        FECHA_MODIFICACION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uidActividad != null">
        #{uidActividad,jdbcType=VARCHAR},
      </if>
      <if test="idProforma != null">
        #{idProforma,jdbcType=VARCHAR},
      </if>
      <if test="sistemaOrigen != null">
        #{sistemaOrigen,jdbcType=VARCHAR},
      </if>
      <if test="fecha != null">
        #{fecha,jdbcType=TIMESTAMP},
      </if>
      <if test="idTipoDocumento != null">
        #{idTipoDocumento,jdbcType=BIGINT},
      </if>
      <if test="automatica != null">
        #{automatica,jdbcType=BIT},
      </if>
      <if test="codalm != null">
        #{codalm,jdbcType=VARCHAR},
      </if>
      <if test="estadoActual != null">
        #{estadoActual,jdbcType=VARCHAR},
      </if>
      <if test="uidTicketOrigen != null">
        #{uidTicketOrigen,jdbcType=VARCHAR},
      </if>
      <if test="serieOrigen != null">
        #{serieOrigen,jdbcType=VARCHAR},
      </if>
      <if test="numalbOrigen != null">
        #{numalbOrigen,jdbcType=BIGINT},
      </if>
      <if test="codalmOrigen != null">
        #{codalmOrigen,jdbcType=VARCHAR},
      </if>
      <if test="cajaOrigen != null">
        #{cajaOrigen,jdbcType=VARCHAR},
      </if>
      <if test="tipoDocumentoOrigen != null">
        #{tipoDocumentoOrigen,jdbcType=BIGINT},
      </if>
      <if test="codigoFacturaOrigen != null">
        #{codigoFacturaOrigen,jdbcType=VARCHAR},
      </if>
      <if test="fechaCreacion != null">
        #{fechaCreacion,jdbcType=TIMESTAMP},
      </if>
      <if test="fechaModificacion != null">
        #{fechaModificacion,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.comerzzia.iskaypet.pos.persistence.proformas.ProformaBeanExample" resultType="java.lang.Long">
    select count(*) from x_proformas_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update x_proformas_tbl
    <set>
      <if test="row.uidActividad != null">
        UID_ACTIVIDAD = #{row.uidActividad,jdbcType=VARCHAR},
      </if>
      <if test="row.idProforma != null">
        ID_PROFORMA = #{row.idProforma,jdbcType=VARCHAR},
      </if>
      <if test="row.sistemaOrigen != null">
        SISTEMA_ORIGEN = #{row.sistemaOrigen,jdbcType=VARCHAR},
      </if>
      <if test="row.fecha != null">
        FECHA = #{row.fecha,jdbcType=TIMESTAMP},
      </if>
      <if test="row.idTipoDocumento != null">
        ID_TIPO_DOCUMENTO = #{row.idTipoDocumento,jdbcType=BIGINT},
      </if>
      <if test="row.automatica != null">
        AUTOMATICA = #{row.automatica,jdbcType=BIT},
      </if>
      <if test="row.codalm != null">
        CODALM = #{row.codalm,jdbcType=VARCHAR},
      </if>
      <if test="row.estadoActual != null">
        ESTADO_ACTUAL = #{row.estadoActual,jdbcType=VARCHAR},
      </if>
      <if test="row.uidTicketOrigen != null">
        UID_TICKET_ORIGEN = #{row.uidTicketOrigen,jdbcType=VARCHAR},
      </if>
      <if test="row.serieOrigen != null">
        SERIE_ORIGEN = #{row.serieOrigen,jdbcType=VARCHAR},
      </if>
      <if test="row.numalbOrigen != null">
        NUMALB_ORIGEN = #{row.numalbOrigen,jdbcType=BIGINT},
      </if>
      <if test="row.codalmOrigen != null">
        CODALM_ORIGEN = #{row.codalmOrigen,jdbcType=VARCHAR},
      </if>
      <if test="row.cajaOrigen != null">
        CAJA_ORIGEN = #{row.cajaOrigen,jdbcType=VARCHAR},
      </if>
      <if test="row.tipoDocumentoOrigen != null">
        TIPO_DOCUMENTO_ORIGEN = #{row.tipoDocumentoOrigen,jdbcType=BIGINT},
      </if>
      <if test="row.codigoFacturaOrigen != null">
        CODIGO_FACTURA_ORIGEN = #{row.codigoFacturaOrigen,jdbcType=VARCHAR},
      </if>
      <if test="row.fechaCreacion != null">
        FECHA_CREACION = #{row.fechaCreacion,jdbcType=TIMESTAMP},
      </if>
      <if test="row.fechaModificacion != null">
        FECHA_MODIFICACION = #{row.fechaModificacion,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update x_proformas_tbl
    set UID_ACTIVIDAD = #{row.uidActividad,jdbcType=VARCHAR},
      ID_PROFORMA = #{row.idProforma,jdbcType=VARCHAR},
      SISTEMA_ORIGEN = #{row.sistemaOrigen,jdbcType=VARCHAR},
      FECHA = #{row.fecha,jdbcType=TIMESTAMP},
      ID_TIPO_DOCUMENTO = #{row.idTipoDocumento,jdbcType=BIGINT},
      AUTOMATICA = #{row.automatica,jdbcType=BIT},
      CODALM = #{row.codalm,jdbcType=VARCHAR},
      ESTADO_ACTUAL = #{row.estadoActual,jdbcType=VARCHAR},
      UID_TICKET_ORIGEN = #{row.uidTicketOrigen,jdbcType=VARCHAR},
      SERIE_ORIGEN = #{row.serieOrigen,jdbcType=VARCHAR},
      NUMALB_ORIGEN = #{row.numalbOrigen,jdbcType=BIGINT},
      CODALM_ORIGEN = #{row.codalmOrigen,jdbcType=VARCHAR},
      CAJA_ORIGEN = #{row.cajaOrigen,jdbcType=VARCHAR},
      TIPO_DOCUMENTO_ORIGEN = #{row.tipoDocumentoOrigen,jdbcType=BIGINT},
      CODIGO_FACTURA_ORIGEN = #{row.codigoFacturaOrigen,jdbcType=VARCHAR},
      FECHA_CREACION = #{row.fechaCreacion,jdbcType=TIMESTAMP},
      FECHA_MODIFICACION = #{row.fechaModificacion,jdbcType=TIMESTAMP}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.comerzzia.iskaypet.pos.persistence.proformas.ProformaBean">
    update x_proformas_tbl
    <set>
      <if test="sistemaOrigen != null">
        SISTEMA_ORIGEN = #{sistemaOrigen,jdbcType=VARCHAR},
      </if>
      <if test="fecha != null">
        FECHA = #{fecha,jdbcType=TIMESTAMP},
      </if>
      <if test="idTipoDocumento != null">
        ID_TIPO_DOCUMENTO = #{idTipoDocumento,jdbcType=BIGINT},
      </if>
      <if test="automatica != null">
        AUTOMATICA = #{automatica,jdbcType=BIT},
      </if>
      <if test="codalm != null">
        CODALM = #{codalm,jdbcType=VARCHAR},
      </if>
      <if test="estadoActual != null">
        ESTADO_ACTUAL = #{estadoActual,jdbcType=VARCHAR},
      </if>
      <if test="uidTicketOrigen != null">
        UID_TICKET_ORIGEN = #{uidTicketOrigen,jdbcType=VARCHAR},
      </if>
      <if test="serieOrigen != null">
        SERIE_ORIGEN = #{serieOrigen,jdbcType=VARCHAR},
      </if>
      <if test="numalbOrigen != null">
        NUMALB_ORIGEN = #{numalbOrigen,jdbcType=BIGINT},
      </if>
      <if test="codalmOrigen != null">
        CODALM_ORIGEN = #{codalmOrigen,jdbcType=VARCHAR},
      </if>
      <if test="cajaOrigen != null">
        CAJA_ORIGEN = #{cajaOrigen,jdbcType=VARCHAR},
      </if>
      <if test="tipoDocumentoOrigen != null">
        TIPO_DOCUMENTO_ORIGEN = #{tipoDocumentoOrigen,jdbcType=BIGINT},
      </if>
      <if test="codigoFacturaOrigen != null">
        CODIGO_FACTURA_ORIGEN = #{codigoFacturaOrigen,jdbcType=VARCHAR},
      </if>
      <if test="fechaCreacion != null">
        FECHA_CREACION = #{fechaCreacion,jdbcType=TIMESTAMP},
      </if>
      <if test="fechaModificacion != null">
        FECHA_MODIFICACION = #{fechaModificacion,jdbcType=TIMESTAMP},
      </if>
    </set>
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and ID_PROFORMA = #{idProforma,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.comerzzia.iskaypet.pos.persistence.proformas.ProformaBean">
    update x_proformas_tbl
    set SISTEMA_ORIGEN = #{sistemaOrigen,jdbcType=VARCHAR},
      FECHA = #{fecha,jdbcType=TIMESTAMP},
      ID_TIPO_DOCUMENTO = #{idTipoDocumento,jdbcType=BIGINT},
      AUTOMATICA = #{automatica,jdbcType=BIT},
      CODALM = #{codalm,jdbcType=VARCHAR},
      ESTADO_ACTUAL = #{estadoActual,jdbcType=VARCHAR},
      UID_TICKET_ORIGEN = #{uidTicketOrigen,jdbcType=VARCHAR},
      SERIE_ORIGEN = #{serieOrigen,jdbcType=VARCHAR},
      NUMALB_ORIGEN = #{numalbOrigen,jdbcType=BIGINT},
      CODALM_ORIGEN = #{codalmOrigen,jdbcType=VARCHAR},
      CAJA_ORIGEN = #{cajaOrigen,jdbcType=VARCHAR},
      TIPO_DOCUMENTO_ORIGEN = #{tipoDocumentoOrigen,jdbcType=BIGINT},
      CODIGO_FACTURA_ORIGEN = #{codigoFacturaOrigen,jdbcType=VARCHAR},
      FECHA_CREACION = #{fechaCreacion,jdbcType=TIMESTAMP},
      FECHA_MODIFICACION = #{fechaModificacion,jdbcType=TIMESTAMP}
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and ID_PROFORMA = #{idProforma,jdbcType=VARCHAR}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.comerzzia.iskaypet.pos.persistence.proformas.ProformaBeanExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from x_proformas_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>