<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comerzzia.dinosol.pos.persistence.tickets.TicketAnexoMapper" >
  <resultMap id="BaseResultMap" type="com.comerzzia.dinosol.pos.persistence.tickets.TicketAnexoBean" >
    <id column="UID_ACTIVIDAD" property="uidActividad" jdbcType="VARCHAR" />
    <id column="UID_TICKET" property="uidTicket" jdbcType="VARCHAR" />
    <result column="TIENE_RECARGA" property="tieneRecarga" jdbcType="CHAR" typeHandler="com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler" />
    <result column="OPERADOR" property="operador" jdbcType="VARCHAR" />
    <result column="TELEFONO" property="telefono" jdbcType="VARCHAR" />
    <result column="COD_VALIDACION" property="codValidacion" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.tieneRecargaCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler} and #{criterion.secondValue,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.tieneRecargaCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler} and #{criterion.secondValue,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    UID_ACTIVIDAD, UID_TICKET, TIENE_RECARGA, OPERADOR, TELEFONO, COD_VALIDACION
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.comerzzia.dinosol.pos.persistence.tickets.TicketAnexoExample" resultSetType="SCROLL_INSENSITIVE" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from X_TICKETS_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.comerzzia.dinosol.pos.persistence.tickets.TicketAnexoKey" >
    select 
    <include refid="Base_Column_List" />
    from X_TICKETS_TBL
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and UID_TICKET = #{uidTicket,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.comerzzia.dinosol.pos.persistence.tickets.TicketAnexoKey" >
    delete from X_TICKETS_TBL
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and UID_TICKET = #{uidTicket,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.comerzzia.dinosol.pos.persistence.tickets.TicketAnexoExample" >
    delete from X_TICKETS_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.comerzzia.dinosol.pos.persistence.tickets.TicketAnexoBean" >
    insert into X_TICKETS_TBL (UID_ACTIVIDAD, UID_TICKET, TIENE_RECARGA, 
      OPERADOR, TELEFONO, COD_VALIDACION
      )
    values (#{uidActividad,jdbcType=VARCHAR}, #{uidTicket,jdbcType=VARCHAR}, #{tieneRecarga,jdbcType=CHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}, 
      #{operador,jdbcType=VARCHAR}, #{telefono,jdbcType=VARCHAR}, #{codValidacion,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.comerzzia.dinosol.pos.persistence.tickets.TicketAnexoBean" >
    insert into X_TICKETS_TBL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uidActividad != null" >
        UID_ACTIVIDAD,
      </if>
      <if test="uidTicket != null" >
        UID_TICKET,
      </if>
      <if test="tieneRecarga != null" >
        TIENE_RECARGA,
      </if>
      <if test="operador != null" >
        OPERADOR,
      </if>
      <if test="telefono != null" >
        TELEFONO,
      </if>
      <if test="codValidacion != null" >
        COD_VALIDACION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uidActividad != null" >
        #{uidActividad,jdbcType=VARCHAR},
      </if>
      <if test="uidTicket != null" >
        #{uidTicket,jdbcType=VARCHAR},
      </if>
      <if test="tieneRecarga != null" >
        #{tieneRecarga,jdbcType=CHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler},
      </if>
      <if test="operador != null" >
        #{operador,jdbcType=VARCHAR},
      </if>
      <if test="telefono != null" >
        #{telefono,jdbcType=VARCHAR},
      </if>
      <if test="codValidacion != null" >
        #{codValidacion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.comerzzia.dinosol.pos.persistence.tickets.TicketAnexoExample" resultType="java.lang.Integer" >
    select count(*) from X_TICKETS_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update X_TICKETS_TBL
    <set >
      <if test="record.uidActividad != null" >
        UID_ACTIVIDAD = #{record.uidActividad,jdbcType=VARCHAR},
      </if>
      <if test="record.uidTicket != null" >
        UID_TICKET = #{record.uidTicket,jdbcType=VARCHAR},
      </if>
      <if test="record.tieneRecarga != null" >
        TIENE_RECARGA = #{record.tieneRecarga,jdbcType=CHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler},
      </if>
      <if test="record.operador != null" >
        OPERADOR = #{record.operador,jdbcType=VARCHAR},
      </if>
      <if test="record.telefono != null" >
        TELEFONO = #{record.telefono,jdbcType=VARCHAR},
      </if>
      <if test="record.codValidacion != null" >
        COD_VALIDACION = #{record.codValidacion,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update X_TICKETS_TBL
    set UID_ACTIVIDAD = #{record.uidActividad,jdbcType=VARCHAR},
      UID_TICKET = #{record.uidTicket,jdbcType=VARCHAR},
      TIENE_RECARGA = #{record.tieneRecarga,jdbcType=CHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler},
      OPERADOR = #{record.operador,jdbcType=VARCHAR},
      TELEFONO = #{record.telefono,jdbcType=VARCHAR},
      COD_VALIDACION = #{record.codValidacion,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.comerzzia.dinosol.pos.persistence.tickets.TicketAnexoBean" >
    update X_TICKETS_TBL
    <set >
      <if test="tieneRecarga != null" >
        TIENE_RECARGA = #{tieneRecarga,jdbcType=CHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler},
      </if>
      <if test="operador != null" >
        OPERADOR = #{operador,jdbcType=VARCHAR},
      </if>
      <if test="telefono != null" >
        TELEFONO = #{telefono,jdbcType=VARCHAR},
      </if>
      <if test="codValidacion != null" >
        COD_VALIDACION = #{codValidacion,jdbcType=VARCHAR},
      </if>
    </set>
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and UID_TICKET = #{uidTicket,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.comerzzia.dinosol.pos.persistence.tickets.TicketAnexoBean" >
    update X_TICKETS_TBL
    set TIENE_RECARGA = #{tieneRecarga,jdbcType=CHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler},
      OPERADOR = #{operador,jdbcType=VARCHAR},
      TELEFONO = #{telefono,jdbcType=VARCHAR},
      COD_VALIDACION = #{codValidacion,jdbcType=VARCHAR}
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and UID_TICKET = #{uidTicket,jdbcType=VARCHAR}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.comerzzia.dinosol.pos.persistence.tickets.TicketAnexoExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from X_TICKETS_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>