/* Breadcrumbs background */
.breadcrumb-base {
	
}

.breadcrumb {
	/*
	--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);
	*/
	--bs-breadcrumb-divider: '>';
}

/* Breadcrumb links */
.breadcrumb-item {
	color: var(--color-text);
    text-transform: uppercase;
}

/* Current breadcrumb selection */
.breadcrumb-item.active {
	
}

.breadcrumb-item:not(.active) {
	cursor: pointer;
}

/*Selected items background */
.selected-items-base {
	
}

/*Selected item */
.selected-item {
	
}

/* Items background */
.items-base {
	background-color: var(--color-base-2);
}

/* All cards */
.items-base .item-element {
	cursor: pointer;
	position: relative;
	padding: 0px;
}

/* Items */
.items-base .item-element.articulo {
	
}
/* Categories */
.items-base .item-element.categoria {
	
}
/* Families */
.items-base .item-element.familia {
	
}
/* Clasification */
.items-base .item-element.categorizacion {
	
}
/* Section */
.items-base .item-element.seccion {
	
}

.item-img {
	object-fit: scale-down;
	max-width: 100%;
	
	border-radius: 10px;
}

.item-text {
	height:3em;
	position: absolute;
	bottom: 0;
	width:100%;
}

.item-text.item-text-card {
	border-radius: 10px;
	background-color: var(--color-base-3);
}
.item-text.item-text-background {
	background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, var(--color-base-3) 60%, var(--color-base-3) 100%);
}