.textfield-composite-left {
	-fx-border-radius: 10px 0 0 10px !important;
	-fx-background-radius: 10px 0 0 10px !important;
}

.textfield-composite-right {
	-fx-border-radius: 0px 10px 10px 0px !important;
	-fx-background-radius: 0px 10px 10px 0px !important;
}

.tf-quantity {
	-fx-background-image: url("x.png");
}