#doctype
<html>
	#htmlhead()
	<body class="czz-base p-2">
		#environmentData('/sales/serialnumber/serialnumber')
		
		#if(${originalDocumentSerialNumbers})
		<div class="czz-card content has-filler">
				<table class="table">
					<thead>
						<tr>
							<th>#i18n("Nº Serie")</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						#foreach ($serialNumber in $originalDocumentSerialNumbers)
							<tr>
								<td class="align-middle">${serialNumber}</td>
								<td class="align-middle text-end"><span>
								#if(${serialNumbers.constains(serialNumber)})
									#icobutton("icon-delete alternative-text" "execute('DeleteSerialNumber', [{'name':'serialnumber', 'value':'${serialNumber}'}])")
								#else
									Añadir
								#end
								</span></td>
							</tr>
						#end
					</tbody>
				</table>
		</div>
		#elseif(not ${serialNumbers.isEmpty()})
		<div class="czz-card content has-filler">
				<table class="table">
					<thead>
						<tr>
							<th>#i18n("Nº Serie")</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						#foreach ($serialNumber in $serialNumbers)
							<tr>
								<td class="align-middle">${serialNumber}</td>
								<td class="align-middle text-end"><span>
								#icobutton("icon-delete alternative-text" "execute('DeleteSerialNumber', [{'name':'serialnumber', 'value':'${serialNumber}'}])")
								</span></td>
							</tr>
						#end
					</tbody>
				</table>
		</div>
		
		#end
				
		##Filler here makes totals stick to bottom
		<div class="filler"></div>
		
		<div class="czz-card footer">
			<div class="row">
				<div class="col bold medium-text">${lineDescription}</div>
			</div>
			<div class="row">
				<div class="col bold">#i18n("Cantidad"): ${requiredQuantity}</div>
				#set($pending = ${requiredQuantity} - ${serialNumbers.size()})
				<div class="col bold">#i18n("Pendientes"): ${pending}</div>
			</div>
		</div>
		
	</body> 
</html>