#doctype
<html>
	#htmlhead
	<body>
		<div class="czz-base">
			<div class="czz-card content">
				<table class="table">
					<thead>
						<tr>
							<th>#i18n("Fecha")</th>
							<th class="text-start">#i18n("Concepto")</th>
							<th class="text-start">#i18n("Documento")</th>
							<th class="text-end">#i18n("Entradas")</th>
							<th class="text-end">#i18n("Salidas")</th>
						</tr>
					</thead>
					<tbody>
						#foreach ($move in $moves)
							#set ($index = $foreach.index)
							<tr data-bs-toggle="collapse" data-bs-target="#lineData${index}">
								<td>#datehour($!move.getCashJournalDate())</td>
								<td class="text-start">$!{move.getConcept()}</td>
								<td class="text-start">$!{move.getSalesDocCode()}</td>
								<td class="text-end">#balance($!move.getInput())</td>
								<td class="text-end">#balance($!move.getOutput())</td>
							</tr>
							<tr class="collapse" id="lineData${index}" style="transition: 0s;">
								<td colspan="6">
									<div class="row">
										<div class="col text-end">
											#textbutton("#i18n('Imprimir')" "execute('PrintMove', [{'name':'paymentCode', 'value':'${move.getLineId()}'}])")
										</div>
									</div>
								</td>
							</tr>
						#end
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>