#doctype
<html>
	#htmlhead
	<body>
		<div class="czz-base">
			<div class="czz-card content">
				<table class="table">
					<thead>
						<tr>
							<th>#i18n("Fecha")</th>
							<th class="text-end">#i18n("Entradas")</th>
							<th class="text-end">#i18n("Salidas")</th>
							<th class="text-start">#i18n("Concepto")</th>
							<th class="text-start">#i18n("Código")</th>
							<th class="text-start">#i18n("Documento")</th>
							<th class="text-start">#i18n("Forma de pago")</th>
						</tr>
					</thead>
					<tbody>
						#foreach ($sale in $sales)
							#set ($index = $foreach.index)
							<tr>
								<td>#datehour($sale.getCashJournalDate())</td>
								<td class="text-end">#balance($sale.getInput())</td>
								<td class="text-end">#balance($sale.getOutput())</td>
								<td class="text-start">$sale.getConcept()</td>
								<td class="text-start">${sale.getSalesDocCode()}</td>
								<td class="text-start">$sale.getDocType().getDocTypeCode()</td>
								<td class="text-start">$sale.getPaymentMethod().getPaymentMethodDes()</td>
							</tr>
						#end
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>