<link rel="stylesheet" href="czzpos://skin/template/css/bootstrap.css">
<link rel="stylesheet" href="czzpos://skin/template/css/comerzzia.css${devModeQueryParam}">

<script src="czzpos://skin/template/js/jquery-3.5.1.slim.min.js"></script>
<script src="czzpos://skin/template/js/popper.min.js"></script>
<script src="czzpos://skin/template/js/bootstrap.min.js"></script>

<link href="czzpos://skin/template/icons/icons.css${devModeQueryParam}" rel="stylesheet">
   
<script src="czzpos://skin/template/js/pos-common.js${devModeQueryParam}"></script>
<script src="czzpos://skin/template/js/czz-bootstrap.js${devModeQueryParam}"></script>