#doctype
<html>
	#htmlhead
	<body class="czz-base p-2">
		<div class="content has-filler">
			<div class="flex-fill alert alert-info d-flex justify-content-between align-items-center" role="alert"">
				<span>#i18n("Cargando datos. Por favor, espere.")</span>			
				<div class="spinner-border text-primary" role="status">
				</div>		
			</div>
		</div>
	</body>
</html>