## New protocol "czzpos" information:
## czzpos://skin/resource/ uses the relativa path from /skins/{skinname}/com/comerzzia/pos/gui/imagenes/
## czzpos://skin/template/ uses the relative path from /skins/{skinname}/screen_templates/
## czzpos://skin/ uses the relative path from /skins/{skinname}/
## czzpos://images/resource/ uses the relative path configured on comerzzia-pos
## Additionally, any call to czzpos://{path} will try to execute a method added to POSURLHandler by a Controller. 

#macro(monetarySimbol)$!currency.getSymbol()#end

#macro (i18n $text $args)
	$I18N.getText($text, $args)##
#end

#macro (datehour $date)
	#if($date)
		${fmt.dateHourNoSecondsFormatter($date)}##
	#end
#end

#macro (balance $balance)
	#if($balance)${fmt.formatAmount($balance)}#end
#end

#macro (number $number $decimal)
## Negative numbers set the decimal between 0 and 4 as needed
	#if(!$decimal)
		#set($decimal = -1)
	#end
	#if($number)
		${fmt.formatNumber($number, $decimal)}##
	#end
#end

#macro (img $path $onclick $class)
	<img #if($class) class="${class}" #end src="czzpos://skin/resource/${path}" #if($onclick) onclick="${onclick}" #end />##
#end

#macro (itemimg $path $onclick $class $ext)
	#if($imgresource)
		#if(!$ext)
			#set($ext = ".jpg")
		#end
		<img #if($class) class="${class}" #end src="czzpos://images/resource/${path}$ext" #if($onclick) onclick="${onclick}" #end />##
	#end
#end

#macro (icobutton $ico $onclick $class )
	#if(!$class)
	 #set($class = "btn-circle" )
	#end
	<button class="${class}" onclick="${onclick}">
		<div><i class="${ico}"></i></div>
	</button>##
#end

#macro (textbutton $text $onclick $img)
	<button type="button" class="btn btn-secondary" onclick="${onclick}">
		#if($img)<div>#img($img)</div>#end $text
	</button>##
#end

#macro (panelbutton $text $onclick $img $quickaccess)
	<button class="btn btn-button-pane" onclick="${onclick}" tabindex="-1">
		#if($quickaccess)
			<div class="quickaccess-label">${quickaccess.replaceAll("( *\+ *)"," ")}</div>
		#end
		#if($img)<div>#img($img)</div>#end
		<div>#if($text)#i18n($text)#end</div>
	</button>##
#end

#macro (doctype )<!DOCTYPE html>#end

#macro (htmlhead $customcss)
<head>
    #parse("commons/header.vm")
    #if($customcss)
        <link href="czzpos://skin/template${customcss}${devModeQueryParam}" rel="stylesheet">
    #end
</head>
#end
#macro (environmentData $prefix)
	#if($prefix)
		#set($name = $prefix.concat('-').concat($CzzEnvironment.getName()).concat('.vm'))
	#end
	#if(${CzzEnvironment.getName()}!='DEFAULT')
		<div class="flag">${CzzEnvironment.getName()}</div>##
		#if($name)
			#parse($name)
		#end
	#end
#end
##Change to site url
#macro (itemurl $item)${siteItemUrl}${item} #end