.lb-title-info {
	-fx-font-size: 12.0px !important;
}

.lb-info {
	-fx-text-fill: black !important;
	-fx-font-size: 12.0px !important;
}

.hb-info {
	-fx-background-radius: 10px;
	-fx-background-color: white;
	-fx-spacing: 18px;
	-fx-padding: 12px 0px 12px 15px;
}

.bt-refund {
	-fx-background-color: -color-principal-1;
	-fx-text-fill: white;
}

.gray-background {
	-fx-background-color: -color-base-3 !important;
}