.btNumerosSerie {
    -fx-background-image: url("note_edit.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
    -fx-padding: 10 10 10 40;
}

.btLotes {
    -fx-background-image: url("box.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
    -fx-padding: 10 10 10 40;
}