<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comerzzia.iskaypet.pos.persistence.proformas.lineas.ProformaLineaBeanMapper">
  <resultMap id="BaseResultMap" type="com.comerzzia.iskaypet.pos.persistence.proformas.lineas.ProformaLineaBean">
    <id column="UID_ACTIVIDAD" jdbcType="VARCHAR" property="uidActividad" />
    <id column="ID_PROFORMA" jdbcType="VARCHAR" property="idProforma" />
    <id column="LINEA" jdbcType="INTEGER" property="linea" />
    <result column="CODART" jdbcType="VARCHAR" property="codart" />
    <result column="UNIDADES" jdbcType="INTEGER" property="unidades" />
    <result column="CANTIDAD_CONVERTIDA" jdbcType="DECIMAL" property="cantidadConvertida" />
    <result column="CANTIDAD_SUMINISTRADA" jdbcType="DECIMAL" property="cantidadSuministrada" />
    <result column="UNIDAD_MEDIDA_SUMINISTRADA" jdbcType="VARCHAR" property="unidadMedidaSuministrada" />
    <result column="DESCUENTO" jdbcType="VARCHAR" property="descuento" />
    <result column="IMPORTE" jdbcType="DECIMAL" property="importe" />
    <result column="LOTE" jdbcType="VARCHAR" property="lote" />
    <result column="FECHA_CADUCIDAD" jdbcType="TIMESTAMP" property="fechaCaducidad" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    UID_ACTIVIDAD, ID_PROFORMA, LINEA, CODART, UNIDADES, CANTIDAD_CONVERTIDA, CANTIDAD_SUMINISTRADA, 
    UNIDAD_MEDIDA_SUMINISTRADA, DESCUENTO, IMPORTE, LOTE, FECHA_CADUCIDAD
  </sql>
  <select id="selectByExample" parameterType="com.comerzzia.iskaypet.pos.persistence.proformas.lineas.ProformaLineaBeanExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from x_proformas_lineas_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.comerzzia.iskaypet.pos.persistence.proformas.lineas.ProformaLineaBeanKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from x_proformas_lineas_tbl
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and ID_PROFORMA = #{idProforma,jdbcType=VARCHAR}
      and LINEA = #{linea,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.comerzzia.iskaypet.pos.persistence.proformas.lineas.ProformaLineaBeanKey">
    delete from x_proformas_lineas_tbl
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and ID_PROFORMA = #{idProforma,jdbcType=VARCHAR}
      and LINEA = #{linea,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.comerzzia.iskaypet.pos.persistence.proformas.lineas.ProformaLineaBeanExample">
    delete from x_proformas_lineas_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.comerzzia.iskaypet.pos.persistence.proformas.lineas.ProformaLineaBean">
    insert into x_proformas_lineas_tbl (UID_ACTIVIDAD, ID_PROFORMA, LINEA, 
      CODART, UNIDADES, CANTIDAD_CONVERTIDA, 
      CANTIDAD_SUMINISTRADA, UNIDAD_MEDIDA_SUMINISTRADA, 
      DESCUENTO, IMPORTE, LOTE, 
      FECHA_CADUCIDAD)
    values (#{uidActividad,jdbcType=VARCHAR}, #{idProforma,jdbcType=VARCHAR}, #{linea,jdbcType=INTEGER}, 
      #{codart,jdbcType=VARCHAR}, #{unidades,jdbcType=INTEGER}, #{cantidadConvertida,jdbcType=DECIMAL}, 
      #{cantidadSuministrada,jdbcType=DECIMAL}, #{unidadMedidaSuministrada,jdbcType=VARCHAR}, 
      #{descuento,jdbcType=VARCHAR}, #{importe,jdbcType=DECIMAL}, #{lote,jdbcType=VARCHAR}, 
      #{fechaCaducidad,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.comerzzia.iskaypet.pos.persistence.proformas.lineas.ProformaLineaBean">
    insert into x_proformas_lineas_tbl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uidActividad != null">
        UID_ACTIVIDAD,
      </if>
      <if test="idProforma != null">
        ID_PROFORMA,
      </if>
      <if test="linea != null">
        LINEA,
      </if>
      <if test="codart != null">
        CODART,
      </if>
      <if test="unidades != null">
        UNIDADES,
      </if>
      <if test="cantidadConvertida != null">
        CANTIDAD_CONVERTIDA,
      </if>
      <if test="cantidadSuministrada != null">
        CANTIDAD_SUMINISTRADA,
      </if>
      <if test="unidadMedidaSuministrada != null">
        UNIDAD_MEDIDA_SUMINISTRADA,
      </if>
      <if test="descuento != null">
        DESCUENTO,
      </if>
      <if test="importe != null">
        IMPORTE,
      </if>
      <if test="lote != null">
        LOTE,
      </if>
      <if test="fechaCaducidad != null">
        FECHA_CADUCIDAD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uidActividad != null">
        #{uidActividad,jdbcType=VARCHAR},
      </if>
      <if test="idProforma != null">
        #{idProforma,jdbcType=VARCHAR},
      </if>
      <if test="linea != null">
        #{linea,jdbcType=INTEGER},
      </if>
      <if test="codart != null">
        #{codart,jdbcType=VARCHAR},
      </if>
      <if test="unidades != null">
        #{unidades,jdbcType=INTEGER},
      </if>
      <if test="cantidadConvertida != null">
        #{cantidadConvertida,jdbcType=DECIMAL},
      </if>
      <if test="cantidadSuministrada != null">
        #{cantidadSuministrada,jdbcType=DECIMAL},
      </if>
      <if test="unidadMedidaSuministrada != null">
        #{unidadMedidaSuministrada,jdbcType=VARCHAR},
      </if>
      <if test="descuento != null">
        #{descuento,jdbcType=VARCHAR},
      </if>
      <if test="importe != null">
        #{importe,jdbcType=DECIMAL},
      </if>
      <if test="lote != null">
        #{lote,jdbcType=VARCHAR},
      </if>
      <if test="fechaCaducidad != null">
        #{fechaCaducidad,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.comerzzia.iskaypet.pos.persistence.proformas.lineas.ProformaLineaBeanExample" resultType="java.lang.Long">
    select count(*) from x_proformas_lineas_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update x_proformas_lineas_tbl
    <set>
      <if test="row.uidActividad != null">
        UID_ACTIVIDAD = #{row.uidActividad,jdbcType=VARCHAR},
      </if>
      <if test="row.idProforma != null">
        ID_PROFORMA = #{row.idProforma,jdbcType=VARCHAR},
      </if>
      <if test="row.linea != null">
        LINEA = #{row.linea,jdbcType=INTEGER},
      </if>
      <if test="row.codart != null">
        CODART = #{row.codart,jdbcType=VARCHAR},
      </if>
      <if test="row.unidades != null">
        UNIDADES = #{row.unidades,jdbcType=INTEGER},
      </if>
      <if test="row.cantidadConvertida != null">
        CANTIDAD_CONVERTIDA = #{row.cantidadConvertida,jdbcType=DECIMAL},
      </if>
      <if test="row.cantidadSuministrada != null">
        CANTIDAD_SUMINISTRADA = #{row.cantidadSuministrada,jdbcType=DECIMAL},
      </if>
      <if test="row.unidadMedidaSuministrada != null">
        UNIDAD_MEDIDA_SUMINISTRADA = #{row.unidadMedidaSuministrada,jdbcType=VARCHAR},
      </if>
      <if test="row.descuento != null">
        DESCUENTO = #{row.descuento,jdbcType=VARCHAR},
      </if>
      <if test="row.importe != null">
        IMPORTE = #{row.importe,jdbcType=DECIMAL},
      </if>
      <if test="row.lote != null">
        LOTE = #{row.lote,jdbcType=VARCHAR},
      </if>
      <if test="row.fechaCaducidad != null">
        FECHA_CADUCIDAD = #{row.fechaCaducidad,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update x_proformas_lineas_tbl
    set UID_ACTIVIDAD = #{row.uidActividad,jdbcType=VARCHAR},
      ID_PROFORMA = #{row.idProforma,jdbcType=VARCHAR},
      LINEA = #{row.linea,jdbcType=INTEGER},
      CODART = #{row.codart,jdbcType=VARCHAR},
      UNIDADES = #{row.unidades,jdbcType=INTEGER},
      CANTIDAD_CONVERTIDA = #{row.cantidadConvertida,jdbcType=DECIMAL},
      CANTIDAD_SUMINISTRADA = #{row.cantidadSuministrada,jdbcType=DECIMAL},
      UNIDAD_MEDIDA_SUMINISTRADA = #{row.unidadMedidaSuministrada,jdbcType=VARCHAR},
      DESCUENTO = #{row.descuento,jdbcType=VARCHAR},
      IMPORTE = #{row.importe,jdbcType=DECIMAL},
      LOTE = #{row.lote,jdbcType=VARCHAR},
      FECHA_CADUCIDAD = #{row.fechaCaducidad,jdbcType=TIMESTAMP}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.comerzzia.iskaypet.pos.persistence.proformas.lineas.ProformaLineaBean">
    update x_proformas_lineas_tbl
    <set>
      <if test="codart != null">
        CODART = #{codart,jdbcType=VARCHAR},
      </if>
      <if test="unidades != null">
        UNIDADES = #{unidades,jdbcType=INTEGER},
      </if>
      <if test="cantidadConvertida != null">
        CANTIDAD_CONVERTIDA = #{cantidadConvertida,jdbcType=DECIMAL},
      </if>
      <if test="cantidadSuministrada != null">
        CANTIDAD_SUMINISTRADA = #{cantidadSuministrada,jdbcType=DECIMAL},
      </if>
      <if test="unidadMedidaSuministrada != null">
        UNIDAD_MEDIDA_SUMINISTRADA = #{unidadMedidaSuministrada,jdbcType=VARCHAR},
      </if>
      <if test="descuento != null">
        DESCUENTO = #{descuento,jdbcType=VARCHAR},
      </if>
      <if test="importe != null">
        IMPORTE = #{importe,jdbcType=DECIMAL},
      </if>
      <if test="lote != null">
        LOTE = #{lote,jdbcType=VARCHAR},
      </if>
      <if test="fechaCaducidad != null">
        FECHA_CADUCIDAD = #{fechaCaducidad,jdbcType=TIMESTAMP},
      </if>
    </set>
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and ID_PROFORMA = #{idProforma,jdbcType=VARCHAR}
      and LINEA = #{linea,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.comerzzia.iskaypet.pos.persistence.proformas.lineas.ProformaLineaBean">
    update x_proformas_lineas_tbl
    set CODART = #{codart,jdbcType=VARCHAR},
      UNIDADES = #{unidades,jdbcType=INTEGER},
      CANTIDAD_CONVERTIDA = #{cantidadConvertida,jdbcType=DECIMAL},
      CANTIDAD_SUMINISTRADA = #{cantidadSuministrada,jdbcType=DECIMAL},
      UNIDAD_MEDIDA_SUMINISTRADA = #{unidadMedidaSuministrada,jdbcType=VARCHAR},
      DESCUENTO = #{descuento,jdbcType=VARCHAR},
      IMPORTE = #{importe,jdbcType=DECIMAL},
      LOTE = #{lote,jdbcType=VARCHAR},
      FECHA_CADUCIDAD = #{fechaCaducidad,jdbcType=TIMESTAMP}
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and ID_PROFORMA = #{idProforma,jdbcType=VARCHAR}
      and LINEA = #{linea,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.comerzzia.iskaypet.pos.persistence.proformas.lineas.ProformaLineaBeanExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from x_proformas_lineas_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>