#lbTotal {
    -fx-font-size: 65px;
}

#lbACuenta {
    -fx-font-size: 35px;
}

.btn-isk-editar {
    -fx-background-image: url("../../../imagenes/iconos/edit.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20px;
}

.btn-isk-eliminar {
    -fx-background-image: url("../../../imagenes/iconos/delete.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20px;
}
