
.fondo-login {
	-fx-background-color: #fff;
	-fx-background-radius: 6;
}

.fondo-login .label {
	-fx-font-size: 18px;
}

.fondo-login .text-input {
	-fx-font-size: 18px;
}

.login-left {
	-fx-border-width: 0 1 0 0;
	-fx-border-color: -color-principal-3;
}

.login-top {
	-fx-border-width: 0 0 3 0;
	-fx-border-color: -color-principal-3;
}

.login-top .nombre-accion .text {
	-fx-font-size: 22px;
	-fx-font-weight: bold;
}
.personaje {
	-fx-background-image: url("../../../gui/images/icons/personaje.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.logo-login {
	-fx-background-image: url("../../../gui/images/logos/logo_comerzzia.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-BackgroundSize:50%;
}

/* CLASES CREADAS PARA PODER PERSONALIZAR SKINs */
.wrapper-login {

}
.columLeft-login {
	
}
.wrappCentral-login {

}
.backlog {
	
}


