<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comerzzia.iskaypet.pos.persistence.ticket.contrato.veterinario.MascotaMailVeterinarioMapper">
  <resultMap id="BaseResultMap" type="com.comerzzia.iskaypet.pos.persistence.ticket.contrato.veterinario.MascotaMailVeterinario">
    <id column="UID_ACTIVIDAD" jdbcType="VARCHAR" property="uidActividad" />
    <id column="CODART" jdbcType="VARCHAR" property="codart" />
    <result column="DESART" jdbcType="VARCHAR" property="desart" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    UID_ACTIVIDAD, CODART, DESART
  </sql>
  <select id="selectByExample" parameterType="com.comerzzia.iskaypet.pos.persistence.ticket.contrato.veterinario.MascotaMailVeterinarioExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from x_veterinario_mascotas_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.comerzzia.iskaypet.pos.persistence.ticket.contrato.veterinario.MascotaMailVeterinarioKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from x_veterinario_mascotas_tbl
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and CODART = #{codart,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.comerzzia.iskaypet.pos.persistence.ticket.contrato.veterinario.MascotaMailVeterinarioKey">
    delete from x_veterinario_mascotas_tbl
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and CODART = #{codart,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.comerzzia.iskaypet.pos.persistence.ticket.contrato.veterinario.MascotaMailVeterinarioExample">
    delete from x_veterinario_mascotas_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.comerzzia.iskaypet.pos.persistence.ticket.contrato.veterinario.MascotaMailVeterinario">
    insert into x_veterinario_mascotas_tbl (UID_ACTIVIDAD, CODART, DESART
      )
    values (#{uidActividad,jdbcType=VARCHAR}, #{codart,jdbcType=VARCHAR}, #{desart,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.comerzzia.iskaypet.pos.persistence.ticket.contrato.veterinario.MascotaMailVeterinario">
    insert into x_veterinario_mascotas_tbl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uidActividad != null">
        UID_ACTIVIDAD,
      </if>
      <if test="codart != null">
        CODART,
      </if>
      <if test="desart != null">
        DESART,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uidActividad != null">
        #{uidActividad,jdbcType=VARCHAR},
      </if>
      <if test="codart != null">
        #{codart,jdbcType=VARCHAR},
      </if>
      <if test="desart != null">
        #{desart,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.comerzzia.iskaypet.pos.persistence.ticket.contrato.veterinario.MascotaMailVeterinarioExample" resultType="java.lang.Long">
    select count(*) from x_veterinario_mascotas_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update x_veterinario_mascotas_tbl
    <set>
      <if test="record.uidActividad != null">
        UID_ACTIVIDAD = #{record.uidActividad,jdbcType=VARCHAR},
      </if>
      <if test="record.codart != null">
        CODART = #{record.codart,jdbcType=VARCHAR},
      </if>
      <if test="record.desart != null">
        DESART = #{record.desart,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update x_veterinario_mascotas_tbl
    set UID_ACTIVIDAD = #{record.uidActividad,jdbcType=VARCHAR},
      CODART = #{record.codart,jdbcType=VARCHAR},
      DESART = #{record.desart,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.comerzzia.iskaypet.pos.persistence.ticket.contrato.veterinario.MascotaMailVeterinario">
    update x_veterinario_mascotas_tbl
    <set>
      <if test="desart != null">
        DESART = #{desart,jdbcType=VARCHAR},
      </if>
    </set>
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and CODART = #{codart,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.comerzzia.iskaypet.pos.persistence.ticket.contrato.veterinario.MascotaMailVeterinario">
    update x_veterinario_mascotas_tbl
    set DESART = #{desart,jdbcType=VARCHAR}
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and CODART = #{codart,jdbcType=VARCHAR}
  </update>
</mapper>