#doctype
<html>
	#htmlhead("/menu/menu.css")
	<body class="menu-base">
		<div class="sticky-top menu-base mt-2">
			<nav class="navbar">
				<div class="container-fluid menu-close">
					<a class="navbar-brand">
						#img("icons/close_blue.png" "execute('CloseMenu')")
					</a>
					<div class="row text-end">
						#foreach($buttonLine in $listButtonLine)
							#foreach($button in ${buttonLine.getButtonRow()})
								#if(${button.isVisible()})
									#panelbutton("${button.getText()}" "executeOperation('Menu', '${button.getKey()}')" "${button.getImagePath()}" "${button.getShortcut()}")
								#end
							#end
						#end
					</div>
				</div>
			</nav>
			<hr />
		</div>
		<div class="menu-items">
			#foreach ($section in $menuItems.keySet())
			<div class="section-menu">
				#set($menuItemsSection = $menuItems.get($section))
				<div class="font-weight-bold">#i18n($section)</div>
				<div class="row">
				#foreach($menuItem in $menuItemsSection)
					#if(${menuItem.getAction().getActive()})
						<button class="btn btn-menu" onclick="execute('SelectMenuItem', [{'name':'action_id', 'value':'${menuItem.getAction().getActionId()}'}])">
							#img("menu/${menuItem.getAction().getIcon()}")
							<div>#i18n(${menuItem.getAction().getTitle()})</div>
						</button>
					#end
				#end
				</div>
			</div>
			#end
		</div>
	</body>
</html>