.btInsertar {
    -fx-background-image: url("../../../../imagenes/iconos/add.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
    -fx-padding: 10 10 10 40;
}

.lbNegrita {
	-fx-font-weight: bold;
}