<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comerzzia.iskaypet.pos.persistence.ticket.contrato.trazabilidad.DetailPetsMapper">
  <resultMap id="BaseResultMap" type="com.comerzzia.iskaypet.pos.persistence.ticket.contrato.trazabilidad.DetailPets">
    <id column="ACTIVITY_ID" jdbcType="VARCHAR" property="activityId" />
    <id column="TIPO_MATERIAL" jdbcType="VARCHAR" property="tipoMaterial" />
    <id column="GRUPO_ARTICULOS" jdbcType="VARCHAR" property="grupoArticulos" />
    <id column="VALOR_CARACTERISTICA" jdbcType="VARCHAR" property="valorCaracteristica" />
    <id column="PAIS" jdbcType="VARCHAR" property="pais" />
    <id column="REGION" jdbcType="VARCHAR" property="region" />
    <result column="JERARQUIA" jdbcType="VARCHAR" property="jerarquia" />
    <result column="ID_CHIP" jdbcType="CHAR" property="idChip" />
    <result column="ID_ANILLA" jdbcType="CHAR" property="idAnilla" />
    <result column="ID_CITES" jdbcType="CHAR" property="idCites" />
    <result column="CONTRATO" jdbcType="CHAR" property="contrato" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ACTIVITY_ID, TIPO_MATERIAL, GRUPO_ARTICULOS, VALOR_CARACTERISTICA, PAIS, REGION, 
    JERARQUIA, ID_CHIP, ID_ANILLA, ID_CITES, CONTRATO
  </sql>
  <select id="selectByExample" parameterType="com.comerzzia.iskaypet.pos.persistence.ticket.contrato.trazabilidad.DetailPetsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from x_detail_pets_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.comerzzia.iskaypet.pos.persistence.ticket.contrato.trazabilidad.DetailPetsKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from x_detail_pets_tbl
    where ACTIVITY_ID = #{activityId,jdbcType=VARCHAR}
      and TIPO_MATERIAL = #{tipoMaterial,jdbcType=VARCHAR}
      and GRUPO_ARTICULOS = #{grupoArticulos,jdbcType=VARCHAR}
      and VALOR_CARACTERISTICA = #{valorCaracteristica,jdbcType=VARCHAR}
      and PAIS = #{pais,jdbcType=VARCHAR}
      and REGION = #{region,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.comerzzia.iskaypet.pos.persistence.ticket.contrato.trazabilidad.DetailPetsKey">
    delete from x_detail_pets_tbl
    where ACTIVITY_ID = #{activityId,jdbcType=VARCHAR}
      and TIPO_MATERIAL = #{tipoMaterial,jdbcType=VARCHAR}
      and GRUPO_ARTICULOS = #{grupoArticulos,jdbcType=VARCHAR}
      and VALOR_CARACTERISTICA = #{valorCaracteristica,jdbcType=VARCHAR}
      and PAIS = #{pais,jdbcType=VARCHAR}
      and REGION = #{region,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.comerzzia.iskaypet.pos.persistence.ticket.contrato.trazabilidad.DetailPetsExample">
    delete from x_detail_pets_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.comerzzia.iskaypet.pos.persistence.ticket.contrato.trazabilidad.DetailPets">
    insert into x_detail_pets_tbl (ACTIVITY_ID, TIPO_MATERIAL, GRUPO_ARTICULOS, 
      VALOR_CARACTERISTICA, PAIS, REGION, 
      JERARQUIA, ID_CHIP, ID_ANILLA, 
      ID_CITES, CONTRATO)
    values (#{activityId,jdbcType=VARCHAR}, #{tipoMaterial,jdbcType=VARCHAR}, #{grupoArticulos,jdbcType=VARCHAR}, 
      #{valorCaracteristica,jdbcType=VARCHAR}, #{pais,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}, 
      #{jerarquia,jdbcType=VARCHAR}, #{idChip,jdbcType=CHAR}, #{idAnilla,jdbcType=CHAR}, 
      #{idCites,jdbcType=CHAR}, #{contrato,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.comerzzia.iskaypet.pos.persistence.ticket.contrato.trazabilidad.DetailPets">
    insert into x_detail_pets_tbl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="activityId != null">
        ACTIVITY_ID,
      </if>
      <if test="tipoMaterial != null">
        TIPO_MATERIAL,
      </if>
      <if test="grupoArticulos != null">
        GRUPO_ARTICULOS,
      </if>
      <if test="valorCaracteristica != null">
        VALOR_CARACTERISTICA,
      </if>
      <if test="pais != null">
        PAIS,
      </if>
      <if test="region != null">
        REGION,
      </if>
      <if test="jerarquia != null">
        JERARQUIA,
      </if>
      <if test="idChip != null">
        ID_CHIP,
      </if>
      <if test="idAnilla != null">
        ID_ANILLA,
      </if>
      <if test="idCites != null">
        ID_CITES,
      </if>
      <if test="contrato != null">
        CONTRATO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="activityId != null">
        #{activityId,jdbcType=VARCHAR},
      </if>
      <if test="tipoMaterial != null">
        #{tipoMaterial,jdbcType=VARCHAR},
      </if>
      <if test="grupoArticulos != null">
        #{grupoArticulos,jdbcType=VARCHAR},
      </if>
      <if test="valorCaracteristica != null">
        #{valorCaracteristica,jdbcType=VARCHAR},
      </if>
      <if test="pais != null">
        #{pais,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="jerarquia != null">
        #{jerarquia,jdbcType=VARCHAR},
      </if>
      <if test="idChip != null">
        #{idChip,jdbcType=CHAR},
      </if>
      <if test="idAnilla != null">
        #{idAnilla,jdbcType=CHAR},
      </if>
      <if test="idCites != null">
        #{idCites,jdbcType=CHAR},
      </if>
      <if test="contrato != null">
        #{contrato,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.comerzzia.iskaypet.pos.persistence.ticket.contrato.trazabilidad.DetailPetsExample" resultType="java.lang.Long">
    select count(*) from x_detail_pets_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update x_detail_pets_tbl
    <set>
      <if test="record.activityId != null">
        ACTIVITY_ID = #{record.activityId,jdbcType=VARCHAR},
      </if>
      <if test="record.tipoMaterial != null">
        TIPO_MATERIAL = #{record.tipoMaterial,jdbcType=VARCHAR},
      </if>
      <if test="record.grupoArticulos != null">
        GRUPO_ARTICULOS = #{record.grupoArticulos,jdbcType=VARCHAR},
      </if>
      <if test="record.valorCaracteristica != null">
        VALOR_CARACTERISTICA = #{record.valorCaracteristica,jdbcType=VARCHAR},
      </if>
      <if test="record.pais != null">
        PAIS = #{record.pais,jdbcType=VARCHAR},
      </if>
      <if test="record.region != null">
        REGION = #{record.region,jdbcType=VARCHAR},
      </if>
      <if test="record.jerarquia != null">
        JERARQUIA = #{record.jerarquia,jdbcType=VARCHAR},
      </if>
      <if test="record.idChip != null">
        ID_CHIP = #{record.idChip,jdbcType=CHAR},
      </if>
      <if test="record.idAnilla != null">
        ID_ANILLA = #{record.idAnilla,jdbcType=CHAR},
      </if>
      <if test="record.idCites != null">
        ID_CITES = #{record.idCites,jdbcType=CHAR},
      </if>
      <if test="record.contrato != null">
        CONTRATO = #{record.contrato,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update x_detail_pets_tbl
    set ACTIVITY_ID = #{record.activityId,jdbcType=VARCHAR},
      TIPO_MATERIAL = #{record.tipoMaterial,jdbcType=VARCHAR},
      GRUPO_ARTICULOS = #{record.grupoArticulos,jdbcType=VARCHAR},
      VALOR_CARACTERISTICA = #{record.valorCaracteristica,jdbcType=VARCHAR},
      PAIS = #{record.pais,jdbcType=VARCHAR},
      REGION = #{record.region,jdbcType=VARCHAR},
      JERARQUIA = #{record.jerarquia,jdbcType=VARCHAR},
      ID_CHIP = #{record.idChip,jdbcType=CHAR},
      ID_ANILLA = #{record.idAnilla,jdbcType=CHAR},
      ID_CITES = #{record.idCites,jdbcType=CHAR},
      CONTRATO = #{record.contrato,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.comerzzia.iskaypet.pos.persistence.ticket.contrato.trazabilidad.DetailPets">
    update x_detail_pets_tbl
    <set>
      <if test="jerarquia != null">
        JERARQUIA = #{jerarquia,jdbcType=VARCHAR},
      </if>
      <if test="idChip != null">
        ID_CHIP = #{idChip,jdbcType=CHAR},
      </if>
      <if test="idAnilla != null">
        ID_ANILLA = #{idAnilla,jdbcType=CHAR},
      </if>
      <if test="idCites != null">
        ID_CITES = #{idCites,jdbcType=CHAR},
      </if>
      <if test="contrato != null">
        CONTRATO = #{contrato,jdbcType=CHAR},
      </if>
    </set>
    where ACTIVITY_ID = #{activityId,jdbcType=VARCHAR}
      and TIPO_MATERIAL = #{tipoMaterial,jdbcType=VARCHAR}
      and GRUPO_ARTICULOS = #{grupoArticulos,jdbcType=VARCHAR}
      and VALOR_CARACTERISTICA = #{valorCaracteristica,jdbcType=VARCHAR}
      and PAIS = #{pais,jdbcType=VARCHAR}
      and REGION = #{region,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.comerzzia.iskaypet.pos.persistence.ticket.contrato.trazabilidad.DetailPets">
    update x_detail_pets_tbl
    set JERARQUIA = #{jerarquia,jdbcType=VARCHAR},
      ID_CHIP = #{idChip,jdbcType=CHAR},
      ID_ANILLA = #{idAnilla,jdbcType=CHAR},
      ID_CITES = #{idCites,jdbcType=CHAR},
      CONTRATO = #{contrato,jdbcType=CHAR}
    where ACTIVITY_ID = #{activityId,jdbcType=VARCHAR}
      and TIPO_MATERIAL = #{tipoMaterial,jdbcType=VARCHAR}
      and GRUPO_ARTICULOS = #{grupoArticulos,jdbcType=VARCHAR}
      and VALOR_CARACTERISTICA = #{valorCaracteristica,jdbcType=VARCHAR}
      and PAIS = #{pais,jdbcType=VARCHAR}
      and REGION = #{region,jdbcType=VARCHAR}
  </update>
</mapper>