<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comerzzia.cardoso.pos.persistence.tarifas.TarifaDetalleAnexaMapper" >
  <resultMap id="BaseResultMap" type="com.comerzzia.cardoso.pos.persistence.tarifas.TarifaDetalleAnexaBean" >
    <id column="UID_ACTIVIDAD" property="uidActividad" jdbcType="VARCHAR" />
    <id column="CODTAR" property="codtar" jdbcType="VARCHAR" />
    <id column="CODART" property="codart" jdbcType="VARCHAR" />
    <result column="PRECIO_VENTA_SIN_DTO" property="precioVentaSinDto" jdbcType="DECIMAL" />
    <result column="PRECIO_TOTAL_SIN_DTO" property="precioTotalSinDto" jdbcType="DECIMAL" />
    <result column="DESCUENTO_TARIFA" property="descuentoTarifa" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    UID_ACTIVIDAD, CODTAR, CODART, PRECIO_VENTA_SIN_DTO, PRECIO_TOTAL_SIN_DTO, DESCUENTO_TARIFA
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.comerzzia.cardoso.pos.persistence.tarifas.TarifaDetalleAnexaExample" resultSetType="SCROLL_INSENSITIVE" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from x_tarifas_det_tbl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.comerzzia.cardoso.pos.persistence.tarifas.TarifaDetalleAnexaKey" >
    select 
    <include refid="Base_Column_List" />
    from x_tarifas_det_tbl
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and CODTAR = #{codtar,jdbcType=VARCHAR}
      and CODART = #{codart,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.comerzzia.cardoso.pos.persistence.tarifas.TarifaDetalleAnexaKey" >
    delete from x_tarifas_det_tbl
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and CODTAR = #{codtar,jdbcType=VARCHAR}
      and CODART = #{codart,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.comerzzia.cardoso.pos.persistence.tarifas.TarifaDetalleAnexaExample" >
    delete from x_tarifas_det_tbl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.comerzzia.cardoso.pos.persistence.tarifas.TarifaDetalleAnexaBean" >
    insert into x_tarifas_det_tbl (UID_ACTIVIDAD, CODTAR, CODART, 
      PRECIO_VENTA_SIN_DTO, PRECIO_TOTAL_SIN_DTO, DESCUENTO_TARIFA
      )
    values (#{uidActividad,jdbcType=VARCHAR}, #{codtar,jdbcType=VARCHAR}, #{codart,jdbcType=VARCHAR}, 
      #{precioVentaSinDto,jdbcType=DECIMAL}, #{precioTotalSinDto,jdbcType=DECIMAL}, #{descuentoTarifa,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.comerzzia.cardoso.pos.persistence.tarifas.TarifaDetalleAnexaBean" >
    insert into x_tarifas_det_tbl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uidActividad != null" >
        UID_ACTIVIDAD,
      </if>
      <if test="codtar != null" >
        CODTAR,
      </if>
      <if test="codart != null" >
        CODART,
      </if>
      <if test="precioVentaSinDto != null" >
        PRECIO_VENTA_SIN_DTO,
      </if>
      <if test="precioTotalSinDto != null" >
        PRECIO_TOTAL_SIN_DTO,
      </if>
      <if test="descuentoTarifa != null" >
        DESCUENTO_TARIFA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uidActividad != null" >
        #{uidActividad,jdbcType=VARCHAR},
      </if>
      <if test="codtar != null" >
        #{codtar,jdbcType=VARCHAR},
      </if>
      <if test="codart != null" >
        #{codart,jdbcType=VARCHAR},
      </if>
      <if test="precioVentaSinDto != null" >
        #{precioVentaSinDto,jdbcType=DECIMAL},
      </if>
      <if test="precioTotalSinDto != null" >
        #{precioTotalSinDto,jdbcType=DECIMAL},
      </if>
      <if test="descuentoTarifa != null" >
        #{descuentoTarifa,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.comerzzia.cardoso.pos.persistence.tarifas.TarifaDetalleAnexaExample" resultType="java.lang.Integer" >
    select count(*) from x_tarifas_det_tbl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update x_tarifas_det_tbl
    <set >
      <if test="record.uidActividad != null" >
        UID_ACTIVIDAD = #{record.uidActividad,jdbcType=VARCHAR},
      </if>
      <if test="record.codtar != null" >
        CODTAR = #{record.codtar,jdbcType=VARCHAR},
      </if>
      <if test="record.codart != null" >
        CODART = #{record.codart,jdbcType=VARCHAR},
      </if>
      <if test="record.precioVentaSinDto != null" >
        PRECIO_VENTA_SIN_DTO = #{record.precioVentaSinDto,jdbcType=DECIMAL},
      </if>
      <if test="record.precioTotalSinDto != null" >
        PRECIO_TOTAL_SIN_DTO = #{record.precioTotalSinDto,jdbcType=DECIMAL},
      </if>
      <if test="record.descuentoTarifa != null" >
        DESCUENTO_TARIFA = #{record.descuentoTarifa,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update x_tarifas_det_tbl
    set UID_ACTIVIDAD = #{record.uidActividad,jdbcType=VARCHAR},
      CODTAR = #{record.codtar,jdbcType=VARCHAR},
      CODART = #{record.codart,jdbcType=VARCHAR},
      PRECIO_VENTA_SIN_DTO = #{record.precioVentaSinDto,jdbcType=DECIMAL},
      PRECIO_TOTAL_SIN_DTO = #{record.precioTotalSinDto,jdbcType=DECIMAL},
      DESCUENTO_TARIFA = #{record.descuentoTarifa,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.comerzzia.cardoso.pos.persistence.tarifas.TarifaDetalleAnexaBean" >
    update x_tarifas_det_tbl
    <set >
      <if test="precioVentaSinDto != null" >
        PRECIO_VENTA_SIN_DTO = #{precioVentaSinDto,jdbcType=DECIMAL},
      </if>
      <if test="precioTotalSinDto != null" >
        PRECIO_TOTAL_SIN_DTO = #{precioTotalSinDto,jdbcType=DECIMAL},
      </if>
      <if test="descuentoTarifa != null" >
        DESCUENTO_TARIFA = #{descuentoTarifa,jdbcType=DECIMAL},
      </if>
    </set>
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and CODTAR = #{codtar,jdbcType=VARCHAR}
      and CODART = #{codart,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.comerzzia.cardoso.pos.persistence.tarifas.TarifaDetalleAnexaBean" >
    update x_tarifas_det_tbl
    set PRECIO_VENTA_SIN_DTO = #{precioVentaSinDto,jdbcType=DECIMAL},
      PRECIO_TOTAL_SIN_DTO = #{precioTotalSinDto,jdbcType=DECIMAL},
      DESCUENTO_TARIFA = #{descuentoTarifa,jdbcType=DECIMAL}
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and CODTAR = #{codtar,jdbcType=VARCHAR}
      and CODART = #{codart,jdbcType=VARCHAR}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.comerzzia.cardoso.pos.persistence.tarifas.TarifaDetalleAnexaExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from x_tarifas_det_tbl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>