<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comerzzia.cardoso.pos.persistence.balanza.TicketBalanzaMapper" >
  <resultMap id="BaseResultMap" type="com.comerzzia.cardoso.pos.persistence.balanza.TicketBalanzaBean" >
    <id column="UID_ACTIVIDAD" property="uidActividad" jdbcType="VARCHAR" />
    <id column="UID_TICKET_BALANZA" property="uidTicketBalanza" jdbcType="VARCHAR" />
    <result column="NUM_TICKET_BALANZA" property="numTicketBalanza" jdbcType="VARCHAR" />
    <result column="CODSECCION" property="codseccion" jdbcType="VARCHAR" />
    <result column="FECHA" property="fecha" jdbcType="TIMESTAMP" />
    <result column="TOTAL" property="total" jdbcType="DECIMAL" />
    <result column="UID_TICKET" property="uidTicket" jdbcType="VARCHAR" />
    <result column="PROCESADO" property="procesado" jdbcType="CHAR" typeHandler="com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler" />
    <result column="FECHA_PROCESO" property="fechaProceso" jdbcType="TIMESTAMP" />
    <result column="MENSAJE_PROCESO" property="mensajeProceso" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.comerzzia.cardoso.pos.persistence.balanza.TicketBalanzaBean" extends="BaseResultMap" >
    <result column="TICKET_BALANZA" property="ticketBalanza" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.procesadoCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler} and #{criterion.secondValue,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.procesadoCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler} and #{criterion.secondValue,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    UID_ACTIVIDAD, UID_TICKET_BALANZA, NUM_TICKET_BALANZA, CODSECCION, FECHA, TOTAL, 
    UID_TICKET, PROCESADO, FECHA_PROCESO, MENSAJE_PROCESO
  </sql>
  <sql id="Blob_Column_List" >
    TICKET_BALANZA
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.comerzzia.cardoso.pos.persistence.balanza.TicketBalanzaExample" resultSetType="SCROLL_INSENSITIVE" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from x_tickets_balanza_tbl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.comerzzia.cardoso.pos.persistence.balanza.TicketBalanzaExample" resultSetType="SCROLL_INSENSITIVE" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from x_tickets_balanza_tbl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="com.comerzzia.cardoso.pos.persistence.balanza.TicketBalanzaKey" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from x_tickets_balanza_tbl
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and UID_TICKET_BALANZA = #{uidTicketBalanza,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.comerzzia.cardoso.pos.persistence.balanza.TicketBalanzaKey" >
    delete from x_tickets_balanza_tbl
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and UID_TICKET_BALANZA = #{uidTicketBalanza,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.comerzzia.cardoso.pos.persistence.balanza.TicketBalanzaExample" >
    delete from x_tickets_balanza_tbl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.comerzzia.cardoso.pos.persistence.balanza.TicketBalanzaBean" >
    insert into x_tickets_balanza_tbl (UID_ACTIVIDAD, UID_TICKET_BALANZA, NUM_TICKET_BALANZA, 
      CODSECCION, FECHA, TOTAL, 
      UID_TICKET, PROCESADO, 
      FECHA_PROCESO, MENSAJE_PROCESO, TICKET_BALANZA
      )
    values (#{uidActividad,jdbcType=VARCHAR}, #{uidTicketBalanza,jdbcType=VARCHAR}, #{numTicketBalanza,jdbcType=VARCHAR}, 
      #{codseccion,jdbcType=VARCHAR}, #{fecha,jdbcType=TIMESTAMP}, #{total,jdbcType=DECIMAL}, 
      #{uidTicket,jdbcType=VARCHAR}, #{procesado,jdbcType=CHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}, 
      #{fechaProceso,jdbcType=TIMESTAMP}, #{mensajeProceso,jdbcType=VARCHAR}, #{ticketBalanza,jdbcType=LONGVARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.comerzzia.cardoso.pos.persistence.balanza.TicketBalanzaBean" >
    insert into x_tickets_balanza_tbl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uidActividad != null" >
        UID_ACTIVIDAD,
      </if>
      <if test="uidTicketBalanza != null" >
        UID_TICKET_BALANZA,
      </if>
      <if test="numTicketBalanza != null" >
        NUM_TICKET_BALANZA,
      </if>
      <if test="codseccion != null" >
        CODSECCION,
      </if>
      <if test="fecha != null" >
        FECHA,
      </if>
      <if test="total != null" >
        TOTAL,
      </if>
      <if test="uidTicket != null" >
        UID_TICKET,
      </if>
      <if test="procesado != null" >
        PROCESADO,
      </if>
      <if test="fechaProceso != null" >
        FECHA_PROCESO,
      </if>
      <if test="mensajeProceso != null" >
        MENSAJE_PROCESO,
      </if>
      <if test="ticketBalanza != null" >
        TICKET_BALANZA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uidActividad != null" >
        #{uidActividad,jdbcType=VARCHAR},
      </if>
      <if test="uidTicketBalanza != null" >
        #{uidTicketBalanza,jdbcType=VARCHAR},
      </if>
      <if test="numTicketBalanza != null" >
        #{numTicketBalanza,jdbcType=VARCHAR},
      </if>
      <if test="codseccion != null" >
        #{codseccion,jdbcType=VARCHAR},
      </if>
      <if test="fecha != null" >
        #{fecha,jdbcType=TIMESTAMP},
      </if>
      <if test="total != null" >
        #{total,jdbcType=DECIMAL},
      </if>
      <if test="uidTicket != null" >
        #{uidTicket,jdbcType=VARCHAR},
      </if>
      <if test="procesado != null" >
        #{procesado,jdbcType=CHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler},
      </if>
      <if test="fechaProceso != null" >
        #{fechaProceso,jdbcType=TIMESTAMP},
      </if>
      <if test="mensajeProceso != null" >
        #{mensajeProceso,jdbcType=VARCHAR},
      </if>
      <if test="ticketBalanza != null" >
        #{ticketBalanza,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.comerzzia.cardoso.pos.persistence.balanza.TicketBalanzaExample" resultType="java.lang.Integer" >
    select count(*) from x_tickets_balanza_tbl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update x_tickets_balanza_tbl
    <set >
      <if test="record.uidActividad != null" >
        UID_ACTIVIDAD = #{record.uidActividad,jdbcType=VARCHAR},
      </if>
      <if test="record.uidTicketBalanza != null" >
        UID_TICKET_BALANZA = #{record.uidTicketBalanza,jdbcType=VARCHAR},
      </if>
      <if test="record.numTicketBalanza != null" >
        NUM_TICKET_BALANZA = #{record.numTicketBalanza,jdbcType=VARCHAR},
      </if>
      <if test="record.codseccion != null" >
        CODSECCION = #{record.codseccion,jdbcType=VARCHAR},
      </if>
      <if test="record.fecha != null" >
        FECHA = #{record.fecha,jdbcType=TIMESTAMP},
      </if>
      <if test="record.total != null" >
        TOTAL = #{record.total,jdbcType=DECIMAL},
      </if>
      <if test="record.uidTicket != null" >
        UID_TICKET = #{record.uidTicket,jdbcType=VARCHAR},
      </if>
      <if test="record.procesado != null" >
        PROCESADO = #{record.procesado,jdbcType=CHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler},
      </if>
      <if test="record.fechaProceso != null" >
        FECHA_PROCESO = #{record.fechaProceso,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mensajeProceso != null" >
        MENSAJE_PROCESO = #{record.mensajeProceso,jdbcType=VARCHAR},
      </if>
      <if test="record.ticketBalanza != null" >
        TICKET_BALANZA = #{record.ticketBalanza,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update x_tickets_balanza_tbl
    set UID_ACTIVIDAD = #{record.uidActividad,jdbcType=VARCHAR},
      UID_TICKET_BALANZA = #{record.uidTicketBalanza,jdbcType=VARCHAR},
      NUM_TICKET_BALANZA = #{record.numTicketBalanza,jdbcType=VARCHAR},
      CODSECCION = #{record.codseccion,jdbcType=VARCHAR},
      FECHA = #{record.fecha,jdbcType=TIMESTAMP},
      TOTAL = #{record.total,jdbcType=DECIMAL},
      UID_TICKET = #{record.uidTicket,jdbcType=VARCHAR},
      PROCESADO = #{record.procesado,jdbcType=CHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler},
      FECHA_PROCESO = #{record.fechaProceso,jdbcType=TIMESTAMP},
      MENSAJE_PROCESO = #{record.mensajeProceso,jdbcType=VARCHAR},
      TICKET_BALANZA = #{record.ticketBalanza,jdbcType=LONGVARBINARY}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update x_tickets_balanza_tbl
    set UID_ACTIVIDAD = #{record.uidActividad,jdbcType=VARCHAR},
      UID_TICKET_BALANZA = #{record.uidTicketBalanza,jdbcType=VARCHAR},
      NUM_TICKET_BALANZA = #{record.numTicketBalanza,jdbcType=VARCHAR},
      CODSECCION = #{record.codseccion,jdbcType=VARCHAR},
      FECHA = #{record.fecha,jdbcType=TIMESTAMP},
      TOTAL = #{record.total,jdbcType=DECIMAL},
      UID_TICKET = #{record.uidTicket,jdbcType=VARCHAR},
      PROCESADO = #{record.procesado,jdbcType=CHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler},
      FECHA_PROCESO = #{record.fechaProceso,jdbcType=TIMESTAMP},
      MENSAJE_PROCESO = #{record.mensajeProceso,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.comerzzia.cardoso.pos.persistence.balanza.TicketBalanzaBean" >
    update x_tickets_balanza_tbl
    <set >
      <if test="numTicketBalanza != null" >
        NUM_TICKET_BALANZA = #{numTicketBalanza,jdbcType=VARCHAR},
      </if>
      <if test="codseccion != null" >
        CODSECCION = #{codseccion,jdbcType=VARCHAR},
      </if>
      <if test="fecha != null" >
        FECHA = #{fecha,jdbcType=TIMESTAMP},
      </if>
      <if test="total != null" >
        TOTAL = #{total,jdbcType=DECIMAL},
      </if>
      <if test="uidTicket != null" >
        UID_TICKET = #{uidTicket,jdbcType=VARCHAR},
      </if>
      <if test="procesado != null" >
        PROCESADO = #{procesado,jdbcType=CHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler},
      </if>
      <if test="fechaProceso != null" >
        FECHA_PROCESO = #{fechaProceso,jdbcType=TIMESTAMP},
      </if>
      <if test="mensajeProceso != null" >
        MENSAJE_PROCESO = #{mensajeProceso,jdbcType=VARCHAR},
      </if>
      <if test="ticketBalanza != null" >
        TICKET_BALANZA = #{ticketBalanza,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and UID_TICKET_BALANZA = #{uidTicketBalanza,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.comerzzia.cardoso.pos.persistence.balanza.TicketBalanzaBean" >
    update x_tickets_balanza_tbl
    set NUM_TICKET_BALANZA = #{numTicketBalanza,jdbcType=VARCHAR},
      CODSECCION = #{codseccion,jdbcType=VARCHAR},
      FECHA = #{fecha,jdbcType=TIMESTAMP},
      TOTAL = #{total,jdbcType=DECIMAL},
      UID_TICKET = #{uidTicket,jdbcType=VARCHAR},
      PROCESADO = #{procesado,jdbcType=CHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler},
      FECHA_PROCESO = #{fechaProceso,jdbcType=TIMESTAMP},
      MENSAJE_PROCESO = #{mensajeProceso,jdbcType=VARCHAR},
      TICKET_BALANZA = #{ticketBalanza,jdbcType=LONGVARBINARY}
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and UID_TICKET_BALANZA = #{uidTicketBalanza,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.comerzzia.cardoso.pos.persistence.balanza.TicketBalanzaBean" >
    update x_tickets_balanza_tbl
    set NUM_TICKET_BALANZA = #{numTicketBalanza,jdbcType=VARCHAR},
      CODSECCION = #{codseccion,jdbcType=VARCHAR},
      FECHA = #{fecha,jdbcType=TIMESTAMP},
      TOTAL = #{total,jdbcType=DECIMAL},
      UID_TICKET = #{uidTicket,jdbcType=VARCHAR},
      PROCESADO = #{procesado,jdbcType=CHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler},
      FECHA_PROCESO = #{fechaProceso,jdbcType=TIMESTAMP},
      MENSAJE_PROCESO = #{mensajeProceso,jdbcType=VARCHAR}
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and UID_TICKET_BALANZA = #{uidTicketBalanza,jdbcType=VARCHAR}
  </update>
  <select resultMap="ResultMapWithBLOBs" parameterType="com.comerzzia.cardoso.pos.persistence.balanza.TicketBalanzaExample" id="selectByExampleWithBLOBsWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from x_tickets_balanza_tbl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select resultMap="BaseResultMap" parameterType="com.comerzzia.cardoso.pos.persistence.balanza.TicketBalanzaExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from x_tickets_balanza_tbl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>