
.table-view .tablePermisos {
	-fx-background-color: #fff;
	-fx-border-color: #fff;
}

.table-view .tablePermisos .column-header {
	-fx-height: 200px;
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.table-view .tablePermisos .column-header-background {
	-fx-background-color: #fff;
}

.table-view .tablePermisos .column-header-background .filler {
	-fx-background-insets: 0px;
}

.columna-titular {
	-fx-rotate: 0;
	-fx-height: 200px;
	-fx-padding: 0;
	-fx-background-color: #fff;
}