.btnReenviar {
    -fx-background-image: url("accionReenviar.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
    -fx-padding: 10 10 10 40;
}

.btVolver {
    -fx-background-image: url("volver.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
    -fx-padding: 10 10 10 40;
}

.btAparcar {
    -fx-background-image: url("aparcar.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
    -fx-padding: 10 10 10 40;
}