<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comerzzia.iskaypet.pos.persistence.articlepoints.conditions.ArticlePointsConditionsMapper">
  <resultMap id="BaseResultMap" type="com.comerzzia.iskaypet.pos.persistence.articlepoints.conditions.ArticlePointsConditions">
    <id column="ACTIVITY_ID" jdbcType="VARCHAR" property="activityId" />
    <id column="ITEMCODE" jdbcType="VARCHAR" property="itemcode" />
    <id column="ITEMCODE_CONDITIONAL" jdbcType="VARCHAR" property="itemcodeConditional" />
    <result column="QUANTITY" jdbcType="DECIMAL" property="quantity" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ACTIVITY_ID, ITEMCODE, ITEMCODE_CONDITIONAL, QUANTITY
  </sql>
  <select id="selectByExample" parameterType="com.comerzzia.iskaypet.pos.persistence.articlepoints.conditions.ArticlePointsConditionsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from x_items_points_conditional_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.comerzzia.iskaypet.pos.persistence.articlepoints.conditions.ArticlePointsConditionsKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from x_items_points_conditional_tbl
    where ACTIVITY_ID = #{activityId,jdbcType=VARCHAR}
      and ITEMCODE = #{itemcode,jdbcType=VARCHAR}
      and ITEMCODE_CONDITIONAL = #{itemcodeConditional,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.comerzzia.iskaypet.pos.persistence.articlepoints.conditions.ArticlePointsConditionsKey">
    delete from x_items_points_conditional_tbl
    where ACTIVITY_ID = #{activityId,jdbcType=VARCHAR}
      and ITEMCODE = #{itemcode,jdbcType=VARCHAR}
      and ITEMCODE_CONDITIONAL = #{itemcodeConditional,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.comerzzia.iskaypet.pos.persistence.articlepoints.conditions.ArticlePointsConditionsExample">
    delete from x_items_points_conditional_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.comerzzia.iskaypet.pos.persistence.articlepoints.conditions.ArticlePointsConditions">
    insert into x_items_points_conditional_tbl (ACTIVITY_ID, ITEMCODE, ITEMCODE_CONDITIONAL, 
      QUANTITY)
    values (#{activityId,jdbcType=VARCHAR}, #{itemcode,jdbcType=VARCHAR}, #{itemcodeConditional,jdbcType=VARCHAR}, 
      #{quantity,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.comerzzia.iskaypet.pos.persistence.articlepoints.conditions.ArticlePointsConditions">
    insert into x_items_points_conditional_tbl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="activityId != null">
        ACTIVITY_ID,
      </if>
      <if test="itemcode != null">
        ITEMCODE,
      </if>
      <if test="itemcodeConditional != null">
        ITEMCODE_CONDITIONAL,
      </if>
      <if test="quantity != null">
        QUANTITY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="activityId != null">
        #{activityId,jdbcType=VARCHAR},
      </if>
      <if test="itemcode != null">
        #{itemcode,jdbcType=VARCHAR},
      </if>
      <if test="itemcodeConditional != null">
        #{itemcodeConditional,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.comerzzia.iskaypet.pos.persistence.articlepoints.conditions.ArticlePointsConditionsExample" resultType="java.lang.Long">
    select count(*) from x_items_points_conditional_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update x_items_points_conditional_tbl
    <set>
      <if test="record.activityId != null">
        ACTIVITY_ID = #{record.activityId,jdbcType=VARCHAR},
      </if>
      <if test="record.itemcode != null">
        ITEMCODE = #{record.itemcode,jdbcType=VARCHAR},
      </if>
      <if test="record.itemcodeConditional != null">
        ITEMCODE_CONDITIONAL = #{record.itemcodeConditional,jdbcType=VARCHAR},
      </if>
      <if test="record.quantity != null">
        QUANTITY = #{record.quantity,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update x_items_points_conditional_tbl
    set ACTIVITY_ID = #{record.activityId,jdbcType=VARCHAR},
      ITEMCODE = #{record.itemcode,jdbcType=VARCHAR},
      ITEMCODE_CONDITIONAL = #{record.itemcodeConditional,jdbcType=VARCHAR},
      QUANTITY = #{record.quantity,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.comerzzia.iskaypet.pos.persistence.articlepoints.conditions.ArticlePointsConditions">
    update x_items_points_conditional_tbl
    <set>
      <if test="quantity != null">
        QUANTITY = #{quantity,jdbcType=DECIMAL},
      </if>
    </set>
    where ACTIVITY_ID = #{activityId,jdbcType=VARCHAR}
      and ITEMCODE = #{itemcode,jdbcType=VARCHAR}
      and ITEMCODE_CONDITIONAL = #{itemcodeConditional,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.comerzzia.iskaypet.pos.persistence.articlepoints.conditions.ArticlePointsConditions">
    update x_items_points_conditional_tbl
    set QUANTITY = #{quantity,jdbcType=DECIMAL}
    where ACTIVITY_ID = #{activityId,jdbcType=VARCHAR}
      and ITEMCODE = #{itemcode,jdbcType=VARCHAR}
      and ITEMCODE_CONDITIONAL = #{itemcodeConditional,jdbcType=VARCHAR}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.comerzzia.iskaypet.pos.persistence.articlepoints.conditions.ArticlePointsConditionsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from x_items_points_conditional_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>