#*
<div class="czz-card footer fw-bold">
	<div class="row">
		<div class="row red-text fw-bold">
			<div class="col-3">#i18n("1- Selecciona el medio de pago en la parte superior derecha. El tipo por defecto estará iluminado.")</div>
			<div class="col-3">#i18n("2- Introduce el importe y pulsa botón OK o tecla enter")</div>
			<div class="col-3">#i18n("3- Una vez superada la cantidad pendiente se habilitará el botón Aceptar para finalizar la venta")</div>			
		</div>
		<hr/>
		<div class="row fw-bold">
			<div class="col-5">#i18n("Si hay algún error de validación se iluminará la campana a la derecha del tipo de documento")</div>			
		</div>
	</div>
</div>
*#